<div class="right-bar pos-fix zindex-12" ng-controller="RightbarCtrl">
    <ul>
        <li>
            <div class="right-bar-user txt-c" ng-click="gotoUserProfile()">
                <img ng-src="{{userAvatar}}" class="user-icon" />
                <div class="user-profile">
                    <div class="user-name" title="{{user.userName}}">{{user.userName}}</div>
                    <div class="user-role" title="{{user.userTitle}}">{{user.userTitle}}</div>
                </div>
            </div>
        </li>
        <!--<li ng-repeat="item in navItems" ng-class="{active: index === $index}">
            <div ng-click="navTo(item, $index)">{{item.text | translate}}</div>
        </li>-->

        <!--home/doctor-->
        <li ng-class="{active: index === 0}"
            xg-auth-permissions="{{permissions.dashboard.doctor}}">
            <div ng-click="navTo('page.doctorhome', 0)">{{'NAV_HOME' | translate}}</div>
        </li>

        <!--home/admin-->
        <!-- <li ng-class="{active: index === 1}"
            xg-auth-permissions="{{permissions.dashboard.admin}}">
            <div ng-click="navTo('page.adminhome', 1)">{{'NAV_HOME' | translate}}</div>
        </li> -->

        <!--home/moderate-->
        <li ng-class="{active: index === 2}"
            xg-auth-permissions="{{permissions.dashboard.moderator}}">
            <div ng-click="navTo('page.moderatehome', 2)">{{'NAV_HOME' | translate}}</div>
        </li>

        <!--home/navigator-->
        <!--<li ng-class="{active: index === 3}"
            xg-auth-permissions="dashboard-navigator">
            <div ng-click="navTo('page.navigatorhome', 3)">{{'NAV_HOME' | translate}}</div>
        </li>-->

        <!--meeting-->
        <li ng-class="{active: index === 4}"
            xg-auth-permissions="{{permissions.meeting.list}}">
            <div ng-click="$root.changeSearchOption(1);navTo('page.meeting', 4)">{{'NAV_MEETING' | translate}}</div>
        </li>

        <!--offline-->
        <li ng-class="{active: index === 5}"
            xg-auth-permissions="{{permissions.mdt.list}}">
            <div ng-click="navTo('page.offline', 5)">{{'NAV_OFFLINE' | translate}}</div>
        </li>

        <!--patients-->
        <li ng-class="{active: index === 6}"
            xg-auth-permissions="{{permissions.patient.list}}">
            <div ng-click="$root.changeSearchOption(4);navTo('page.patient', 6)">{{'NAV_PATIENTS' | translate}}</div>
        </li>

        <!--users(doctors)-->
        <li ng-class="{active: index === 7}"
            xg-auth-permissions="{{permissions.user.list}}">
            <div ng-click="$root.changeSearchOption(5);navTo('page.user', 7)">{{'NAV_USERS' | translate}}</div>
        </li>

        <!--log-->
        <li ng-class="{active: index === 8}"
            xg-auth-permissions="{{permissions.audit.list}}">
            <div ng-click="$root.changeSearchOption(6);navTo('page.log', 8)">{{'NAV_LOG' | translate}}</div>
        </li>

        <!--doctor social-->
        <li ng-class="{active: index === 9}"
            xg-auth-permissions="{{permissions.social.doctor.list}}">
            <div ng-click="navTo('page.doctorsocial', 9)">{{'NAV_DOCTOR_SOCIAL' | translate}}</div>
        </li>
    </ul>
</div>
