﻿.right-bar {
    top: 52px;
    bottom: 0;
    right: 0;
    width: 160px;
    color: #fff;
    background-color: #0082d1;
    font-size: 16px;
}

    .right-bar ul li {
        height: 46px;
    }

        .right-bar ul li:first-child {
            height: auto;
        }

        .right-bar .active,
        .right-bar ul li:hover {
            background-color: #009fff;
            cursor: pointer;
        }

        .right-bar ul li:first-child > div:hover {
            background-color: #0082d1;           
        }

    .right-bar img.user-icon {
        width: 160px;
        height: 120px;
    }

    .right-bar .user-profile{
        height:60px;
    }

    .right-bar .user-name {
        padding: 6px 0;
    }

    .right-bar .user-role {
        font-size: 14px;
        color: #80cfff;
    }

    .right-bar ul li > div {
        padding: 10px 12px 10px 20px;
    }

    .right-bar ul li:first-child > div {
        padding: 0;
    }

    .right-bar .user-profile div {
        max-width: 160px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
