﻿#forgetpassword {
    width: 600px;
    margin: 120px auto;
}

    #forgetpassword .panel {
        height: 500px;
    }

        #forgetpassword .panel .panel-title {
            height: 30px;
            line-height: 30px;
            font-size: 24px;
            color: #fff;
        }

        #forgetpassword .panel h2 {
            line-height: 45px;
        }

        #forgetpassword .panel .btn {
            margin-top: 150px;
            padding: 16px 24px;
            font-size: 18px;
        }
