﻿<div id="forgetpassword">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                Medtronic
            </div>
        </div>
        <div class="panel-body m-t-30">
            <h2>{{'FORGET_PWD_CONTACT_ADMIN'|translate}}</h2>
            <input type="button" class="btn btn-primary" 
                   ng-click="returnToLogin()" 
                   value="{{'FORGET_PWD_RETURN_TO_LOGIN'|translate}}" />               
        </div>
    </div>
</div>
