﻿.user-add-or-edit {
}

    .user-add-or-edit .role-item {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        padding: 6px 12px;
        border: 1px solid #ddd;
        font-weight: 200;
        margin-right: 10px;
    }

    .user-add-or-edit .status-item {
        padding: 6px 12px 6px 0;
    }

    .user-add-or-edit .image-wrap {
        margin:0 auto;
        width: 160px;
    }

    .user-add-or-edit .detail-img {
        width: 160px;
        height: 120px;
    }

    .user-add-or-edit .select-file-btn {
        text-align: center;
        color: #fff;
        background-color: #3199d8;
        width: 100%;
        height: 34px;
        line-height: 34px;
        cursor: pointer;
    }

    .user-add-or-edit .user-edit-status {
        min-width: 80px;
        font-weight: 200;
        color: green;
        line-height: 36px;
    }

    .user-add-or-edit .user-edit-status.red {
        color:darkred;
    }

    .user-add-or-edit .panel-body p > label {
        max-width: 217px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .user-add-or-edit .div-ass-top {
        margin-top: 20px;
    }

    .user-add-or-edit .spec-padding {
        padding-right: 5px;
    }
