<ol class="breadcrumb margin-minus-32">
    <li class="bc-item bc-back f-l" ng-click="back()"></li>
    <li class="bc-item no-sep-icon f-l">
        <span ng-if="isEdit">{{'USER_EDIT_PAGE_TITLE' |translate }}</span>
        <span ng-if="!isEdit">{{'USER_ADD_PAGE_TITLE' |translate }}</span>
    </li>
</ol>

<div class="container-fluid">
    <div class="row page-content user-page user-add-or-edit">
        <!--User detail info-->
        <div class="col-md-7">
            <form novalidate class="form-horizontal" name="addOrEditUser" valdr-type="addOrEditUser" role="form">
                <div class="row">
                    <hr />
                    <div class="col-md-9">
                        <!--user name-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_ACCOUNT_NAME'|translate}}
                                <i class="fa fa-asterisk"></i>
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <div ng-if="isEdit">
                                    <input type="text" class="form-control hide" ng-model="user.accountName" name="accountName">
                                    <input type="text" class="form-control" ng-value="user.accountName" disabled="disabled">
                                </div>
                                <div ng-if="!isEdit">
                                    <input type="text"
                                           class="form-control"
                                           ng-value="user.accountName"
                                           ng-model="user.accountName"
                                           name="accountName"
                                           xg-change
                                           xg-on-change="onChangeAccountName(value)">
                                </div>
                                <!--validation: check if the account name is existing-->
                                <div class="valdr-message ng-invalid custom-error" ng-show="!isValidAccount">
                                    <span class="ng-scope">{{'VALID_ADD_OR_EDIT_CHECK_ACCOUNT' | translate}}</span>
                                </div>
                            </div>
                        </div>
                      
                        <!--roles-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_ACCOUNT_ROLE'|translate}}
                                <i class="fa fa-asterisk"></i>
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <select class="form-control"
                                        ng-model="user.role"
                                        ng-change="userTypeChanged()"
                                        ng-options="opt.name for opt in aroles"
                                        name="role"></select>
                            </div>
                        </div>

                        <!--status-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_STATUS_TITLE'|translate}}                               
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <div ng-show="user.accountStatus == 1">
                                    <label class="user-edit-status">{{'USER_STATUS_ENABLE' | translate}}</label>
                                    <input type="button" value="{{'USER_STATUS_DO_DISENABLE' | translate}}"
                                           class="btn btn-default"
                                           ng-click="enableAccount(false)"
                                           ng-show="user.id != null" />
                                </div>
                                <div ng-show="user.accountStatus !=1">
                                    <label class="user-edit-status red">{{'USER_STATUS_DISENABLE' | translate}}</label>
                                    <input type="button" value="{{'USER_STATUS_DO_ENABLE' | translate}}"
                                           class="btn btn-default"
                                           ng-click="enableAccount(true)"
                                           ng-show="user.id != null" />
                                </div>
                            </div>
                        </div>
                        <hr />

                        <!--name-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_NAME'|translate}}
                                <i class="fa fa-asterisk"></i>
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <input type="text" class="form-control"
                                       ng-model="user.name" name="name">
                            </div>
                        </div>

                        <!--title-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_TITLE'|translate}}
                                <i class="fa fa-asterisk"></i>
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <select class="form-control"
                                        ng-model="user.userTitle"
                                        ng-change="userTypeChanged()"
                                        ng-options="opt.name for opt in usertitles"
                                        name="userTitle"></select>
                            </div>
                        </div>

                        <!--hospital-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'TEXT_HOSPITAL'|translate}}
                                <i class="fa fa-asterisk"></i>
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <select class="form-control"
                                        ng-model="user.hospital"
                                        ng-change="userHospitalChanged()"
                                        ng-options="opt.name for opt in hospitals"
                                        name="hospital"></select>
                            </div>
                        </div>

                        <!--usertype-->
                        <!--<div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_TYPE'|translate}}
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <select class="form-control"
                                        ng-model="user.userType"
                                        ng-change="userTypeChanged()"
                                        ng-options="opt.name for opt in usertypes"
                                        name="userType"></select>
                            </div>
                        </div>-->

                        <!--dept-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_DEPT'|translate}}
                                <i class="fa fa-asterisk"></i>
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <select class="form-control"
                                        ng-model="user.dept"
                                        ng-change="deptChanged()"
                                        ng-options="opt.name for opt in depts"
                                        name="dept"></select>
                            </div>
                        </div>
                      
                        <!--tel-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_TEL'|translate}}                               
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <input type="text" class="form-control" ng-model="user.phone" name="phone">
                            </div>
                        </div>

                        <!--mobile-->                     
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_MOBILE'|translate}}
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <input type="text" class="form-control" ng-model="user.mobile" name="mobile">
                            </div>
                        </div>

                        <!--mail-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_MAIL'|translate}}
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <input type="text" class="form-control" ng-model="user.email" name="email">
                            </div>
                        </div>

                        <!--description-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_DESCRIPTION'|translate}}
                            </p>
                            <div valdr-form-group class="valdr-form-item">
                                <textarea class="form-control" rows="4" ng-model="user.description" name="description"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <!--image-->
                        <div class="row" ng-if="isEdit">
                            <div class="col-md-12">
                                <div class="image-wrap">
                                    <img ng-src="{{userAvatar}}" ng-hide="files[0].type.indexOf('image') > -1" class="detail-img" />
                                    <div ng-show="!isReupload">
                                        <div ngf-select=""
                                             ng-model="files"
                                             ngf-multiple="false"
                                             accept="image/*"
                                             ng-hide="files[0].type.indexOf('image') > -1"
                                             class="select-file-btn">
                                            {{'USER_SELECT_AVATAR' | translate}}
                                        </div>
                                    </div>
                                    <div ng-show="isReupload">
                                        <div ngf-select=""
                                             ng-model="files"
                                             ngf-multiple="false"
                                             accept="image/*"
                                             ng-hide="files[0].type.indexOf('image') > -1"
                                             class="select-file-btn">
                                            {{'USER_RESELECT_AVATAR' | translate}}
                                        </div>
                                    </div>
                                    <img ngf-src="files[0]" ng-show="files[0].type.indexOf('image') > -1" accept="image/*" class="detail-img" />
                                    <div ng-click="uploadImage()"
                                         ng-model="files"
                                         ng-show="files[0].type.indexOf('image') > -1"
                                         class="select-file-btn">
                                        {{'USER_UPLOAD_AVATAR' | translate}}
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <hr />
                </div>

                <!--buttons-->
                <hr />
                <div class="col-sm-12">
                    <div class="data-btns">
                        <input type="button"
                               class="btn btn-default f-l"
                               value="{{'USER_CHANGEPASSWORD_RESET_PWD' | translate}}"
                               ng-click="resetPwd()"
                               ng-show="user.id != null" />

                        <input type="button"
                               class="btn delete f-l"
                               value="{{'TEXT_DELETE' | translate}}"
                               ng-click="delete()"
                               ng-if="user.id != null" />

                        <input type="button"
                               class="btn ok f-r"
                               value="{{'TEXT_OK' | translate}}"
                               ng-disabled="addOrEditUser.$invalid || !isValidAccount"
                               ng-click="save(addOrEditUser)" />

                        <input type="button"
                               class="btn cancel f-r"
                               value="{{'TEXT_CANCEL' | translate}}"
                               ng-click="cancel()" />
                       
                    </div>                                       
                </div>
            </form>
        </div>
      
        <!--edit button-->
        <div class="col-md-3">
            <div class="btns-bar">
                <xg-unlock xg-on-click="back()">
                </xg-unlock>
            </div>
        </div>
    </div>
</div>

