﻿/*-------healthrecord-grid----------*/
.grid {
    background-color: #fff;
    border-bottom: 4px solid #efefef;
}

    .grid .row {
        margin: 0;
    }

.healthrecord-grid .xg-upload {
    position: absolute;
    right: -48px;
    top: 0;
}

.healthrecord-grid .select-history {
    margin: 30px auto 0;
    width: 90%;
}

.healthrecord-grid .healthrecord-list {
}

    .healthrecord-grid .healthrecord-list .hr-item {
        border-left: 1px solid #e6e4df;
        border-bottom: 1px solid #e6e4df;
        padding: 14px 12px;
        cursor: pointer;
        position: relative;
    }

        .healthrecord-grid .healthrecord-list .hr-item.none-bottom {
            border-bottom: none;
        }

        .healthrecord-grid .healthrecord-list .hr-item.active {
            background-color: #eef9ff;
        }

        .healthrecord-grid .healthrecord-list .hr-item span:nth-of-type(2) {
            font-size: 24px;
            position: absolute;
            top: 5px;
            right: 10px;
        }

.healthrecord-section .btns-bar .btn {
    padding: 16px 30px;
}

/*-------end----------*/

/*-------xg-healthrecord-popover ----------*/
.xg-healthrecord-popover {
    padding: 6px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-bottom-width: 4px;
    max-width: 986px;
    margin: 0 auto;
    display: inline-block;
}

    .xg-healthrecord-popover .item {
        float: left;
        margin-left: 6px;
        width: 120px;
    }

        .xg-healthrecord-popover .item .xg-edit-trash {
            right: auto;
            left: 0;
            top: 0;
            position: absolute;
        }

    .xg-healthrecord-popover .btns-container {
        margin-left: 6px;
        float: left;
        padding: 0 12px;
        height: 120px;
        min-width: 120px;
    }

    .xg-healthrecord-popover .item div:nth-of-type(1) img {
        width: 120px;
        height: 120px;
    }

    .xg-healthrecord-popover .item div:nth-of-type(1) {
        background-color: #000;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .xg-healthrecord-popover .item div:nth-of-type(2) {
        text-align: center;
    }

    .xg-healthrecord-popover .item div:nth-of-type(3) {
        text-align: center;
        font-size: 12px;
        color: #999;
    }

    .xg-healthrecord-popover .gray {
        background-color: #ededed;
    }

    .xg-healthrecord-popover nav {
        background-color: #fff;
        margin: 25px auto;
    }

        .xg-healthrecord-popover nav > div {
            padding: 6px 10px;
            border-bottom: 1px solid #f1f1f1;
        }

            .xg-healthrecord-popover nav > div:last-child {
                border-bottom: none;
            }

            .xg-healthrecord-popover nav > div:hover {
                cursor: default;
                background-color: #1797e5;
                color: #fff;
            }
/*-------end----------*/
