﻿<div class="grid healthrecord-grid pos-rel zindex-10" ng-controller="HealthrecordCtrl">   

    <!--placehoder to launch pc client for viewing healthrecord-->
    <a ng-href="{{hrPath}}" id="healthrecordlink" class="hide">View Healthrecord</a>
    <a ng-href="{{scanerPath}}" id="scanerlink" class="hide">Launch scanner</a>
    <!--<a ng-href="{{meetingPath}}" id="meetinglink" class="hide">Launch meeting</a>-->
    
    <!--healthrecord-->
    <div class="row"
         ng-mouseenter="focus=true"
         ng-mouseleave="focus=false">

        <div class="col-md-3 col-xs-3 clear-padding">
            <select class="form-control select-history"
                    ng-model="history"
                    ng-change="onChangedHistory(history)"
                    ng-options="opt.text for opt in patientHistories"
                    name="history"></select>
        </div>
        <div class="col-md-9 col-xs-9 healthrecord-list clear-padding">
            <div class="row">
                <div class="col-md-2 col-xs-2 clear-padding"
                     ng-repeat="item in patientGroupedHealthrecords">
                    <div class="hr-item"
                         ng-click="popover(item, $index, $event)"
                         ng-class="{'active': iNow===$index,'none-bottom': $index>5}">
                        <span>{{item.classification.name}}</span>
                        <span class="color-14">{{item.count}}</span>
                    </div>
                </div>
            </div>
        </div>

        <xg-upload ng-if="isPatientOwner || isModerator"
                   class="hide"
                   xg-on-upload="addNewHealthrecord()"></xg-upload>
    </div>

    <!--popover-->
    <div id="xgHealthrecordPopover" class="xg-healthrecord-popover clearfix pos-fix"
         ng-if="(healthrecordType.healthrecords&&healthrecordType.healthrecords.length !=0) || selectedHistoryInformation.status !== 5"
         ng-show="popoverOpt.show"
         ng-style="{'left': popoverOpt.left, 'top': popoverOpt.top}">
        <div class="item pos-rel" ng-repeat="hr in healthrecordType.healthrecords"
             ng-mouseenter="hr.focus=true"
             ng-mouseleave="hr.focus=false">
            <div>
                <img class="cursor-p"
                     ng-src="{{hr.thumbnail}}"
                     alt="{{hr.description}}"
                     ng-click="viewAttachment(hr)" />
            </div>
            <div class="trim-field height-fixed-22">{{hr.description}}</div>
            <div class="trim-field">{{hr.createTime | amDateFormat:'YYYY/MM/DD HH:mm'}}</div>
            <xg-edit-trash ng-if="(isPatientOwner || isModerator) && selectedHistoryInformation.status != 4"
                           ng-show="hr.focus"
                           only-trash="true"
                           entity="{{hr}}"
                           xg-on-trash="deleteHealthrecord(entity)"></xg-edit-trash>
        </div>
        <!--selectedHistoryInformation
            status:
                1->pending
                2->discussing
                3->queuing
                4->meeting
                5->finished

            only allow to add new healthrecord for progressing diagonstic.
        -->
        <!--<div class="item healthrecord-plus-icon"
             ng-if="(isPatientOwner || isModerator || isNavigator) && selectedHistoryInformation.status !== 5"
             ng-click="addNewHealthrecord(healthrecordType.classification)">
        </div>-->
        <div class="gray btns-container"
             ng-if="(isPatientOwner || isModerator || isNavigator) && selectedHistoryInformation.status !== 5">
            <nav>
                <div class="trim-field"
                     ng-click="addNewHealthrecord(healthrecordType.classification)">{{'TEXT_FROM_COMPUTER'|translate}}</div>
                <div class="trim-field"
                     ng-click="launchScanner(healthrecordType.classification)">{{'TEXT_FROM_SCANNER'|translate}}</div>
            </nav>
        </div>
    </div>

    <!--placehoder to launch pc client for viewing healthrecord-->
    <a ng-href="{{hrPath}}" id="healthrecordlink" class="hide">View Healthrecord</a>
</div>