﻿
<div ui-view>
    <ol class="breadcrumb">
        <li class="bc-item m-l-30">
            <span>{{'USER_LIST_PAGE_TITLE' |translate }}</span>
        </li>
        <!-- <li class="active">Data</li>-->
        <li class="bc-icon add-icon m-r-30">
            <a href="javascript:void(0)" ng-click="addAccount()"></a>
        </li>
    </ol>

    <div class="container-fluid">
        <div class="row page-content user-list ">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-1">
                            <div>{{'USER_LIST_ACCOUNT_NAME' |translate }}</div>
                        </th>
                        <th class="col-md-2">
                            <div>{{'USER_LIST_FULL_NAME' |translate }}</div>
                        </th>
                        <th class="col-md-1">
                            <div>{{'USER_LIST_TITLE' |translate }}</div>
                        </th>
                        <th class="col-md-2 custome-controls"
                            xg-filter
                            xg-title="{{'USER_LIST_DEPT' |translate }}"
                            xg-selected="filterByDept(item)"
                            xg-s-text="fstext"
                            dp-data="dbData"></th>
                        <th class="col-md-2">
                            <div>{{'USER_LIST_ROLE' |translate }}</div>
                        </th>
                        <th class="col-md-2 custome-controls"
                            xg-isort
                            xg-itext="{{'USER_LIST_CREATED_TIME' |translate }}"
                            xg-on-isort="sortByTime(asc)"></th>
                        <th class="col-md-2">
                            <div>{{'USER_STATUS_TITLE' |translate }}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users" ng-click="detail(user)" class="list-item">
                        <td title="{{user.accountName}}">{{user.accountName}}</td>
                        <td title="{{user.name}}">{{user.name}}</td>
                        <td title="{{user.userTitle.name}}">{{user.userTitle.name}}</td>
                        <td title="{{user.dept.name}}">{{user.dept.name}}</td>
                        <td title="{{joinRoles(user.roles)}}">{{joinRoles(user.roles)}}</td>
                        <td title="{{user.create_time | amDateFormat:'YYYY/MM/DD'}}">{{user.create_time | amDateFormat:'YYYY/MM/DD'}}</td>
                        <td title="{{'USER_STATUS_ENABLE' | translate}}" ng-if="user.accountStatus === 1">{{'USER_STATUS_ENABLE' | translate}}</td>
                        <td title="{{'USER_STATUS_DISENABLE' | translate}}" ng-if="user.accountStatus !== 1">{{'USER_STATUS_DISENABLE' | translate}}</td>
                    </tr>
                </tbody>
            </table>

            <xg-pagination xg-total-items="totalItems"
                           xg-page-changed="pageChanged(item)"
                           xg-page-size-changed="pageSizeChanged(item)"
                           xg-items-per-page="itemsPerPage"
                           xg-current-page="currentPage"
                           xg-show-page-text="true"
                           xg-show-entities-text="true">
            </xg-pagination>
        </div>
    </div>
</div>






