﻿<div class="xg-select" ng-mouseenter="" ng-mouseleave="opened=false">
    <input type="text"
           ng-focus="opened=false"
           class="form-control"
           name="{{name}}"
           ng-model="data"
           placeholder="{{'LOGIN_USER_NAME' | translate}}" />
    <span class="select-caret-down" ng-click="toggle()">
        <i class="fa fa-caret-down"></i>
    </span>
    <ul class="dropdown-menu" ng-class="{'show': opened}">
        <li ng-if="items==null || items.length ===0">
            <a href="javascript:void(0)">{{'XGSELECT_NONE_USER'|translate}}</a>
        </li>
        <li ng-repeat="item in items">
            <a href="javascript:void(0)"
                data-value="{{item.value}}"
                ng-click="onClickItem(item)">{{item.text}}</a>
        </li>
    </ul>
</div>
