<table role="grid" aria-labelledby="{{uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
      <thead>
        <tr>
            <th><button type="button" class="btn pull-left" ng-click="move(-1)" tabindex="-1"><i class="glyphicon glyphicon-chevron-left"></i></button></th>
            <th colspan="{{5}}"><button id="{{uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn" ng-click="toggleMode()" tabindex="-1" style="width:100%;"><strong>{{title}}</strong></button></th>
            <th><button type="button" class="btn pull-right" ng-click="move(1)" tabindex="-1"><i class="glyphicon glyphicon-chevron-right"></i></button></th>
        </tr>
        <tr>
            <th ng-repeat="label in labels track by $index" class="text-center"><small aria-label="{{label.full}}">{{label.abbr}}</small></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in rows track by $index">
          <td ng-repeat="dt in row track by dt.date" class="text-center" role="gridcell" id="{{dt.uid}}" aria-disabled="{{!!dt.disabled}}">
            <button type="button" ng-style="{'background-color': dt.color, 'border-color': dt.borderColor}" style="width:100%;" class="btn"  ng-class="{'btn-info': dt.selected, active: isActive(dt), 'btn-cannot-create-meeting':dt.disabled && dt.iconVisibility,'btn-meeting-default': !dt.disabled && !dt.hasMeeting && dt.iconVisibility}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1">
                    <span ng-class="{'text-muted': dt.secondary, 'text-info': dt.current}">{{dt.label}}</span>
                    <span style="padding-left:35px;" ng-if="dt.hasMeeting && dt.iconVisibility"><img src="/assets/src/img/icons/meeting.png" /></span>
             </button>
          </td>
        </tr>
      </tbody>
</table>