<div ng-controller="DiagnosisCtrl">
    <!--placehoder to launch pc client for joining meeting-->
    <a ng-href="{{meetingPath}}" id="diagnosisMeetinglink" class="hide">Launch meeting</a>

    <!--diagnostic-->
    <!--status
        1->pending
        2->discussing
        3->queuing
        4->meeting
        5->finished
    -->
    <div class="row m-t-20" ng-repeat="d in diagnosises">
        <div class="col-md-12 col-xs-12">
            <!--mdt status
                  1-> open
                  2-> closed
                  -->
            <div class="diagnostic" ng-class="{'active': d.mdt.status===1}">
                <!--heading-->
                <div class="heading">
                    <div class="row">
                        <div class="col-md-6 col-xs-6 pos-rel">
                            <p class="f-s-24">{{d.mdt.title}}</p>
                            <p class="f-s-18">{{d.mdt.start | amDateFormat:'YYYY/MM/DD HH:mm'}}</p>
                        </div>

                        <div class="col-md-6 col-xs-6 pos-rel">
                            <!--type
                                1-> discusion
                                2-> meeting
                            -->
                            <!--only meeting has countdown-->
                            <div class="text-right clearfix" ng-if="d.mdt.type===2 && d.mdt.status===1">
                                <div class="data-btns f-r" ng-if="d.mdt.start >= now">
                                    <input type="button"
                                           class="btn meeting meeting-btn"
                                           ng-click="joinMeeting(d)"
                                           value="{{'MDT_LIST_STATUS_JOIN'|translate}}" />
                                </div>
                                <div class="f-r" ng-if="d.mdt.start >= now">
                                    <div class="clearfix m-t-15 line-h-25">
                                        <span class="f-l m-r-10 f-s-14">{{'TEXT_TIME_AWAY_FROM'|translate}}</span>
                                        <xg-countdown_3 class="f-l f-s-18"
                                                        date="d.mdt.start">
                                        </xg-countdown_3>
                                    </div>
                                    <div class="text-center">
                                        <a href="javascript:void(0)" class="view-meeting-detail" ng-click="meetingDetail(d)">{{'TEXT_MEETING_DETAIL_INFOR'|translate}}</a>
                                    </div>
                                </div>

                                <!--only show one button for expired meeting-->
                                <div class="f-r" ng-if="d.mdt.start < now">
                                    <div class="text-center m-t-15">
                                        <a href="javascript:void(0)" class="view-meeting-detail" ng-click="meetingDetail(d)">{{'TEXT_MEETING_DETAIL_INFOR'|translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--reason-->
                <div class="reason">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <p>{{d.reason}}</p>
                        </div>
                    </div>
                </div>

                <!--conclusion-->
                <div class="conclusion">
                    <div class="row">
                        <div class="col-md-4 col-xs-4 m-b-15 item" ng-repeat="ga in d.mdt.groupedAttendees">
                            <div class="heading" ng-style="{'background-color':ga.dept.bgcolor}">
                                <span>{{ga.dept.name}}</span> 
                                <!--slide bar-->
                                <div class="slide-bar" ng-if="ga.suggestions.length > 1">
                                    <span class="m-l-5"
                                          ng-class="{'active': ga.iNow===$index}"
                                          ng-repeat="suggestion in ga.suggestions track by $index"
                                          ng-click="slide(ga, $index)"></span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="item" ng-show="ga.iNow===$index" ng-repeat="suggestion in ga.suggestions track by $index">
                                    <img class="avatar" ng-src="{{suggestion.doctor.avatar}}" alt="{{suggestion.doctor.userName}}" />
                                    <div class="info">
                                        <div class="f-s-12">
                                            <span>{{suggestion.doctor.userName}}</span>
                                            <span>{{suggestion.doctor.title}}</span>
                                            <span class="time">{{suggestion.createTime | amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                        </div>
                                        <div class="suggestion" ng-click="enlargeContent(suggestion.content)">
                                            <textarea class="disable" ng-if="suggestion.content"
                                                      readonly="readonly">
                                                {{suggestion.content}}
                                            </textarea>
                                            <div ng-if="!suggestion.content">{{'TEXT_NONE_COMMENT'|translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="no-suggestion" ng-if="ga.suggestions.length ===0">
                                    {{'TEXT_NONE_SUGGESTION'|translate}}
                                </div>-->
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-4 m-b-15 item add-disscusion"
                             ng-if="isPatientOwner && d.mdt.type===1 && d.mdt.status===1">
                            <div class="heading"></div>
                            <div class="content" ng-click="inviteDoctors(d)">
                                <div class="">{{'TEXT_ADD_DOCTOR_TO_DISCUSSION'|translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>