﻿.healthrecord-section .diagnostic {
    border: 2px solid #938e8e;
    border-top: none;
}

    .healthrecord-section .diagnostic.active {
        border-color: #0082d1;
    }

.diagnostic.active .heading {
    background-color: #0082d1;
}

.diagnostic .heading {
    min-height: 100px;
    padding: 10px 18px;
    color: #f1f1f1;
    background-color: #938e8e;
}

.diagnostic .meeting-btn {
    margin: 15px 0 0 25px;
    padding: 12px 36px;
}

.diagnostic .view-meeting-detail {
    text-decoration: underline;
    color: #fff;
}

.diagnostic .reason {
    padding: 16px 20px;
    background-color: #ebebea;
    min-height: 90px;
}

.diagnostic .conclusion {
    margin: 10px 6px;
}

    .diagnostic .conclusion .item {
        border: 2px solid transparent;
    }

    .diagnostic .conclusion .heading {
        color: #fff;
        padding: 12px 20px;
        min-height: 32px;
    }

        .diagnostic .conclusion .heading .slide-bar {
            position: absolute;
            right: 30px;
            top: 10px;
        }

            .diagnostic .conclusion .heading .slide-bar span.active {
                background-image: url('/assets/src/img/icons/dot_mouseover.png');
            }

            .diagnostic .conclusion .heading .slide-bar span {
                height: 25px;
                width: 25px;
                display: inline-block;
                cursor: pointer;
                background: transparent url('/assets/src/img/icons/dot.png') no-repeat center center;
            }

    .diagnostic .conclusion .content {
        background-color: #fff;
        padding: 15px 15px 50px;
        position: relative;
        overflow-y: hidden;
        height: 240px;
    }

        .diagnostic .conclusion .content .avatar {
            position: absolute;
            top: 15px;
            left: 15px;
        }

        .diagnostic .conclusion .content .info {
            margin-left: 70px;
        }

            .diagnostic .conclusion .content .info .suggestion {
                overflow-wrap: break-word;
                height: 180px;
                overflow-y: hidden;
                margin-top: 5px;
                font-size: 14px;
            }

                .diagnostic .conclusion .content .info .suggestion textarea.disable {
                    width: 100%;
                    height: 100%;
                    overflow-y: hidden;
                    border: none;
                    background: transparent;
                    text-indent: -198px;
                    outline: none;
                }

        .diagnostic .conclusion .content .no-suggestion {
            margin-top: 70px;
            text-align: center;
        }

    .diagnostic .conclusion .item.add-disscusion .heading {
        border: 2px solid #e4e1e1;
        border-bottom: none;
        background-color: #f5f5f5;
    }

    .diagnostic .conclusion .item.add-disscusion .content {
        height: 254px;
        cursor: pointer;
        border: 2px solid #e4e1e1;
        border-top: none;
        background: #f5f5f5 url('/assets/src/img/icons/plusbiggray_normal.png') no-repeat center center;
    }

        .diagnostic .conclusion .item.add-disscusion .content > div {
            margin-top: 150px;
            text-align: center;
        }


.diagnostic .start-meeting {
    height: 92px;
    width: 92px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    cursor: pointer;
}

    .diagnostic .start-meeting .text {
        line-height: 50px;
        text-align: center;
        color: #27c3f0;
        display: block;
        font-weight: 300;
        font-size: 12px;
    }

    .diagnostic .start-meeting .cdText {
        text-align: center;
        color: #f1f1f1;
        display: block;
        font-weight: 300;
        font-size: 12px;
    }

    .diagnostic .start-meeting:hover {
        border-color: #f1f1f1;
    }

        .diagnostic .start-meeting:hover .text,
        .diagnostic .start-meeting:hover .cdText {
            color: #f1f1f1;
        }
