﻿<div class="app-modal mdt-comments">
    <div class="row">
        <div class="app-modal-wrap col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
            <div class="app-modal-header">
                <h3 class="app-modal-title">
                    {{'TEXT_MDT_DISCUSSION'|translate}}
                </h3>
            </div>
            <div class="app-modal-body">
                <div class="comments-container" ng-class="{'has-reply': quoteComment!=null}">
                    <div class="reply-to-info">
                        <div ng-if="quoteComment!=null" class="p-r-10 trim-field">
                            <span>{{'REPLY'|translate}}</span>
                            <span>{{quoteComment.creator.userName}}</span>
                            <span>{{quoteComment.dept}}</span>
                            <span>{{quoteComment.createTime|amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                            <span>{{quoteComment.content}}</span>
                        </div>
                        <span ng-click="removeQuote()">
                            <i class="fa fa-remove"></i>
                        </span>
                    </div>
                    <textarea rows="8" 
                              class="form-control comments-control" 
                              ng-model="content"
                              placeholder="{{'TEXT_COMMENT_PLACEHOLDER'|translate}}">
                    </textarea>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="data-btns">
                    <button class="btn cancel" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok" ng-click="ok()"
                            ng-disabled="!content">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
