﻿.mdt-comments {
}

.comments-container.has-reply .reply-to-info {
    display: block;
    border-bottom: none;
}

.comments-container.has-reply .comments-control {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-color: #efefef;
}


.comments-container .reply-to-info {
    display: none;
    height: 32px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 32px;
    position: relative;
    padding: 0 10px;
    border: 1px solid #ccc;
    color: #888;
}

    .comments-container .reply-to-info > span {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 5px;
        cursor: pointer;
    }
        .comments-container .reply-to-info > span:hover {
            background-color:#f5f5f5;
        }

.comments-container .comments-control {
    padding: 5px 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: none;
}

    .comments-container .comments-control.form-control:focus {
        border-color: #ccc;
        box-shadow: none;
    }
