.dashboard {
}

    .dashboard .p-img {
        width: 50px;
        /*height: 50px;*/
    }

    .dashboard .smart-select ul.dropdown-menu {
        left: auto;
        right: 0;
    }

    .dashboard .smart-select > ul.dropdown-menu > li > a {
        display: block;
        height: auto;
        line-height: normal;
        max-width: 350px;
        border-bottom: 1px solid #f1f1f1;
        padding: 8px 10px;
    }
/*------heading--------*/

.breadcrumb .bc-item.time {
    font-size: 20px;
    color: #67a5db;
}

.d-heading {
    height: 60px;
    padding: 18px 60px 20px 16px;
    position: relative;
    font-size: 18px;
    color: #fff;
}

    .d-heading .d-icon {
        display: block;
        position: absolute;
        height: 60px;
        width: 60px;
        top: 0;
        right: 0;
        text-align: center;
        cursor: pointer;
    }

        .d-heading .d-icon .fa {
            font-size: 18px;
            margin-top: 20px;
        }

.dashboard .p-time {
    font-size: 14px;
    color: #aeaeae;
}

.dashboard .clear-table-border.table-2.table > tbody > tr:hover,
.dashboard .clear-table-border.table-2.table > tbody > tr > td:hover {
    cursor: default;
    background-color: #fff;
}

.dashboard .patientship-content .clear-table-border.table-2.table > tbody > tr,
.dashboard .patientship-content .clear-table-border.table-2.table > tbody > tr > td,
.dashboard .doctorship-content .clear-table-border.table-2.table > tbody > tr,
.dashboard .doctorship-content .clear-table-border.table-2.table > tbody > tr > td {
    cursor: default;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
}

.dashboard .color-4 {
    color: #6ba9de;
}

.dashboard .color-5 {
    color: #02b4a5;
}

/*-------end--------*/

/*-------dashboard-heading----------*/
.dashboard .dashboard-heading {
    min-height: 120px;
    position: relative;
    background-color: #27a4f0;
    color: #fff;
    padding: 12px 140px 12px 16px;
}

.dashboard-heading .db-mdt > div:nth-of-type(3) {
    position: absolute;
    bottom: 12px;
    left: 16px;
}

.dashboard-heading .db-mdt .div-top {
    margin-top: 10px;
}

.dashboard-heading .db-countdown {
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    height: 120px;
    width: 140px;
    background-color: #fff;
}

.dashboard-heading .start-meeting {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #27c3f0;
    cursor: pointer;
}

    .dashboard-heading .start-meeting .text {
        line-height: 90px;
        text-align: center;
        color: #27c3f0;
        display: block;
        font-weight: 600;
    }

    .dashboard-heading .start-meeting:hover {
        border-color: #27a4f0;
    }

        .dashboard-heading .start-meeting:hover .text {
            color: #27a4f0;
        }
/*-------end----------*/

/*-------discussion----------*/
.patientship,
.doctorship,
.discussion {
    min-height: 400px;
    border: 1px solid #efefef;
    border-bottom-width: 4px;
}

    .discussion .d-heading {
        background-color: #77bb1f;
    }

    .discussion .discussion-heading-2 {
        height: 60px;
        background-color: #f2f8eb;
        padding: 12px 100px 12px 22px;
        position: relative;
    }

        .discussion .discussion-heading-2 .d-icon {
            background-color: #fff;
            position: absolute;
            height: 60px;
            width: 100px;
            top: 0;
            right: 0;
            text-align: center;
        }

            .discussion .discussion-heading-2 .d-icon .fa {
                font-size: 18px;
                margin-top: 20px;
            }
/*-------end----------*/

/*-------doctorship----------*/
.doctorship {
    background-color: #fff;
}

    .doctorship .d-heading {
        background-color: #f7a800;
    }

.doctorship-item-1 .item-title {
    color: #ff7247;
    font-size: 18px;
    margin-bottom: 10px;
}

.doctorship-item-1 .p-img {
    /*display: block;
    float: left;*/
    position:absolute;
}

.doctorship-item-1 .p-info {
    /*margin-left: 10px;
    display: block;
    float: left;*/
    padding: 0 10px 5px 55px;
}
/*-------end----------*/

/*-------more-info----------*/
.dashboard .more-info {
    text-align: center;
    min-height: 120px;
    background-color: #f5f5f5;
    border: 1px solid #efefef;
}

    .dashboard .more-info .p-item {
        height: 120px;
        width: 130px;
        overflow: hidden;
        float: left;
        position: relative;
    }

        .dashboard .more-info .p-item .p-number {
            margin-top: 15px;
            font-size: 42px;
            font-weight: normal;
            color: #fe9268;
        }

.more-info .p-item .p-number.color-1 {
    color: #00c4b3;
}

.more-info .p-item .p-number.color-2 {
    color: #fccc7e;
}

.more-info .p-item .p-number.color-3 {
    color: #77bc1f;
}

.dashboard .more-info .p-item .p-text {
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}
/*-------end----------*/

/*-------patientship----------*/
.patientship .d-heading {
    background-color: #00c4b3;
}
/*-------end----------*/

/*-------concern----------*/
.concern-content {
    min-height: 400px;
}

.concern {
    border: 1px solid #efefef;
    background-color: #f5f5f5;
}

    .concern .d-heading {
        background-color: #03afe7;
    }

    .concern .concern-item {
        border-bottom: 2px solid #efefef;
        padding: 8px 20px;
    }

        .concern .concern-item .p-note {
            color: #aeaeae;
            font-size: 14px;
        }
/*-------end----------*/
