﻿<div class="container-fluid">
    <ol class="breadcrumb m-b-0">
        <li class="bc-item time">
            <!--<div>2015/09/01 星期二 10:12</div>-->
            <xg-time></xg-time>
        </li>
        <li class="bc-icon add-icon hidden">
            <a href="javascript:void(0)" ng-click="add()"></a>
        </li>
    </ol>

    <div class="page-content dashboard">
        <!--<h1>TODO: Dashboard</h1>
        <input type="button" value="cn" ng-click="changeLanguage('cn')" class="btn btn-default" />
        <input type="button" value="en" ng-click="changeLanguage('en')" class="btn btn-default" />-->
        <!--placehoder to launch pc client for viewing healthrecord-->
        <a ng-href="{{hrPath}}" id="healthrecordlink" class="hide">View Healthrecord</a>

        <!--placehoder to launch pc client for joining meeting-->
        <a ng-href="{{meeting}}" id="meeting" class="hide">Meeing Now</a>

        <div class="row">
            <!--left side-->
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dashboard-heading">
                                    <div class="db-mdt" ng-click="gotoMdt(mdts.mdt)">
                                        <div class="f-s-24">{{'DASHBOARD_MDT_BASIC_TITLE' | translate}}</div>
                                        <div class="f-s-16 div-top">{{mdts.mdt.title}}</div>
                                        <div class="f-s-14">
                                            <xg-meeting-time-location xg-mdts="mdts">
                                            </xg-meeting-time-location>
                                        </div>
                                    </div>
                                    <div class="db-countdown">
                                        <div ng-show="showCountdown">
                                            <xg-countdown color="#27c3f0"
                                                          radius="50"
                                                          text="LET_US_MEETING_IN_2"
                                                          stroke="5"
                                                          total="mdtTotalTimespan"
                                                          basic="mdtPassedTimespan"
                                                          topic="xg.countdown.dashboard"
                                                          xg-completed="countdownCompleted()">
                                            </xg-countdown>                                          
                                        </div>
                                        <div ng-show="!showCountdown">
                                            <div class="start-meeting" ng-click="joinMeeting()">
                                                <span class="text"
                                                      ng-if="user.account.userId===mdts.mdt.creator.userId">
                                                    {{'MDT_LIST_STATUS_START'| translate}}
                                                </span>
                                                <span class="text"
                                                      ng-if="user.account.userId!==mdts.mdt.creator.userId">
                                                    {{'MDT_LIST_STATUS_JOIN'| translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 m-t-30">
                                <div class="discussion">
                                    <div class="d-heading">
                                        <div class="d-title">{{'TEXT_MDT_DISCUSSION'|translate}}</div>
                                        <span class="d-icon" ng-click="gotoMdtList()">
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </div>
                                    <div class="discussion-heading-2">
                                        <div ng-if="!latestMdt">
                                            {{'NONE_UNCLOSED_MDT'|translate}}
                                        </div>
                                        <div ng-if="latestMdt!=null">
                                            <div ng-click="gotoMdt(latestMdt)">
                                                <div class="trim-field">{{latestMdt.title | firstCapitalize}}</div>
                                                <div class="p-time">
                                                    <span>{{latestMdt.creationTime}}</span>
                                                    <span>{{'TO'| translate}}</span>
                                                    <span>{{latestMdt.discussionDateTime}}</span>
                                                </div>
                                            </div>
                                            <span class="d-icon" ng-click="openedDdl=!openedDdl">
                                                <i class="fa fa-angle-down"></i>
                                            </span>
                                            <!--mdt dropdown list-->
                                            <div ng-class="{'open': openedDdl}" class="smart-select">
                                                <ul class="dropdown-menu" ng-click="openedDdl=false" ng-mouseleave="openedDdl=false">
                                                    <li ng-click="onDdlSelect(m);" ng-repeat="m in allMdts">
                                                        <a>
                                                            <div class="trim-field">{{m.title | firstCapitalize}}</div>
                                                            <!--<div class="p-time">
                                                                <span>{{m.creationTime}}</span>
                                                                <span>{{'TO'| translate}}</span>
                                                                <span>{{m.discussionDateTime}}</span>
                                                            </div>-->
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="discussion-content">
                                        <table class="table table-2 clear-table-border">
                                            <tbody>
                                                <tr class="chat-item"
                                                    ng-repeat="comment in comments">
                                                    <td class="width-fix-60">
                                                        <img class="c-img" ng-src="{{comment.creator.avatar}}" />
                                                    </td>
                                                    <td class="col-md-10">
                                                        <div class="pos-rel p-r-40">
                                                            <div class="chat-title trim-field">
                                                                <span>{{comment.creator.userName}}</span>
                                                                <span>{{comment.creator.dept}}</span>
                                                                <span class="chat-time">{{comment.createTime | amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                                                <span ng-if="comment.reference!=null">
                                                                    <span>{{'REPLIED'|translate}}</span>
                                                                    <span>{{comment.reference.creator.userName}}</span>
                                                                    <span>{{comment.reference.creator.dept}}</span>
                                                                    <span class="chat-time">{{comment.reference.createTime | amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                                                    <span>{{'PUBLISHED'|translate}}</span>
                                                                    <span>{{comment.reference.brief}}</span>
                                                                </span>
                                                            </div>
                                                            <div class="chat-content m-t-5">
                                                                <div ng-if="comment.attach!=null">
                                                                    <img ng-src="{{comment.attach.url}}"
                                                                         class="width-fix-160 cursor-p"
                                                                         ng-click="viewAttachment(comment)" />
                                                                </div>
                                                                <div>{{comment.content}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 m-t-30">
                                <div class="doctorship">
                                    <div class="d-heading">
                                        <div class="d-title">{{'USER_PROFILE_DOCTOR_RELATIONSHIP'|translate}}</div>
                                        <span class="d-icon" ng-click="gotoDoctorGroups()">
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </div>

                                    <div class="doctorship-content">
                                        <table class="table table-2 clear-table-border">
                                            <tbody>
                                                <tr ng-repeat="dg in doctorGroups" ng-click="viewDoctorGroup(dg)">
                                                    <td class="doctorship-item-1">
                                                        <div class="item-title">{{dg.title}}</div>
                                                        <div class="clearfix pos-rel" ng-if="dg.message!=null">
                                                            <img class="p-img" ng-src="{{dg.message.creator.avatar}}" />
                                                            <div class="p-info">
                                                                <div>
                                                                    <span class="color-4">{{dg.message.creator.userName}}</span>
                                                                    <span>{{dg.message.creator.dept}}</span>
                                                                    <span class="p-time">{{dg.create_time | amDateFormat:'HH:mm'}}</span>
                                                                </div>
                                                                <div>{{dg.message.content}}</div>
                                                            </div>
                                                        </div>
                                                        <div class="f-s-12 trim-field" ng-if="!dg.message">
                                                            {{'TEXT_NO_CONVERSTAION'|translate}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="more-info clearfix">
                                <div class="p-item">
                                    <div class="p-number">
                                        {{mdts.ongoing.length}}
                                    </div>
                                    <div class="p-text">
                                        {{'DASHBOARD_MDT_ONGOING' | translate}}
                                    </div>
                                </div>

                                <div class="p-item">
                                    <div class="p-number color-1">
                                        {{mdts.onscheduling.length}}
                                    </div>
                                    <div class="p-text">
                                        {{'DASHBOARD_MDT_UPCOMING' | translate}}
                                    </div>
                                </div>

                                <div class="p-item">
                                    <div class="p-number color-2">
                                        {{mdts.ondiscussing.length}}
                                    </div>
                                    <div class="p-text">
                                        {{'DASHBOARD_MDT_HISTORY_DIS' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 m-t-30">
                            <div class="patientship">
                                <div class="d-heading">
                                    <div class="d-title">Patients' Circle</div>
                                    <span class="d-icon">
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                </div>
                                <div class="patientship-content">
                                    <table class="table table-2 clear-table-border">
                                        <tbody>
                                            <tr class="patientship-item-1 ">
                                                <td class="width-fix-60">
                                                    <img class="p-img" src="/assets/src/img/icons/male.png" />
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="color-5">Jackson Micheal</span>
                                                        <span>M</span>
                                                        <span>63</span>
                                                        <span>AD:9021641</span>
                                                    </div>
                                                    <div class="p-time">08:24 AM, Nov 5, 2015</div>
                                                    <div>I felt limp, glutted the other day.</div>
                                                </td>
                                            </tr>
                                            <tr class="patientship-item-1 ">
                                                <td class="width-fix-60">
                                                    <img class="p-img" src="/assets/src/img/icons/female.png" />
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="color-5">Jane Doe</span>
                                                        <span>F</span>
                                                        <span>46</span>
                                                        <span>AD:4723688</span>
                                                    </div>
                                                    <div class="p-time">7:45 PM, Nov 7, 2015</div>
                                                    <div>I have signs of bloating, constipation.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--right side-->
            <div class="col-md-2">
                <div class="concern">
                    <div class="d-heading">
                        <div class="d-title">{{'TEXT_MY_FAVORITE'|translate}}</div>
                        <span class="d-icon" ng-click="gotoFavorites()">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </div>
                    <div class="concern-content">
                        <div class="concern" ng-if="favorites.length===0">
                            <div class="p-note">{{'TEXT_NONE'|translate}}</div>
                        </div>
                        <div ng-if="favorites.length!==0"
                             class="concern-item"
                             ng-repeat="favorite in favorites"
                             ng-click="patientDetail(favorite)">
                            <div>
                                <span>{{favorite.patient.name}}</span>
                                <span>{{favorite.patient.age}}{{'OLD'|translate}}</span>
                                <span>{{favorite.patient.creator.dept}}</span>
                            </div>
                            <div class="p-note">{{favorite.patient.des}}</div>
                            <div class="p-note">{{favorite.remark}}</div>
                        </div>
                        <!--<div class="concern-item">
                            <div>朱自清 44 男科室</div>
                            <div class="p-note">诊断内容</div>
                            <div class="p-note">我的关注笔记是...</div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
