﻿<div>
    <div class="error-icon  page-not-found"></div>
    <h1>{{'TEXT_ERROR_FORBIDDEN'|translate}}</h1>
    <h4 class="m-t-30">
        <a href="javascript:void(0)" ng-click="back()">{{'TEXT_GO_BACK_LAST_PAGE'|translate}}</a>
        <a href="javascript:void(0)" ng-click="navToLogin()">{{'TEXT_GO_TO_LOGIN'|translate}}</a>
    </h4>
</div>