.enlarge-home {
}

    .enlarge-home .enlarge-body {
        min-height: 330px;
        padding: 12px;
        margin: 10px;
        background-color: aliceblue;
        white-space: normal;
    }

    .enlarge-home .enlarge-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        top: -20px;
        right: 0;
        text-align: center;
        background-color: #ddd;
        padding: 7px;
        border-radius: 50%;
        color: #000;
        cursor: pointer;
        box-shadow: 0 0 6px #000;
    }

        .enlarge-home .enlarge-btn:hover {
            background-color: #ccc;
        }

.modal.width-scale-50 .modal-content {
    border-radius: 16px;
}
