﻿<div class="xg-filter">
    <label class="f-l">
        <label class="f-l">
            <label>{{title}}</label>
        </label>
        <label class="selected-item f-l">
            {{sItem}}
        </label>
    </label>

    <label class="f-r f-icon-wrap">
        <span class="dropdown xg-filter" dropdown on-toggle="toggled(open)">
            <label class="dropdown-toggle" dropdown-toggle>
                <img ng-show="!isActive" src="/assets/src/img/icons/filter0.png" />
                <img ng-show="isActive" src="/assets/src/img/icons/filter1.png" />
            </label>
            <ul class="dropdown-menu">
                <li ng-repeat="item in dpData" ng-click="selected(item)">
                    <a href>{{item.name}}</a>
                </li>
            </ul>
        </span>
    </label>
</div>
