﻿<svg class="countdown"
     ng-attr-width="{{diameter}}"
     ng-attr-height="{{diameter}}"
     ng-attr-viewbox="0 0 {{diameter}} {{diameter}}">
    <defs>
        <mask ng-attr-id="countdown-mask-{{$id}}">
            <circle cx="50%" cy="50%" ng-attr-r="{{radius}}" fill="#ddd" />
            <circle cx="50%" cy="50%" ng-attr-r="{{radius - stroke}}" fill="#000" />            
        </mask>
    </defs>
    <g ng-attr-mask="url(#countdown-mask-{{$id}})">       
        <circle cx="50%" cy="50%" fill="none" ng-attr-r="{{cradius}}" ng-attr-stroke="{{cfill}}" ng-attr-stroke-width="{{stroke}}" />
        <path class="countdown-border" ng-attr-id="loader-{{$id}}" />
    </g>
    <g transform="translate(0, 10)">
        <text x="50%" y="40%" font-size="16" text-anchor="middle" fill="#27c3f0">离预约会诊还有</text>
        <text x="50%" y="55%" font-size="16" text-anchor="middle" fill="#bdbdbd">2天18小时25分</text>
    </g>    
</svg>
