﻿<ol class="breadcrumb margin-minus-32">
    <li class="bc-item bc-back f-l" ng-click="back()"></li>
    <li class="bc-item no-sep-icon f-l">
        <span>{{'USER_PROFILE_PAGE_TITLE' |translate }}</span>
    </li>
</ol>

<div class="container-fluid">
    <div class="row page-content user-page profile">
        <div class="col-md-3 col-sm-4 text-center left-info">
            <img ng-src="{{userAvatar}}" class="profile-img" />
            <p><strong>{{user.name}}</strong></p>
            <hr />

            <div class="info">
                <div ng-if="user.mobile">
                    <i class="fa fa-mobile"></i>
                    <span>{{user.mobile}}</span>
                </div>

                <div ng-if="user.phone">
                    <i class="fa fa-phone"></i>
                    <span>{{user.phone}}</span>
                </div>

                <div ng-if="user.email">
                    <i class="fa fa-envelope"></i>
                    <span>{{user.email}}</span>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-8">
            <div class="box">
                <h2 class="box-title">{{'USER_PROFILE_INFO' |translate }}</h2>
                <ul class="nav nav-tabs userProfile-tabs nav-justified" role="tablist">
                    <li role="presentation" ng-class="{'active': iNow===1}" ng-click="tab(1)">
                        <a href=" javascript:void(0)">{{'USER_PROFILE_ABOUT' |translate }}</a>
                    </li>
                    <li role="presentation" ng-class="{'active': iNow===2}" ng-click="tab(2)">
                        <a href="javascript:void(0)">{{'USER_PROFILE_ACTIVITIES' |translate }}</a>
                    </li>
                    <li role="presentation" ng-class="{'active': iNow===3}" ng-click="tab(3)">
                        <a href="javascript:void(0)">{{'USER_PROFILE_DOCTOR_RELATIONSHIP' |translate }}</a>
                    </li>
                    <li role="presentation" ng-class="{'active': iNow===4}" ng-click="tab(4)">
                        <a href="javascript:void(0)">{{'USER_PROFILE_PATIENT_RELATIONSHIP' |translate }}</a>
                    </li>
                </ul>

                <div>
                    <div id="tab-item-1" class="tab-content" ng-class="{'active': iNow===1}">
                        <!--<h1>todo</h1>-->
                    </div>
                    <div id="tab-item-2" class="tab-content" ng-class="{'active': iNow===2}">
                        <!--<h1>todo</h1>-->
                    </div>
                    <div id="tab-item-3" class="tab-content" ng-class="{'active': iNow===3}">
                        <!--<h1>todo</h1>-->
                    </div>
                    <div id="tab-item-4" class="tab-content" ng-class="{'active': iNow===4}">
                        <!--<h1>todo</h1>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

