﻿.profile {
}

    .profile .left-info {
        background-color: #fff;
        border-bottom: 10px solid #f1f1f1;
        min-height: 400px;
    }

    .profile .profile-img {
        display: block;
        width: 80%;
        height: auto;
        margin: 0 auto;
        padding: 20px 0;
    }

    .profile .info {
    }

        .profile .info > div {
            position: relative;
            padding: 5px 15px 10px 40px;
            text-align: left;
        }

        .profile .info .fa {
            position: absolute;
            top: 8px;
            left: 15px;
            font-size: 16px;
        }

    .profile .box {
        margin: 0 15px 15px 15px;
    }

    .profile .box-title {
        margin-top: 0;
    }

    .profile .nav-tabs {
        border-bottom: 1px solid #ddd;
    }

    .profile .nav {
        padding-left: 0;
        list-style: none;
    }

    .profile .userProfile-tabs {
    }

    .profile .nav-tabs > li > a {
        background: 0 0;
        border: none;
        border-bottom: 1px solid transparent;
    }

    .profile .nav-tabs.nav-justified > .active > a,
    .profile .nav-tabs > li.active > a {
        border: none;
        border-bottom: 1px solid #fe5621;
        color: #fe5621;
    }

        .profile .nav-tabs > li.active > a:focus,
        .profile .nav-tabs > li.active > a:hover {
            border: none;
            border-bottom: 1px solid #fe5621;
            color: #fe5621;
            background-color: transparent;
        }

    .profile .tab-content {
        display: none;
        padding: 15px;
    }

        .profile .tab-content.active {
            display: block;
        }
