﻿.detail-patient-old {
}

    .detail-patient-old .detail-base-info {
        background-color: #fff;
        padding: 20px 0;
        margin: 0;
        border-bottom: 4px solid #efefef;
        position: relative;
    }

        .detail-patient-old .detail-base-info label {
            font-weight: 200;
        }

        .detail-patient-old .detail-base-info .detail-reason {
            min-height: 50px;
            border: 1px solid #ddd;
        }

        .detail-patient-old .detail-base-info .list-item-key {
            display: block;
            line-height: 30px;
        }

        .detail-patient-old .detail-base-info .list-item-text {
            display: block;
            border: 1px dashed #ddd;
            padding: 3px 6px;
            height: 30px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

    .detail-patient-old .start-high-shot-meter-icon {
        height: 133px;
        line-height:normal;
        display: table-cell;
        vertical-align: middle;
    }

    .detail-patient-old .xg-edit-trash {
        position: absolute;
        right: 0;
        top: 0;
    }

    .detail-patient-old .detail-docx {
        margin: 20px 0 0 0;
    }

    .detail-patient-old .patient-docx-title {
        font-size: 26px;
    }

    .detail-patient-old .form-group .trim-detail{
        max-width: 353px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .detail-patient-old .patient-docx-section {
        border: 1px solid #888;
        display: inline-block;
    }

        .add-patient-material .patient-docx-section .patient-docx-item,
        .detail-patient-old .patient-docx-section .patient-docx-item {
            border: 1px solid #888;
            padding: 6px 12px;
            float: left;
            text-align: center;
            margin: 6px;
        }

            .detail-patient-old .patient-docx-section .patient-docx-item.plus-icon {
                height: 133px;
                width: 104px;
                line-height: 133px;
                background-color: #fff;
                cursor: pointer;
            }

            .add-patient-material .patient-docx-section .patient-docx-item img,
            .detail-patient-old .patient-docx-section .patient-docx-item img {
                height: 80px;
                width: 80px;
            }

            .add-patient-material .patient-docx-section .patient-docx-item .hr-desc,
            .detail-patient-old .patient-docx-section .patient-docx-item .hr-desc {
                font-size: 16px;
                max-width: 80px;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .add-patient-material .patient-docx-section .patient-docx-item .hr-date,
            .detail-patient-old .patient-docx-section .patient-docx-item .hr-date {
                font-size: 12px;
                color: #888;
            }

.xg-trash.trash-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.item-wrapper a{
    display: inline-block;
    text-decoration: none!important;
    width: 80px;
    height: 22px;
}

.item-wrapper{
    /*display: inline;*/
    position: relative;
}

.item-wrapper form {
    position: absolute;
    top: -53px;
    background: #FFF;
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 7px;
    width: 220px;
    display: inline-block;
    left: 50%;
    margin-left: -95px;
    z-index: 101;
}

.item-wrapper form:before{
    content:"";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #AAA;
    position:absolute;
    bottom:-10px;
    left:100px;
}

.item-wrapper form:after{
    content:"";
    width:0;
    height:0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFF;
    position:absolute;
    bottom:-9px;
    left:101px;
}


