﻿<ol class="breadcrumb margin-minus-32">
    <li class="bc-item bc-back f-l" ng-click="back()"></li>
    <li class="bc-item no-sep-icon f-l">
        <span>{{'PATIENT_LIST_PAGE_TITLE' |translate }}</span>
    </li>
</ol>

<div class="container-fluid">

    <div class="row page-content detail-patient-old">
        <!--base information-->
        <div class="row detail-base-info p-icon custom-fav-icon" ng-mouseenter="patient.focus=true" ng-mouseleave="patient.focus=false">
            <div class="col-md-8">
                <div class="row">
                    <!--patient id-->
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label txt-r list-item-key">{{'PATIENT_DETAIL_ID' | translate}}</label>
                        <label class="col-md-8 list-item-text trim-detail" title="{{patient.ptnum}}">
                            {{patient.ptnum}}
                        </label>
                    </div>

                    <!--name-->
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label txt-r list-item-key">{{'PATIENT_LIST_NAME' | translate}}</label>
                        <label class="col-md-8 list-item-text trim-detail" title="{{patient.name}}">
                            {{patient.name}}
                        </label>

                    </div>

                    <!--hosiptal id-->
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label txt-r list-item-key">{{'PATIENT_LIST_SEEDOCTOR_HOSPITAL_ID' | translate}}</label>
                        <label class="col-md-8 list-item-text trim-detail" title="{{patient.hospital}}">
                            {{patient.hospital}}
                        </label>
                    </div>

                    <!--bed number-->
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label txt-r list-item-key">{{'PATIENT_LIST_BED_NUMBER' | translate}}</label>
                        <label class="col-md-8 list-item-text trim-detail" title="{{patient.bed}}">
                            {{patient.bed}}
                        </label>
                    </div>

                    <!--dept-->
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label txt-r list-item-key">{{'PATIENT_LIST_DEPT' | translate}}</label>
                        <label class="col-md-8 list-item-text trim-detail " title="{{patient.dept.name}}">
                            {{patient.dept.name}}
                        </label>
                    </div>

                    <!--birthday-->
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label txt-r list-item-key">{{'PATIENT_DETAIL_BIRTHDAY' | translate}}</label>
                        <label class="col-md-8 list-item-text">
                            {{patient.birthday | amDateFormat:'YYYY-MM-DD'}}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <!--reason-->
                    <div class="form-group col-md-12 col-sm-12">
                        <label class="col-sm-2 control-label  txt-r list-item-key">{{'PATIENT_DETAIL_REASON' | translate}}</label>
                        <label class="col-sm-10 detail-reason list-item-text">
                            {{patient.extendInfo}}
                        </label>
                    </div>
                </div>
            </div>

            <!--btns-->
            <xg-edit-trash ng-show="patient.focus"
                           xg-on-edit="edit()"
                           xg-on-trash="delete()">
            </xg-edit-trash>

            <!--favorite icon-->
            <xg-favorite ng-show="patient.focus"
                         xg-favorite="patient"
                         xg-on-click="addFavorite(favorite)">
            </xg-favorite>
        </div>

        <!--patient docx-->
        <div class="row detail-docx">
            <!--all materials-->
            <div class="patient-docx-title">{{'PATIENT_DETAIL_ALL_MATERIALS' | translate}}</div>
            <div class="patient-docx-section">
                <div class="patient-docx-item pos-rel"
                     ng-repeat="hr in healthrecords"
                     ng-mouseenter="hr.focus=true"
                     ng-mouseleave="hr.focus=false">

                    <img ng-src="{{hr.thumbnail}}" ng-click="view(hr)" class="cursor-p" />
                    <div class="item-wrapper">
                        <a href="#"  class="hr-desc" e-style="width: 110px"  editable-text="hr.description"  onaftersave="afterSave(hr)" title="{{hr.description}}">{{hr.description}}</a>
                     </div>
                    <div class="hr-date">{{hr.createTime | amDateFormat:'YYYY-MM-DD' }}</div>
                    <xg-trash class="trash-icon"
                              ng-show="hr.focus"
                              xg-id="{{hr.id}}"
                              xg-on-trash="deleteMaterial(id)">
                    </xg-trash>
                </div>
                <div class="patient-docx-item plus-icon" ng-click="startScanner()">
                    <div class="start-high-shot-meter-icon">{{'START_HIGH_SHOT_METER'|translate}}</div>
                </div>
                <div class="patient-docx-item plus-icon" ng-click="addPatientMaterial()">
                    <i class="fa fa-plus"></i>
                </div>
            </div>

            <!--materials, gouped by mdt-->
            <div class="patient-docx-title" ng-repeat-start="mr in mRecords | orderBy:'mdt.data.date':true">
                <span ng-click="gotoMdt(mr)"
                      class="cursor-p"
                      ng-if="mr.records && mr.records.length!==0 || mr.mdt.data.status===1">
                    {{mr.mdt.data.date |amDateFormat:'YYYY-MM-DD'}} {{mr.mdt.data.title}}
                </span>
            </div>

            <div class="patient-docx-section" ng-repeat-end="">
                <div class="patient-docx-item pos-rel"
                     ng-repeat="hr in mr.records"
                     ng-mouseenter="hr.focus=true"
                     ng-mouseleave="hr.focus=false">
                    <img ng-src="{{hr.thumbnail}}" ng-click="view(hr, mr)" class="cursor-p" />
                    <div class="item-wrapper">
                        <a href="#"  class="hr-desc" e-style="width: 110px"  editable-text="hr.description"  onaftersave="afterSave(hr)" title="{{hr.description}}">{{hr.description}}</a>
                    </div>
                    <div class="hr-date">{{hr.createTime | amDateFormat:'YYYY-MM-DD' }}</div>

                    <xg-trash ng-if="mr.mdt.data.status===1"
                              class="trash-icon"
                              ng-show="hr.focus"
                              xg-id="{{hr.id}}"
                              xg-mdt-id="{{mr.mdt.data.mdtid}}"
                              xg-on-trash="deleteMaterialFromMdt(id, mdtId)">
                    </xg-trash>
                </div>
                <div ng-if="mr.mdt.data.status===1" class="patient-docx-item plus-icon" ng-click="addPatientMaterial(mr)">
                    <i class="fa fa-plus"></i>
                </div>
            </div>

            <!--placehoder to launch pc client for viewing healthrecord-->
            <a ng-href="{{mockPath}}" id="mocklink" class="hide">View Healthrecord</a>
        </div>
    </div>
</div>
