﻿<div class="user-assistants-container">
    <label class="user-assistant-item list-item" ng-repeat="assistant in assistants">
        <label>{{assistant.userName}}</label>
        <label class="cursor-p"
               ng-click="remove(assistant)"
               ng-if="assistant.id !=user.account.userId">
            <i class="fa fa-times"></i>
        </label>
    </label>
    <label class="user-assistant-item cursor-p" ng-click="add()">
        <span>
            <i class="fa fa-plus"></i>
        </span>
    </label>
</div>
