﻿<div class="app-modal add-patient-material">
    <div class="row">
        <div class="app-modal-wrap col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
            <div class="app-modal-header">
                <h3 class="app-modal-title" translate="PATIENT_DETAIL_MATERIAL_TITLE"></h3>
            </div>
            <div class="app-modal-body">               
                <!--launched from 'all' section-->
                <div class="row">
                    <div class="col-md-12">
                        <div>上传<strong>{{classification.name}}</strong>资料</div>
                        <div
                            ngf-drop
                            ngf-select
                            ng-model="files"
                            class="drop-box"
                            ngf-drag-over-class="dragover"
                            ngf-multiple="true"
                            accept="image/*,application/pdf"
                            ng-class="{'small-box': hasFiles}">
                            <span>{{'PATIENT_DETAIL_MATERIAL_DRAG_DROP_OR_CLICK' | translate}}
                            </span>
                        </div>

                        <div class="uploading-material-table-wrap" ng-show="hasFiles">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">{{'TEXT_NUM'|translate}}</th>
                                        <th class="col-md-4">{{'TEXT_FILE_NAME'|translate}}</th>
                                        <th class="col-md-2">{{'TEXT_FILE_SIZE'|translate}}</th>
                                        <th class="col-md-4">{{'TEXT_NOTES'|translate}}</th>
                                        <th class="col-md-1"></th>
                                    </tr>
                                </thead>
                            </table>

                            <div class="uploading-material-sub-table-wrap">
                                <table class="table txt-c">
                                    <tbody>
                                        <tr ng-repeat="f in files" class="list-item">
                                            <td class="col-md-1">{{$index + 1}}</td>
                                            <td class="col-md-4 txt-l pos-rel">
                                                <div class="file-name">{{f.name}}</div>
                                                <xg-progress
                                                        ng-show="f.rate != null"
                                                        xg-rate="f.rate"
                                                        xg-class-name="small-ex-bar success-bar">
                                                </xg-progress>
                                            </td>
                                            <td class="col-md-2">{{toSize(f.size)}}</td>
                                            <td class="col-md-4 list-item-comment">
                                                <input type="text" class="form-control" ng-model="f.desc" ng-disabled="f.uploaded"/>                                               
                                            </td>
                                            <td class="cursor-p col-md-1 list-item-operation" ng-if="!f.uploaded" ng-click="deleteFile(f)">
                                                <i class="fa fa-remove"></i>
                                            </td>
                                            <td ng-if="f.uploaded" class="col-md-1 list-item-operation">
                                                <i class="fa fa-check blue"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="data-btns">                    
                    <button class="btn cancel none-transition"
                            ng-show="!uploaded" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok none-transition"
                            ng-show="uploaded" ng-click="ok()">
                        {{'TEXT_COMPLETED'|translate}}
                    </button>

                    <button class="btn ok none-transition"
                            ng-show="!uploaded" ng-disabled="uploading || !hasFiles" ng-click="upload()">
                        {{'TEXT_UPLOAD'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
