﻿<div class="app-modal add-patient-material">
    <div class="row">
        <div class="app-modal-wrap col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
            <div class="app-modal-header">
                <h3 class="app-modal-title col-md-offset-3" translate="PATIENT_DETAIL_MATERIAL_TITLE"></h3>
            </div>
            <div class="app-modal-body">
                <!--launched from special mdt section-->
                <div class="row">
                    <div class="left-tabs col-md-3">
                        <ul class="app-list-group">
                            <li class="app-list-item"
                                ng-click="tab(1)"
                                translate="PATIENT_DETAIL_MATERIAL_UPLOAD_NEW_MATERIAL"
                                ng-class="{active: iNow===1}"></li>
                            <li class="app-list-item"
                                ng-click="tab(2)"
                                translate="PATIENT_DETAIL_MATERIAL_FROM_MATERIAL_LIBS"
                                ng-class="{active: iNow===2}"></li>
                        </ul>
                    </div>
                    <div class="tab-content col-md-9">
                        <div class="tab-content-1" ng-show="iNow===1">
                            <div
                                ngf-drop
                                ngf-select
                                ng-model="files"
                                class="drop-box"
                                ngf-drag-over-class="dragover"
                                ngf-multiple="true"
                                accept="image/*,application/pdf"
                                ng-class="{'small-box': hasFiles}">
                                <span>{{'PATIENT_DETAIL_MATERIAL_DRAG_DROP_OR_CLICK' | translate}}
                                </span>
                            </div>

                            <div class="uploading-material-table-wrap" ng-show="hasFiles">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1">序号</th>
                                            <th class="col-md-4">文件名</th>
                                            <th class="col-md-2">大小</th>
                                            <th class="col-md-4">备注</th>
                                            <th class="col-md-1"></th>
                                        </tr>
                                    </thead>
                                </table>

                                <div class="uploading-material-sub-table-wrap">
                                    <table class="table txt-c">
                                        <tbody>
                                            <tr ng-repeat="f in files" class="list-item">
                                                <td class="col-md-1">{{$index + 1}}</td>
                                                <td class="col-md-4 txt-l pos-rel">
                                                    <div>{{f.name}}</div>
                                                    <xg-progress
                                                        ng-show="f.rate != null"
                                                        xg-rate="f.rate"
                                                        xg-class-name="small-ex-bar success-bar">
                                                    </xg-progress>
                                                </td>
                                                <td class="col-md-2">{{toSize(f.size)}}</td>
                                                <td class="col-md-4 list-item-comment">
                                                    <input type="text" class="form-control" ng-model="f.desc" ng-disabled="f.uploaded" />
                                                </td>
                                                <td class="cursor-p col-md-1 list-item-operation" ng-if="!f.uploaded" ng-click="deleteFile(f)">
                                                    <i class="fa fa-remove"></i>
                                                </td>
                                                <td ng-if="f.uploaded" class="col-md-1 list-item-operation">
                                                    <i class="fa fa-check blue"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!--panel for search-->
                        <div class="tab-content-2" ng-show="iNow===2">
                            <div class="patient-docx-section">
                                <div class="patient-docx-item pos-rel"
                                    ng-repeat="hr in healthrecords"
                                    ng-mouseenter="hr.focus=true"
                                    ng-mouseleave="hr.focus=false"
                                    ng-click="onSelectedMaterial(hr)"
                                    ng-class="{'active': hr.checked}">
                                    <img ng-src="{{hr.thumbnail}}" />
                                    <div class="hr-desc" title="{{hr.description}}">{{hr.description}}</div>
                                    <div class="hr-date">{{hr.createTime | amDateFormat:'YYYY/MM/DD' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="data-btns">
                    <button class="btn cancel" ng-click="cancel()" ng-show="!uploaded">
                        {{'TEXT_CANCEL'|translate}}
                    </button>
                    <!--tab 1: buttons-->
                    <button class="btn ok" ng-click="ok()" ng-show="uploaded && iNow===1">
                        {{'TEXT_COMPLETED'|translate}}
                    </button>
                 
                    <button class="btn ok" 
                            ng-show="!uploaded && iNow===1" 
                            ng-disabled="uploading || !hasFiles" 
                            ng-click="upload()">
                        {{'TEXT_UPLOAD'|translate}}
                    </button>

                    <!--tab 2: buttons-->
                    <button class="btn ok" 
                            ng-show="iNow===2" 
                            ng-click="ok()" 
                            ng-disabled="hrIds.length===0">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
