﻿.add-patient-material {
}

    .add-patient-material .tab-content {
        min-height: 240px;
    }

    .add-patient-material .uploading-material-table-wrap > .table {
        margin-bottom: 0;
    }

        .add-patient-material .uploading-material-table-wrap > .table th {
            border-bottom: 0;
        }

    .add-patient-material .uploading-material-sub-table-wrap {
        overflow-y: auto;
        max-height: 300px;
    }

        .add-patient-material .uploading-material-sub-table-wrap .xg-progress-bar {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
        }

        .add-patient-material .uploading-material-sub-table-wrap .list-item-comment {
            padding: 8px 0;
        }

        .add-patient-material .uploading-material-sub-table-wrap .list-item-operation {
            color: #a3a3a3;
        }

.uploading-material-sub-table-wrap .table tr:focus,
.uploading-material-sub-table-wrap .table tr:hover {
    background-color: #fff;
    cursor: default;
}

.add-patient-material .drop-box {
    background: #f5f5f5;
    border: 1px dashed #bebebe;
    width: 100%;
    min-height: 380px;
    text-align: center;
    padding: 25% 0;
    margin-bottom: 10px;
    -moz-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
}

    .add-patient-material .drop-box.small-box {
        min-height: 60px;
        padding: 3% 0;
        margin-bottom: 5px;
    }

.add-patient-material .dragover {
    border: 1px dashed #0081d1;
}

.add-patient-material .preview img {
    height: 200px;
    display: inline-block;
}

.add-patient-material .patient-docx-section {
    max-height: 440px;
    overflow-y: auto;
}

    .add-patient-material .patient-docx-section .patient-docx-item.active {
        border-color: #0081d1;
        background-color: #0081d1;
        -moz-box-shadow: 0 0 4px #efefef;
        -webkit-box-shadow: 0 0 4px #efefef;
        box-shadow: 0 0 4px #efefef;
        color:#fff;
    }

    .add-patient-material .patient-docx-section .patient-docx-item.active .hr-date{
        color:#fff;
    }

.add-patient-material .file-name {
    max-width: 300px;
    overflow-x: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
