﻿.doctor-social.data-list {
    max-height: 400px;
    overflow-y: auto;
}
.doctor-social.data-list .list-item {
    width: 260px;
    max-width: none;
    line-height: normal;
    height: auto;
    position: relative;
    padding: 10px 40px 10px 15px;
    cursor: default;
    border-radius: 0;
    text-align: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

    .doctor-social.data-list .list-item .title {
        color: #606060;
    }

    .doctor-social.data-list .list-item a.icon-more {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 12px;
    }
