﻿<div class="app-modal-body">
    <div class="data-list doctor-social clearfix">
        <div class="list-item light-blue has-icon"
             ng-repeat="s in socials"
             ng-mouseenter="s.focus=true"
             ng-mouseleave="s.focus=false"
             ng-click="onSelectItem(s)"
             ng-class="{'active': s.active}">
            <div class="title trim-field" title="{{s.title}}">
                {{s.title}}
            </div>
            <div class="sub-title trim-field">
                <span ng-repeat="m in s.members">
                    {{m.userName}}<span ng-if="$index!= (s.members.length-1)">,</span>
                </span>
            </div>
            <a class="icon-more" href="javascript:void(0)"
               ng-show="s.focus"
               ng-click="showAllMembers(s);$event.stopPropagation()">
                {{'TEXT_MORE'|translate}}
            </a>
        </div>
    </div>
</div>

