﻿/*--------float---------*/
.f-l {
    float: left;
}

.f-r {
    float: right;
}

.f-c {
    clear: both;
}
/*--------end float---------*/

/*--------margin---------*/
.m-l-0 {
    margin-left: 0;
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-25 {
     margin-left: 25px;
 }

.m-l-30 {
    margin-left: 30px;
}

.m-l-100 {
    margin-left: 100px;
}

.m-l-o-15 {
    margin-left: -15px;
}

.m-l-o-32 {
    margin-left: -32px;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-r-o-15 {
    margin-right: -15px !important;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-25 {
    margin-right: 25px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-r-35 {
    margin-right: 35px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-r-50 {
    margin-right: 50px;
}

.m-r-60 {
    margin-right: 60px;
}

.m-r-70 {
    margin-right: 70px;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-35 {
    margin-top: 35px !important;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-t-70 {
    margin-top: 70px;
}

.m-t-80 {
    margin-top: 80px;
}

.m-t-90 {
    margin-top: 90px;
}

.m-t-100 {
    margin-top: 100px;
}


.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-b-60 {
    margin-bottom: 60px;
}

.m-b-70 {
    margin-bottom: 70px;
}

/*--------end margin---------*/

/*--------padding---------*/
.p-l-0 {
    padding-left: 0;
}

.p-l-5 {
    padding-left: 5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-l-25 {
    padding-left: 25px;
}

.p-l-30 {
    padding-left: 30px;
}

.p-l-90 {
    padding-left: 90px;
}

.p-r-0 {
    padding-right: 0;
}

.p-r-5 {
    padding-right: 5px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-r-25 {
    padding-right: 25px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-r-35 {
    padding-right: 35px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-t-0 {
    padding-top: 0;
}

.p-t-5 {
    padding-top: 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-t-60 {
    padding-top: 60px;
}

.p-t-70 {
    padding-top: 70px;
}


.p-b-0 {
    padding-bottom: 0;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-b-60 {
    padding-bottom: 60px;
}

.p-b-70 {
    padding-bottom: 70px;
}

.p-0 {
    padding: 0;
}

.p-l-r-0 {
    padding-left: 0;
    padding-right: 0;
}

.p-t-b-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.clear-padding {
    padding: 0;
}
/*--------end padding---------*/


/*--------font---------*/
.f-s-10 {
    font-size: 10px;
}

.f-s-12 {
    font-size: 12px;
}

.f-s-14 {
    font-size: 14px;
}

.f-s-16 {
    font-size: 16px;
}

.f-s-18 {
    font-size: 18px;
}

.f-s-24 {
    font-size: 24px;
}

.f-s-30 {
    font-size: 30px;
}

.f-w-normal {
    font-weight: normal;
}

.f-w-bolder {
    font-weight: bold;
}
/*--------end font---------*/


/*--------text---------*/
.txt-c {
    text-align: center;
}

.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}

/*--------end text---------*/


/*--------width---------*/
.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.width-fix-60 {
    width: 60px;
}

.width-fix-100 {
    width: 100px;
}

.width-fix-110 {
    width: 110px;
}

.width-fix-120 {
    width: 120px;
}

.width-fix-130 {
    width: 130px;
}

.width-fix-160 {
    width: 160px;
}

.width-fix-200 {
    width: 200px;
}

.width-fix-250 {
    width: 250px;
}

.width-fix-272 {
    width: 272px;
}

.width-fix-420 {
    width: 420px;
}

.width-scale-50 {
    width: 50%;
    left:25%;
    border-radius: 10px;
    font-size: 16px;
}
/*--------end width---------*/

/*--------height---------*/
.height-0 {
    height: 0 !important;
}

.height-fixed-22 {
    height: 22px;
}

/*--------end height---------*/

/*--------cursor---------*/
.cursor-p {
    cursor: pointer;
}

.cursor-m {
    cursor: move;
}

.cursor-h {
    cursor: help;
}

.cursor-not-allowed {
    cursor:not-allowed;
}
/*--------end width---------*/


/*--------position---------*/
.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative !important;
}

.pos-fix {
    position: fixed;
}

/*--------end position---------*/

/*--------text-overflow---------*/
.txt-ellipsis {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*--------end text-overflow---------*/

/*--------overflow---------*/
.overflow-y-hide {
    overflow-y: hidden;
}

/*--------end text-overflow---------*/

/*--------z-index---------*/
.zindex-10 {
    z-index: 10;
}

.zindex-11 {
    z-index: 11;
}

.zindex-12 {
    z-index: 12;
}

.zindex-13 {
    z-index: 13;
}

/*--------end z-index---------*/

/*--------right, left, top, bottom---------*/
.right-0 {
    right: 0;
}

.right-10 {
    right: 10px;
}

.right-20 {
    right: 20px;
}

.right-30 {
    right: 30px;
}

.right-40 {
    right: 40px;
}

.right-50 {
    right: 50px;
}

.left-0 {
    left: 0;
}

.left-10 {
    left: 10px;
}

.left-20 {
    left: 20px;
}

.left-30 {
    left: 30px;
}

.left-40 {
    left: 40px;
}

.left-50 {
    left: 50px;
}

.top-0 {
    top: 0;
}

.top-10 {
    top: 10px;
}

.top-20 {
    top: 20px;
}

.top-30 {
    top: 30px;
}

.top-40 {
    top: 40px;
}

.top-50 {
    top: 50px;
}

.bottom-0 {
    bottom: 0;
}

.bottom-5 {
    bottom: 5px;
}

.bottom-10 {
    bottom: 10px;
}

.bottom-20 {
    bottom: 20px;
}

.bottom-30 {
    bottom: 30px;
}

.bottom-40 {
    bottom: 40px;
}

.bottom-50 {
    bottom: 50px;
}

/*--------end text-overflow---------*/

/*--------display---------*/
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.inline {
    display: inline;
}
/*--------end display--------*/

.trim-field {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}


/*----------line-height------------*/
.line-h-44 {
    line-height: 44px;
}

.line-h-34 {
    line-height: 34px;
}

.line-h-25 {
    line-height: 25px;
}

.line {
    height: 1px;
    width: 100%;
    display: block;
    background-color: #efefef;
    margin: 5px 0;
}
/*--------end line-height--------*/

/*-----min-height/width, max-height/width----*/
.min-height-150 {
    min-height: 150px;
}
/*------end------*/
