﻿
/*----------dashboard------------*/
@media (max-width: 1024px) {
    .dashboard .col-md-1,
    .dashboard .col-md-2,
    .dashboard .col-md-3,
    .dashboard .col-md-4,
    .dashboard .col-md-5,
    .dashboard .col-md-6,
    .dashboard .col-md-7,
    .dashboard .col-md-8,
    .dashboard .col-md-9,
    .dashboard .col-md-10,
    .dashboard .col-md-11,
    .dashboard .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 1366px) {
    .page-content input {
        line-height: 30px;
        padding-right: 0;
        padding-left: 0;
        height: 30px;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 3px;
    }

    .page-content .form-control,
    .modal-dialog .form-control,
    output {
        font-size: 12px;
    }

    .page-content .input-group-addon {
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 3px;
    }

    .modal-dialog .btn,
    .page-content .btn {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .modal-dialog .h3, .modal-dialog h3 {
        font-size: 18px;
    }

    .modal-dialog .h5, .modal-dialog h5 {
        font-size: 12px;
    }

    footer {
        font-size: 12px;
    }

    .view-content .right-bar {
        font-size: 14px;
    }

    .container-fluid.page-content,
    .container-fluid .page-content {
        font-size: 14px;
    }

    .view-content .to-top {
        width: 24px;
        height: 24px;
        background-size: contain;
    }

    .page-content .f-s-24 {
        font-size: 18px;
    }

    .page-content .f-s-16 {
        font-size: 13px;
    }

    .page-content .f-s-14 {
        font-size: 11px;
    }

    .page-content .f-s-30 {
        font-size: 24px;
    }

    .page-content .width-fix-420 {
        width: 260px;
    }

    .container-fluid .breadcrumb .bc-item.time {
        font-size: 16px;
    }

    .page-content .dropdown-menu {
        font-size: 12px;
    }

    .modal-content .app-modal .app-modal-wrap {
        font-size: 13px;
    }

    .modal-dialog .app-modal .app-modal-wrap .app-modal-body .table tbody,
    .modal-dialog .app-modal .app-modal-wrap .app-modal-body .table thead,
    .modal-dialog .app-modal .app-modal-wrap .app-modal-body .table thead th,
    .modal-dialog .app-modal .app-modal-wrap .app-modal-body .table tbody td {
        font-size: 12px;
    }
    /*----------dashboard------------*/
    .page-content.dashboard .more-info .p-item {
        width: 80px;
    }

        .page-content.dashboard .more-info .p-item .p-text {
            font-size: 11px;
        }

    .page-content.dashboard .p-time {
        font-size: 10px;
    }

    .dashboard .doctorship-item-1 .item-title {
        font-size: 14px;
    }


    .page-content .d-heading {
        font-size: 15px;
        height: 50px;
        padding: 15px 50px 10px 16px;
    }

        .page-content .d-heading .d-icon {
            height: 50px;
            width: 40px;
        }

            .page-content .d-heading .d-icon .fa {
                margin-top: 15px;
            }

    .page-content .discussion .discussion-heading-2 {
        height: 45px;
        padding: 6px 80px 12px 10px;
    }

        .page-content .discussion .discussion-heading-2 .d-icon {
            height: 45px;
            width: 80px;
        }

            .page-content .discussion .discussion-heading-2 .d-icon .fa {
                margin-top: 12px;
            }

    .chat-title,
    .chat-content,
    .p-info,
    .patientship-item-1,
    .concern-content {
        font-size: 13px;
    }

    /*----------group------------*/
    .page-content .group-list .img-list {
        width: 180px;
    }

    .page-content .group-list .dg-content {
        padding: 0 180px 160px 0;
    }

    .page-content .group-list img.s-img {
        width: 40px;
    }

    .page-content .page-title {
        font-size: 26px;
    }

    .page-content .group-list .l-nav .nav-item {
        height: 80px;
        padding: 12px 20px 12px 15px;
    }

        .page-content .group-list .l-nav .nav-item .title {
            font-size: 14px;
        }

    .page-content .side-btn-bar {
        width: 60px;
    }

        .page-content .side-btn-bar .btn-item p {
            font-size: 10px;
        }

    .page-content .input-group-addon {
        font-size: 11px;
    }

    /*-----add attachment----*/
    .modal-dialog .add-attachment .app-modal-title {
        font-size: 18px;
    }

    .modal-dialog .app-modal.add-attachment .app-modal-wrap .app-modal-body .left-tabs,
    .modal-dialog .app-modal.add-attachment .app-modal-wrap .app-modal-body .tab-content {
        min-height: 300px;
    }

    .modal-dialog .add-attachment .healthrecords-list,
    .modal-dialog .add-attachment .snapshots-list,
    .modal-dialog .add-attachment .patients-list {
        max-height: 400px;
    }
}
