﻿<ol class="breadcrumb margin-minus-32">
    <li class="bc-item bc-back f-l" ng-click="back()"></li>
    <li class="bc-item no-sep-icon f-l">
        <span>{{'MDT_DETAIL_PAGE_TITLE' |translate }}</span>
    </li>
</ol>

<div class="container-fluid page-content detail-mdt pos-rel">
    <table class="table table-2 clear-table-border">
        <tbody>
            <tr>
                <td class="width-fix-160" id="mdtDetailNav">
                    <nav class="common-tabs">
                        <div class="detail-tab-item"
                             ng-class="{'active': iNow === 1}"
                             ng-click="tab(1)">
                            {{'MDT_DETAIL_PATIENT_BASIC' | translate}}
                        </div>
                        <div class="detail-tab-item"
                             ng-class="{'active': iNow === 2}"
                             ng-click="tab(2)">
                            {{'MDT_DETAIL_PATIENT_DISCUSSION' | translate}}
                        </div>
                        <div class="detail-tab-item"
                             ng-class="{'active': iNow === 3}"
                             ng-click="tab(3)">
                            {{'MDT_DETAIL_REPORT' | translate}}
                        </div>
                    </nav>
                </td>
                <td>
                    <!--right content--->
                    <!--content: tab1--->
                    <div class="row tab-content p-l-25" ng-show="iNow === 1">
                        <div class="col-md-12">
                            <div ng-if="locked" ng-include="'/assets/src/pages/meeting/basic/basic/basic.html'"></div>
                            <div ng-if="!locked" ng-include="'/assets/src/pages/meeting/basic/edit/edit.html'"></div>
                        </div>

                        <!--btns-->
                        <!--<div class="col-md-2">
                            <div class="btns-bar">
                                <xg-locked xg-on-click="doLocked(false)"
                                           ng-show="locked">
                                </xg-locked>

                                <xg-unlock xg-on-click="doLocked(true)"
                                           ng-show="!locked">
                                </xg-unlock>
                            </div>
                        </div>-->
                    </div>

                    <!--content: tab2-->
                    <div class="row tab-content" ng-show="iNow === 2">
                        <div class="detail-patient col-md-12">
                            <div ng-include="'/assets/src/pages/meeting/patientdiscussion/patientdiscussion.html'"></div>
                        </div>
                    </div>

                    <!--content: tab3-->
                    <div class="row tab-content p-l-25" ng-show="iNow === 3">
                        <h2>Todo</h2>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>

    <xg-line to-after="#mdtDetailNav">
    </xg-line>
</div>
