﻿.detail-mdt_old {
}

   .detail-mdt_old .tab-content label {
        font-weight: 200;
    }

    .detail-mdt_old .detail-base-info,
    .detail-mdt_old .edit-base-info {
        background-color: #fff;
        padding: 20px 0;
        border-bottom: 4px solid #efefef;
    }

