.doctor-home {
    padding: 20px 17px;
    overflow-x: auto;
}

.doctor-home-content {
    min-width: 1440px;    
}

.doctor-home .computed-group .group-item .p-img {
    top: 8px;
}

.doctor-home .computed-group .group-item .item-info {
    margin-left: 60px;
}

.doctor-home .smart-select ul.dropdown-menu {
    left: auto;
    right: 0;
}

.doctor-home .smart-select>ul.dropdown-menu>li>a {
    display: block;
    height: auto;
    line-height: normal;
    max-width: 350px;
    border-bottom: 1px solid #f1f1f1;
    padding: 8px 10px;
}

/*------heading--------*/
.doctor-home .breadcrumb{
    height: auto;
}

.doctor-home .breadcrumb .bc-item {
    line-height: inherit;
}

.breadcrumb .bc-item.time {
    font-size: 24px;
    color: #0082d1;
}

.d-heading {
    height: 60px;
    padding: 12px 20px 12px 20px;
    position: relative;
    font-size: 24px;
    color: #fff;
}

.d-heading .d-icon {
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
}

.d-heading .d-icon .fa {
    font-size: 24px;
    margin-top: 16px;
}

.doctor-home .p-time {
    font-size: 14px;
    color: #aeaeae;
}

.doctor-home .clear-table-border.table-2.table>tbody>tr:hover,
.doctor-home .clear-table-border.table-2.table>tbody>tr>td:hover
    {
    cursor: default;
    background-color: #fff;
}

.doctor-home .patient-content .clear-table-border.table-2.table>tbody>tr,
.doctor-home .patient-content .clear-table-border.table-2.table>tbody>tr>td,
.doctor-home .doctor-content .clear-table-border.table-2.table>tbody>tr,
.doctor-home .doctor-content .clear-table-border.table-2.table>tbody>tr>td
    {
    cursor: default;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
}

.doctor-home .color-4 {
    color: #6ba9de;
}

.doctor-home .color-5 {
    color: #02b4a5;
}

.doctor-home .patient-info {
    color: #606060;
    font-size: 14px;
}

/*-------end--------*/

/*-------doctor-home-heading----------*/
.doctor-home .doctor-home-heading {
    min-height: 120px;
    position: relative;
    background-color: #27a4f0;
    color: #fff;
    padding: 12px 140px 12px 16px;
}

.doctor-home-heading .db-mdt>div:nth-of-type(3) {
    position: absolute;
    bottom: 12px;
    left: 16px;
}

.doctor-home-heading .db-mdt .div-top {
    margin-top: 10px;
}

.doctor-home-heading .db-countdown {
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    height: 120px;
    width: 200px;
    background-color: #fff;
}

.doctor-home-heading .start-meeting {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #27c3f0;
    cursor: pointer;
}

.doctor-home-heading .start-meeting .text {
    line-height: 90px;
    text-align: center;
    color: #27c3f0;
    display: block;
    font-weight: 600;
}

.db-countdown .text {
    text-align: center;
    display: block;
}

.doctor-home-heading .start-meeting:hover {
    border-color: #27a4f0;
}

.doctor-home-heading .start-meeting:hover .text {
    color: #27a4f0;
}
/*-------end----------*/

/*-------more-info----------*/
.doctor-home .more-info {
    text-align: center;
    min-height: 120px;
    background-color: #f5f5f5;
    border: 1px solid #E6E4E4;
    overflow: hidden;
}

.doctor-home .more-info .p-item {
    height: 120px;
    width: 44.44%;
    overflow: hidden;
    float: left;
    margin-left: 2%;
    position: relative;
}

.doctor-home .more-info .p-item .p-number {
    margin-top: 15px;
    font-size: 50px;
    font-weight: normal;
    color: #fe9268;
}

.more-info .p-item .p-number.color-1 {
    color: #00c4b3;
}

.more-info .p-item .p-number.color-2 {
    color: #fccc7e;
}

.more-info .p-item .p-number.color-3 {
    color: #77bc1f;
}

.doctor-home .more-info .p-item .p-text {
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}

.radius-meeting {
    position: relative;
    border-top-left-radius: 12% 50%;
    border-top-right-radius: 12% 50%;
    border-bottom-left-radius: 12% 50%;
    border-bottom-right-radius: 12% 50%;
    background-color: white;
    border-left: 1px solid #E6E4E4;
    border-right: 1px solid #E6E4E4;
}

.div-more-icon {
    background-color: white;
    min-height: 36px;
    margin-top: -1px;
    border-top: 1px solid #E8E6E6;
    box-shadow: 0px 6px #E8E6E6;
}

.span-mire-icon {
    font-size: x-large;
    color: darkgray;
    float: left;
    margin-left: -3%;
}

.span-mire-icon li {
    width: 16px;
    float: left;
}
/*-------end----------*/

/*-------patient----------*/
.patientship-content{
    min-height: 480px;
    background-color: white;
    box-shadow: 0px 6px #efefef;
}

.patient-pending .d-heading, .patient-pending  {
    background-color: #0386d6;
}
.patient-discussing .d-heading, .patient-discussing  {
    background-color: #0872b4;
}
.patient-meeting .d-heading, .patient-meeting  {
    background-color: #004b87;
}
.color-my-patient {
    background-color: #5abcf8;
    color: #fff;
    width: 64px;
    height: 20px;
}
.computed-group .dashboard-doctor {
    padding: 5px;
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid #efefef;
}

.computed-group .dashboard-text {
    overflow: hidden;
    max-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*-------end----------*/

/*-------concern----------*/
.concern-content {
    min-height: 400px;
}

.concern {
    border: 1px solid #efefef;
    background-color: #f5f5f5;
}

.concern .d-heading {
    background-color: #03afe7;
}

.concern .concern-item {
    border-bottom: 2px solid #efefef;
    padding: 8px 20px;
}

.concern .concern-item .p-note {
    color: #aeaeae;
    font-size: 14px;
}
/*-------end----------*/