﻿<ol class="breadcrumb margin-minus-32">
    <li class="bc-item bc-back f-l" ng-click="back()"></li>
    <li class="bc-item no-sep-icon f-l">
        <span>{{'MDT_DETAIL_PAGE_TITLE' |translate }}</span>
    </li>
</ol>

<div class="page-content mdt-base">
    <div class="row">
        <!--placehoder to launch pc client for joining meeting-->
        <a ng-href="{{meeting}}" id="meeting" class="hide">Meeing Now</a>

        <!--left: mdt base, attandence, discussion etc-->
        <div class="col-lg-9 col-md-9 col-sm-10">
            <div class="row">
                <div class="col-md-12 mdt-base-content pos-rel" ng-mouseenter="bfocus=true" ng-mouseleave="bfocus=false">
                    <div class="mdt-heading">
                        <h3>{{mdt.title}}</h3>
                        <div class="m-subtitle">{{mdt.remark}}</div>
                    </div>
                    <div class="mdt-body clearfix  m-t-30">
                        <div class="row pos-rel">
                            <div class="col-lg-6 col-md-10" ng-if="mdt.type==2">
                                <div class="mdt-info">
                                    <div class="data-group">
                                        <div class="p-item m-b-5">
                                            <span>{{'TEXT_TIME'|translate}}:</span>
                                            <span>{{mdt.start | amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                            <span>-</span>
                                            <span>{{mdt.end | amDateFormat:'HH:mm'}}</span>
                                        </div>
                                        <div class="p-item m-b-5">
                                            <span>{{'TEXT_LOCATION'|translate}}:</span>
                                            <span>{{mdt.location}}</span>
                                        </div>
                                        <div class="p-item m-b-5">
                                            <span>{{'TEXT_HOST'|translate}}:</span>
                                            <span>{{mdt.creator.name}}</span>
                                        </div>
                                    </div>
                                    <div class="data-btns">
                                        <div ng-show="showCounddown && !showMeetingStart && !showExpired">
                                            <span class="f-l m-r-10 text color-1">{{'TEXT_TIME_AWAY_FROM'|translate}}</span>
                                            <xg-countdown_3 class="f-l"
                                                            date="mdt.start">
                                            </xg-countdown_3>
                                        </div>
                                        <div ng-show="showMeetingStart && !showCounddown && !showExpired">
                                            <span class="f-l m-r-10 text color-red">{{'MDT_DETAIL_STATUS_START'|translate}}</span>
                                        </div>
                                        <div ng-show="showExpired && !showCounddown && !showMeetingStart">
                                            <span class="f-l m-r-10 text color-red">{{'MDT_DETAIL_STATUS_EXPIRE'|translate}}</span>
                                        </div>
                                        <div class="start-btn" ng-if="user.account.userId===mdt.creator.userId">
                                                <input type="button"
                                                       class="btn meeting meeting-btn"
                                                       value="{{'MDT_LIST_STATUS_START'|translate}}"
                                                       ng-click="startOnlineMeeting()" />
                                            </div>
                                            <div class="start-btn" ng-if="user.account.userId!==mdt.creator.userId">
                                                <input type="button"
                                                       class="btn meeting meeting-btn"
                                                       value="{{'MDT_LIST_STATUS_JOIN'|translate}}"
                                                       ng-click="startOnlineMeeting()" />
                                            </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 contact-body">
                                <div class="contact-item">
                                    <div>
                                        <strong><span>{{'TEXT_CONTACT'|translate}}</span></strong>
                                    </div>
                                    <div>
                                        <span>{{'PATIENT_LIST_NAME'|translate}}:</span>
                                        <span>{{mdt.creator.userName}}</span>
                                    </div>
                                    <div ng-if="mdt.creator.phone">
                                        <span>{{'MDT_DETAIL_TEL'|translate}}:</span>
                                        <span>{{mdt.creator.phone}}</span>
                                    </div>
                                    <div ng-if="mdt.creator.mobile">
                                        <span>{{'MDT_DETAIL_MOBILE'|translate}}:</span>
                                        <span>{{mdt.creator.mobile}}</span>
                                    </div>
                                    <div ng-if="mdt.creator.email">
                                        <span>{{'MDT_DETAIL_MAIL'|translate}}:</span>
                                        <span>{{mdt.creator.email}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--btns-->
                    <xg-edit-trash class="top-right"
                                   ng-show="bfocus"
                                   xg-on-edit="edit(mdt)"
                                   xg-on-trash="delete(mdt)">
                    </xg-edit-trash>
                </div>
            </div>

            <div class="row m-t-20">
                <div class="col-md-12 mdt-attandence-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="p-title">
                                    {{'MDT_DETAIL_ATTENDENCES'|translate}}
                                    <strong>({{mdt.attendees.length}})</strong>
                                </div>

                                <div class="computed-group clearfix">
                                    <div class="group-item" ng-repeat="attendance in mdt.attendees">
                                        <img class="p-img" ng-src="{{attendance.avatar}}" />
                                        <div class="item-info">
                                            <div>{{attendance.userName}}</div>
                                            <div>{{attendance.title}}</div>
                                            <div>{{attendance.dept.name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="mdt.tempAttendees&&mdt.tempAttendees.length!=0">
                                <div class="p-title m-t-10">
                                    {{'MDT_DETAIL_TEMP_ATTENDENCES'|translate}}
                                    <strong>({{mdt.tempAttendees.length}})</strong>
                                </div>

                                <div class="computed-group clearfix">
                                    <div class="group-item" ng-repeat="ta in mdt.tempAttendees">
                                        <img class="p-img" src="/assets/src/img/icons/comment_userdef.png" />
                                        <div class="item-info">
                                            <div>{{ta.name}}</div>
                                            <div>{{ta.phone}}</div>
                                            <div>{{ta.email}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="p-title">
                                {{'TEXT_PATIENTS_DISCUSSION'|translate}}
                                <strong>({{mdt.histories.length}})</strong>
                            </div>

                            <div class="computed-group clearfix">
                                <div class="group-item cursor-p width-fixed-250" ng-repeat="history in mdt.histories" ng-click="onPatient(history)">
                                    <img class="p-img" src="/assets/src/img/icons/comment_userdef.png" />
                                    <div class="item-info">
                                        <div class="trim-field">{{history.patient.name}}</div>
                                        <div class="trim-field">
                                            <span>{{history.patient.gender | translate}}</span>
                                            <span>{{history.patient.age}}{{'OLD'|translate}}</span>
                                        </div>
                                        <div class="trim-field">
                                            <span>{{history.doctor.userName}}</span>
                                            <span>{{history.doctor.title}}</span>
                                        </div>
                                        <div class="trim-field">{{history.doctor.dept.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--right: notice info, contact info-->
        <div class="col-lg-3 col-md-3 col-sm-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="notice">
                        <div class="notice-heading">
                            <div class="trim-field">{{'TEXT_ANNOUNCEMENT'|translate}}</div>
                            <span ng-click="publishAnnouncement()">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <div class="notice-body">
                            <div ng-if="announcements.length!==0">
                                <div class="notice-item pos-rel"
                                     ng-repeat="announcement in announcements"
                                     ng-mouseenter="announcement.focus=true"
                                     ng-mouseleave="announcement.focus=false">
                                    <div>
                                        <span>{{announcement.creator.userName}}</span>
                                        <span>{{announcement.creator.dept.name}}</span>
                                        <span class="p-time">{{announcement.create_time|amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                    </div>
                                    <div title="{{announcement.content}}">{{announcement.content}}</div>

                                    <xg-smart-edit-trash class="top-right"
                                                         ng-show="announcement.focus"
                                                         xg-style="small"
                                                         ng-if="user.account.userId==announcement.creator.userId"
                                                         xg-on-edit="editAnnouncement(announcement)"
                                                         xg-on-trash="deleteAnnouncement(announcement)">
                                    </xg-smart-edit-trash>
                                </div>
                            </div>

                            <div class="notice-item" ng-if="announcements.length==0">
                                <div>{{'TEXT_NONE'|translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
