﻿.mdt-base {
}

    /*---common----*/
    .mdt-base img.p-img {
        width: 50px;
        /*height: 54px;*/
        margin-right: 20px;
    }

    .mdt-base .p-title {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .mdt-base .p-time {
        color: #c2c2c2;
        font-size: 14px;
    }

/*---end----*/

/*-------mdt base-------*/
.mdt-base-content {
    padding: 0 15px 10px;
    background-color: #fff;
    border-bottom: 4px solid #efefef;
}

    .mdt-base-content .m-title {
        font-size: 24px;
        color: #606070;
    }

    .mdt-base-content .m-subtitle {
        font-size: 16px;
    }

    .mdt-base-content .m-time {
        font-size: 14px;
    }

    .mdt-base-content .mdt-body .mdt-info {
        padding: 16px;
        min-height: 150px;
        min-width: 300px;
        background-color: #f5f5f5;
    }

    .mdt-base-content .mdt-info .p-label-2 {
        font-size: 20px;
    }

    .mdt-base-content .start-btn {
        text-align: right;
        /*margin-left: 450px;*/
    }



/*-------end-------*/

/*-------attandence-------*/
.mdt-attandence-content {
}

    .mdt-attandence-content .latest-dis-item,
    .mdt-attandence-content .attendence-item-1 {
        border-bottom: 1px solid #efefef;
    }

.mdt-base .t-select {
    margin-top: -10px;
}

.mdt-attandence-content .patient-dis-item {
    width: 180px;
    min-height: 60px;
    border: 1px solid #d4d4d4;
    background: #f1f1f1 url('/assets/src/img/icons/newtalking.png') no-repeat 160px 8px;
    float: left;
    margin: 0 15px 8px 0;
    padding: 5px 8px;
    cursor: pointer;
}

    .mdt-attandence-content .patient-dis-item.closedtopic {
        background-image: url('/assets/src/img/icons/closedtopic.png');
    }
/*-------end-------*/

/*-------notice-------*/
.mdt-base .notice {
    border: 1px solid #ffce00;
    min-height: 650px;
}

.mdt-base .notice-heading {
    padding-left: 16px;
    height: 52px;
    background-color: #ffce00;
    color: #fff;
    line-height: 52px;
    position: relative;
    padding-right: 55px;
    position: relative;
}

    .mdt-base .notice-heading span {
        position: absolute;
        display: block;
        height: 54px;
        width: 52px;
        right: 0;
        top: -1px;
        cursor: pointer;
        text-align: center;
    }

        .mdt-base .notice-heading span:hover,
        .mdt-base .notice-heading span:active {
            background-color: #f1f1f1;
            color: #ffce00;
        }

.mdt-base .notice-body {
    padding: 0 0 10px 6px;
}

.mdt-base .notice-item {
    border-bottom: 1px solid #efefef;
    padding: 10px 32px 5px 0;
}

/*-------end-------*/

/*-------contact-------*/
.mdt-base .contact {
    min-height: 400px;
    padding: 0 0 16px;
    margin-top: 20px;
    background-color: #ebebea;
}

.mdt-base .contact-body {
    padding: 6px 16px;
}

.mdt-base .contact-heading {
    padding: 6px 16px;
    font-size: 16px;
    background-color: #91e1d5;
    color: #fff;
}

.contact-body .contact-item .p-subtitle {
    color: #606060;
}

.contact-body .contact-item div {
    padding: 4px 0;
}
/*-------end-------*/


