﻿<div class="xg-smart-edit-trash">
    <div class="xg-edit"
        ng-click="edit()">
        <i class="fa fa-edit"></i>
    </div>
    <div class="xg-trash"
        ng-click="trash()">
        <i class="fa fa-trash"></i>
    </div>
</div>
