﻿<div class="app-modal">
    <div class="row">
        <div class="app-modal-wrap col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="app-modal-header">
                <h3 class="app-modal-title">
                    <span>{{'TEXT_TRANSFORM'|translate}}</span>
                </h3>
            </div>

            <!--transform-->
            <div class="transform" ng-show="!isSelectedDoctor">
                <div class="app-modal-body">
                    <div class="data-btns m-b-15">
                        <span>
                            {{transform.doctor.name}}
                        </span>
                        <button class="btn select none-transition"
                                ng-click="selectDoctor()"
                                ng-show="!(transform.doctor)">
                            {{'TEXT_SELECT_DOCTOR'|translate}}
                        </button>
                        <button class="btn select none-transition"
                                ng-click="selectDoctor()"
                                ng-show="transform.doctor">
                            {{'TEXT_SELECT_AGAIN'|translate}}
                        </button>
                    </div>

                    <textarea rows="4"
                              class="form-control comments-control"
                              ng-model="transform.description"
                              name="description"
                              ng-change="contentChanged()"
                              placeholder="{{'TEXT_TRANSFORM_REASON'|translate}}"></textarea>

                    <div class="height-fixed-22">
                        <span ng-show="hasError" class="valdr-message ng-invalid custom-error">
                            {{errorText}}
                        </span>
                    </div>
                </div>

                <div class="app-modal-footer">
                    <div class="data-btns">
                        <button class="btn cancel" ng-click="cancel()">
                            {{'TEXT_CANCEL'|translate}}
                        </button>

                        <button class="btn ok" ng-click="ok()"
                                ng-disabled="!(transform.description) || !(transform.doctor) || hasError">
                            {{'TEXT_OK'|translate}}
                        </button>
                    </div>
                </div>
            </div>

            <!--transform select doctor-->
            <div class="transform-select-doctor" ng-show="isSelectedDoctor" ng-controller="TransformSelectDoctorCtrl">
                <div ng-include="'/assets/src/pages/patients/modal/transform/select/select.html'" xg-include-replace></div>
            </div>
        </div>
    </div>
</div>
