﻿<div class="xg-sort">
    <label class="xg-text">{{text}}</label>
    <span
        ng-show="btnStatus.sDefault"
        class="sort-icon"
        ng-click="onDefault()">
        <img ng-show="!isActive" src="/assets/src/img/icons/order0.png" />
        <img ng-show="isActive" src="/assets/src/img/icons/order1.png" />
    </span>
    <span ng-show="!btnStatus.sDefault"
        class="sort-icon"
        ng-click="sort()">
        <img src="/assets/src/img/icons/order3.png" ng-show="!btnStatus.sDefault && btnStatus.sAsc" />
        <img src="/assets/src/img/icons/order2.png" ng-show="!btnStatus.sDefault && !btnStatus.sAsc" />
    </span>
</div>
