﻿.detail-mdt .detail-patient .patient-wrap {
    margin: 0 15px 20px;
}

.detail-mdt .detail-patient .patient-section {
    background-color: #fff;
    border-bottom: 4px solid #efefef;
}

.detail-mdt .detail-patient .detail-base-info {
    border-bottom: none;
}

.detail-mdt .detail-patient .doctorship-select {
    width: auto;
    font-size: 20px;
    height: auto;
    border: none;
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #0082d1;
    padding-left: 0;
}

.detail-mdt .detail-patient .add-icon > a {
    display: block;
    height: 48px;
    width: 48px;
    background: url('/assets/src/img/icons/create_normal.png') no-repeat center center;
}

    .detail-mdt .detail-patient .add-icon > a:hover {
        background: url('/assets/src/img/icons/create_mouseon.png') no-repeat center center;
    }

    .detail-mdt .detail-patient .add-icon > a:active {
        background: url('/assets/src/img/icons/create_mousedown.png') no-repeat center center;
    }

.detail-mdt .detail-patient .patient-docx-section .patient-docx-item.plus-icon {
    /*height: 114px;*/
    line-height: 114px;
}

.detail-mdt .detail-patient .patient-docx-section {
    border: 0;
}

    .detail-mdt .detail-patient .patient-docx-section .patient-docx-item {
        margin-top: 0;
        position: relative;
    }

        .detail-mdt .detail-patient .patient-docx-section .patient-docx-item .xg-trash {
            position: absolute;
            top: 0;
            left: 0;
        }

        .detail-mdt .detail-base-info .trim-info{
            max-width: 166px;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .detail-mdt .detail-base-info .detail-reason {
            display: block;
            border: 1px dashed #ddd;
            padding: 3px 6px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

.item-wrapper a{
    display: inline-block;
    text-decoration: none!important;
    /*width: 80px;*/
    height: 22px;
}

.item-wrapper{
    /*display: inline;*/
    position: relative;
    /*width: 80px;*/
}

.item-wrapper form {
    position: absolute;
    top: -53px;
    background: #FFF;
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 7px;
    width: 220px;
    display: inline-block;
    left: 50%;
    margin-left: -95px;
    z-index: 101;
}

.item-wrapper form:before{
    content:"";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #AAA;
    position:absolute;
    bottom:-10px;
    left:100px;
}

.item-wrapper form:after{
    content:"";
    width:0;
    height:0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFF;
    position:absolute;
    bottom:-9px;
    left:101px;
}
