﻿<div ng-controller="MdtMaterialCtrl">
    <ag-scroll-handler target-id="mainContent"
                       on-bottom-topic="scroll.hit.bottom"
                       on-top-topic="scroll.hit.top"
                       ag-scroll-handler="preventPageScroll($event, $delta, $deltaX, $deltaY)">
    </ag-scroll-handler>

    <div class="row m-b-10">
        <div class="col-md-6 txt-l">
            <select class="form-control doctorship-select"
                    ng-model="ds"
                    ng-change="doctorshipChanged()"
                    ng-options="opt.name for opt in doctorships"></select>
        </div>

        <div class="col-md-6 txt-r">
            <div class="add-icon inline-block">
                <a href="javascript:void(0)" ng-click="addPatient()"></a>
            </div>
        </div>
    </div>

    <div ng-repeat="p in patients" class="patient-wrap">
        <div class="row pos-rel patient-section" ng-mouseenter="p.focus=true" ng-mouseleave="p.focus=false">
            <!--base information-->
            <div class="col-md-6 detail-base-info">
                <div class="row">
                    <!--name-->
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_LIST_NAME' | translate}}</label>
                        <label class="col-md-6 list-item-text trim-info">
                            {{p.patient.name}}
                        </label>
                    </div>

                    <!--patient id-->
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_DETAIL_ID' | translate}}</label>
                        <label class="col-md-6 list-item-text trim-info">
                            {{p.patient.ptnum}}
                        </label>
                    </div>

                    <!--hosiptal id-->
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_LIST_SEEDOCTOR_HOSPITAL_ID' | translate}}</label>
                        <label class="col-md-6 list-item-text trim-info">
                            {{p.patient.hospital}}
                        </label>
                    </div>

                    <!--bed number-->
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_LIST_BED_NUMBER' | translate}}</label>
                        <label class="col-md-6 list-item-text trim-info">
                            {{p.patient.bed}}
                        </label>
                    </div>

                    <!--dept-->
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_LIST_DEPT' | translate}}</label>
                        <label class="col-md-6 list-item-text trim-info">
                            {{p.patient.dept.name}}
                        </label>
                    </div>

                    <!--birthday-->
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_DETAIL_BIRTHDAY' | translate}}</label>
                        <label class="col-md-6 list-item-text">
                            {{p.patient.birthday | amDateFormat:'YYYY/MM/DD'}}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <!--reason-->
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label  txt-r list-item-key">{{'PATIENT_DETAIL_REASON' | translate}}</label>
                        <span class="col-md-9 detail-reason">
                            {{p.reason}}
                        </span>
                    </div>
                </div>
            </div>

            <!--patient docx-->
            <div class="col-md-6 detail-docx">
                <div class="patient-docx-section">
                    <div class="patient-docx-item" ng-repeat="hr in p.healthrecords" ng-mouseenter="hr.focus=true" ng-mouseleave="hr.focus=false">
                        <img ng-src="{{hr.thumbnail}}" ng-click="view(hr, p)" class="cursor-p" />
                        <!--<div class="hr-desc" title="{{hr.desc}}">{{hr.description}}</div>-->
                        <div class="item-wrapper">
                            <a href="#" class="hr-desc" e-style="width: 110px" editable-text="hr.description" onaftersave="afterSave(hr)" title="{{hr.description}}">{{hr.description}}</a>
                        </div>
                        <div class="hr-date">{{hr.createTime | amDateFormat:'YYYY/MM/DD' }}</div>

                        <xg-trash ng-show="hr.focus"
                                  xg-id="{{hr.id}}"
                                  xg-on-trash="deleteMaterial(id)">
                        </xg-trash>
                    </div>
                    <div class="patient-docx-item plus-icon" ng-click="addPatientMaterial(p)">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </div>

            <!--placehoder to launch pc client for viewing healthrecord-->
            <a ng-href="{{hrPath}}" id="healthrecordlink" class="hide">View Healthrecord</a>
            <!--btns-->
            <xg-edit-trash ng-show="p.focus"
                           xg-on-edit="edit(p)"
                           xg-on-trash="delete(p)">
            </xg-edit-trash>
        </div>
    </div>

    <xg-pagination xg-total-items="totalItems"
                   xg-page-changed="pageChanged(item)"
                   xg-page-size-changed="pageSizeChanged(item)"
                   xg-items-per-page="itemsPerPage"
                   xg-current-page="currentPage"
                   xg-show-page-text="true"
                   xg-show-entities-text="true">
    </xg-pagination>

    <!--goto top-->
    <div class="to-top" ng-show="needScroll"
         ag-scroll-to
         scroll-ele="mainContent"
         fixed-top="0"
         scroll-duration="100">
        <i class="fa fa-arrow-up"></i>
    </div>
</div>