﻿.role-detail {
}

    .role-detail .permission-group-item {
        background-color: #ddd;
        font-weight: 600;
        font-size: 16px;
    }

    .role-detail .permission-item {
    }

    .role-detail .table tbody tr:hover {
        background-color: #fff;
        cursor: default;
    }
