﻿<ol class="breadcrumb margin-minus-32">
    <li class="bc-item bc-back f-l" ng-click="back()"></li>
    <li class="bc-item no-sep-icon f-l">
        <span>{{'USER_ROLE_DETAIL' |translate }}</span>       
    </li>
    <!-- <li class="active">Data</li>-->
    <li class="bc-icon edit-icon" ng-if="role.level !== 0">
        <a href="javascript:void(0)" ng-click="edit()"></a>
    </li>
</ol>


<div class="container-fluid">
    <div class="row page-content role-detail">

        <!--User detail info-->
        <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
            <form novalidate class="form-horizontal">
                <!--name-->
                <hr />
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'USER_ROLE_NAME' | translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="role.name" ng-disabled="isDetail">
                    </div>
                </div>

                <!--description-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'USER_ROLE_DESCRIPTION' | translate}}</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="4" ng-model="role.desc" ng-disabled="isDetail"></textarea>
                    </div>
                </div>

                <!--permission list-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'USER_ROLE_PERMISSION_OF_ROLE' | translate}}</label>
                    <div class="col-sm-9">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-6">
                                        <div>{{'USER_ROLE_MODULE_NAME' |translate }}</div>
                                    </th>
                                    <th class="col-md-4">
                                        <div>{{'USER_ROLE_PERMISSION' |translate }}</div>
                                    </th>
                                    <th class="col-md-2">
                                        <div>{{'USER_ROLE_COMMENT' |translate }}</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="gp in permissions track by $index" class="list-item">
                                    <td colspan="3" class="permission-group-item">
                                        <div>{{gp.name}}</div>
                                    </td>
                                </tr>
                                <tr ng-repeat="p in gp.data" class="list-item" ng-class="{'active': p.checked}">
                                    <td class="permission-item">
                                        <div class="p-l-10">{{p.name}}</div>
                                    </td>
                                    <td class="txt-c">
                                        <span ng-class="{'fa fa-check': p.checked}"></span>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat-end class="list-item height-0">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
            </form>
        </div>
    </div>

</div>

