﻿<ol class="breadcrumb margin-minus-32">
    <li class="bc-item bc-back f-l" ng-click="back()"></li>
    <li class="bc-item no-sep-icon f-l">
        <span>{{'USER_ROLE_DETAIL' |translate }}</span>
    </li>
</ol>

<div class="container-fluid">
    <div class="row page-content role-add-or-edit">

        <!--User detail info-->
        <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
            <form novalidate class="form-horizontal" name="addOrEditRole" valdr-type="addOrEditRole" role="form">
                <!--name-->
                <hr />
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        {{'USER_ROLE_NAME' | translate}}
                    <i class="fa fa-asterisk required-mark"></i>
                    </label>
                    <div valdr-form-group class="col-sm-9 valdr-form-item">
                        <input type="text" class="form-control" ng-model="role.name" name="name">
                    </div>
                </div>

                <!--description-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'USER_ROLE_DESCRIPTION' | translate}}</label>
                    <div valdr-form-group class="col-sm-9 valdr-form-item">
                        <textarea class="form-control" name="desc" rows="4" ng-model="role.desc"></textarea>
                    </div>
                </div>

                <!--permission list-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'USER_ROLE_PERMISSION_OF_ROLE' | translate}}</label>
                    <div valdr-form-group class="col-sm-9 valdr-form-item">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-6">
                                        <div>{{'USER_ROLE_MODULE_NAME' |translate }}</div>
                                    </th>
                                    <th class="col-md-4">
                                        <div>{{'USER_ROLE_PERMISSION' |translate }}</div>
                                    </th>
                                    <th class="col-md-2">
                                        <div>{{'USER_ROLE_COMMENT' |translate }}</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="gp in permissions track by $index" class="list-item">
                                    <td colspan="3" class="permission-group-item">
                                        <div>{{gp.name}}</div>
                                    </td>
                                </tr>
                                <tr ng-repeat="p in gp.data" class="list-item" ng-click="togglePermission(p)" ng-class="{'active': p.checked}">
                                    <td class="permission-item">
                                        <div class="p-l-10">{{p.name}}</div>
                                    </td>
                                    <td class="txt-c">
                                        <span ng-class="{'fa fa-check': p.checked}"></span>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat-end class="list-item height-0">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />

                <!--buttons-->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-2">
                        <div class="col-md-6 col-sm-6">
                            <input type="button"
                                class="btn btn-danger m-r-10"
                                value="{{'TEXT_DELETE' | translate}}"
                                ng-click="delete()"
                                ng-if="role.id != null" />
                        </div>
                        <div class="col-md-6 col-sm-6 txt-r">
                            <input type="button"
                                class="btn btn-default m-r-10"
                                value="{{'TEXT_CANCEL' | translate}}"
                                ng-click="cancel()" />

                            <input type="button"
                                class="btn btn-default"
                                value="{{'TEXT_OK' | translate}}"
                                ng-disabled="addOrEditRole.$invalid"
                                ng-click="save(addOrEditRole)" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


