﻿<div class="app-modal">
    <div class="app-modal-wrap">
        <div class="app-modal-header">
            <h3 class="app-modal-title">I'm a middle modal!</h3>
        </div>
        <div class="app-modal-body">
            <form novalidate name="login" valdr-type="login">
                <div valdr-form-group class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" name="firstName" ng-model="data.name" />
                </div>

                <div valdr-form-group class="form-group">
                    <label for="name">Pwd</label>
                    <input class="form-control" name="lastName" ng-model="data.pwd" />
                </div>

                <input type="submit" value="submit" />
            </form>
        </div>
        <div class="app-modal-footer">
            <div class="data-btns">
                <button class="btn cancel" ng-click="cancel()">
                    {{'TEXT_CANCEL'|translate}}
                </button>

                <button class="btn ok" ng-click="ok(login)">
                    {{'TEXT_OK'|translate}}
                </button>
            </div>         
        </div>
    </div>
</div>
