﻿<div ng-show="isShown" class="logout-panel">
    <ul class="logout-dropdown-menu">
        <li ng-click="changePwd($event)">
            <a href="javascript:void(0)">{{'LOGIN_CHANGE_PASSWORD' | translate}}
            </a>
        </li>
        <li ng-click="gotoUserProfile()">
            <a href="javascript:void(0)">{{'LOGIN_USER_PROFILE' | translate}}
            </a>
        </li>
        <li ng-click="logout($event)">
            <a href="javascript:void(0)">{{'LOGIN_LOGOUT' | translate}}
            </a>
        </li>
    </ul>
</div>
