﻿<div>
    <div ng-if="isChinese">
        <span>{{date}}</span>
        <span>{{week}}</span>
        <span>{{time}}</span>
    </div>
    <div ng-if="!isChinese">
        <span>{{shortTime}}</span>
    </div>
</div>
