﻿<svg class="countdown"
     ng-attr-width="{{diameter}}"
     ng-attr-height="{{diameter}}"
     ng-attr-viewbox="0 0 {{diameter}} {{diameter}}">   
    <g>       
        <circle cx="50%" cy="50%" fill="none" ng-attr-r="{{radius}}" ng-attr-stroke="{{cfill}}" ng-attr-stroke-width="{{stroke}}" />
        <path class="countdown-border" ng-attr-id="loader-{{$id}}" fill="none" ng-attr-stroke="{{color}}" ng-attr-stroke-width="{{stroke}}" />
    </g>
    <g transform="translate(0, 10)">
        <text x="50%" y="40%" font-size="16" text-anchor="middle" fill="#27c3f0">{{text|translate}}</text>
        <text x="50%" y="55%" font-size="16" text-anchor="middle" fill="#bdbdbd">{{day}}{{'TEXT_DAY'|translate}}{{hour}}{{'TEXT_HOUR'|translate}}{{min}}{{'TEXT_MIN'|translate}}</text>
    </g>    
</svg>
