﻿<svg class="countdown"
     ng-attr-width="{{diameter}}"
     ng-attr-height="{{diameter}}"
     ng-attr-viewbox="0 0 {{diameter}} {{diameter}}">
    <defs>
        <mask ng-attr-id="countdown-mask-{{$id}}">
            <circle cx="50%" cy="50%" ng-attr-r="{{radius}}" fill="#ddd" />
            <circle cx="50%" cy="50%" ng-attr-r="{{radius - stroke}}" fill="#000" />
        </mask>
    </defs>
    <g ng-attr-mask="url(#countdown-mask-{{$id}})">
        <circle cx="50%" cy="50%" fill="none" ng-attr-r="{{cradius}}" ng-attr-stroke="{{fill}}" ng-attr-stroke-width="{{stroke}}" />
        <path class="countdown-border" ng-attr-id="loader-{{$id}}" />
    </g>
    <g transform="translate(0, 8)">
        <text x="50%" y="30%" font-size="12" text-anchor="middle" ng-attr-fill="{{textColor}}">{{text|translate}}</text>
        <text ng-if="day!=0" x="50%" y="50%" font-size="18" text-anchor="middle" ng-attr-fill="{{textColor}}">
            {{day}}{{'TEXT_DAY'|translate}}
        </text>      
        <text ng-if="day==0" x="50%" y="50%" font-size="18" text-anchor="middle" ng-attr-fill="{{textColor}}">
            {{hour|toFixed}}:{{min|toFixed}}
        </text>       
    </g>
</svg>
