.list-patient {
    
}

.p-select-tab-key .form-control.t-select {
    border: 0;
    background-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 10px;
    height: 40px;
    margin: 0;
}

.p-select-tab-key .p-label {
    font-weight: normal;
    color: #606060;
    font-size: 16px;
}
