<div ui-view>
    <ol class="breadcrumb">
        <li class="bc-item m-l-30">
            <span>{{'PATIENT_LIST_PAGE_TITLE' |translate }}</span>
        </li>
        <!-- <li class="active">Data</li>-->
        <li class="bc-icon add-icon m-r-30" xg-auth-permissions="{{permissions.patient.create}}">
            <a href="javascript:void(0)" ng-click="addPatient()"></a>
        </li>
    </ol>

    <div class="container-fluid">
        <div class="row page-content nav-list mdt-list">
            <!--tab-->
            <nav class="mdt-tabs tabs clearfix">
                <div class="tab-key f-l" xg-auth-role="role-moderator,role-doctor,role-admin,role-navigator"
                     ng-class="{'active': focusTab['All']}" ng-click="onChangedCondition('tab','All')">
                        {{'PATIENT_LIST_TAB_ALL' | translate }}
                </div>
                <div class="tab-key f-l" xg-auth-role="role-doctor,role-admin"
                     ng-class="{'active': focusTab['InPending']}" ng-click="onChangedCondition('tab','InPending')">
                        {{'PATIENT_LIST_TAB_PENDING' | translate }}
                </div>
                <div class="tab-key f-l" xg-auth-role="role-doctor,role-admin"
                     ng-class="{'active': focusTab['InDiscussion']}" ng-click="onChangedCondition('tab','InDiscussion')">
                        {{'PATIENT_LIST_TAB_DISCUSSION' | translate }}
                </div>
                <div class="tab-key f-l" xg-auth-role="role-doctor,role-admin"
                     ng-class="{'active': focusTab['InMeeting']}" ng-click="onChangedCondition('tab','InMeeting')">
                        {{'PATIENT_LIST_TAB_MEETING' | translate }}
                </div>
                <div class="tab-key f-l" xg-auth-role="role-moderator,role-admin"
                     ng-class="{'active': focusTab['InQueue']}" ng-click="onChangedCondition('tab','InQueue')">
                        {{'PATIENT_LIST_TAB_QUEUE' | translate }}
                </div>
                <div class="p-select-tab-key f-r clear-active" ng-show="showFilters['statusFilter']">
                    <div class="f-l">
                        <select class="form-control t-select"
                                ng-model="filters.status"
                                ng-change="onChangedCondition('status',filters.status)"
                                ng-options="item.name for item in statusList track by item.id"
                                name="status"></select>
                    </div>
                </div>
                <div class="p-select-tab-key f-r clear-active" ng-show="showFilters['doctorFilter']">
                    <div class="f-l">
                        <select class="form-control t-select"
                                ng-model="filters.doctor"
                                ng-change="onChangedCondition('doctor',filters.doctor)"
                                ng-options="item.name for item in doctorList track by item.id"
                                name="doctor"></select>
                    </div>
                </div>
                <div class="p-select-tab-key f-r clear-active" ng-show="showFilters['deptFilter']">
                    <div class="f-l">
                        <select class="form-control t-select"
                                ng-model="filters.dept"
                                ng-change="onChangedCondition('dept',filters.dept)"
                                ng-options="item.name for item in deptList track by item.id"
                                name="dept"></select>
                    </div>
                </div>
                <div class="p-select-tab-key f-r clear-active" ng-show="showFilters['myFocus']">
                    <div class="f-l">
                        <label class="p-label ng-binding">
                            <input type="checkbox" ng-model="myFocus.value" name="myFocus" ng-click="onChangedCondition('myFocus')">
                            {{'PATIENT_LIST_TAB_PARTICIPATION' | translate }}
                        </label>
                    </div>
                </div>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-1">
                            <div>{{'PATIENT_DETAIL_ID' |translate }}</div>
                        </th>
                        <th class="col-md-2">
                            <div>{{'PATIENT_LIST_NAME' |translate }}</div>
                        </th>
                        <th class="col-md-1">
                            <div>{{'PATIENT_LIST_DEPT' |translate }}</div>    
                        </th>
                        <th class="col-md-1">
                            <div>{{'PATIENT_LIST_STATUS' |translate }}</div>
                        </th>
                        <th class="col-md-1">
                            <div>{{'PATIENT_LIST_SEX' |translate }}/{{'PATIENT_LIST_AGE' |translate }}</div>
                        </th>
                        <th class="col-md-2">
                            <div>{{'PATIENT_LIST_DOCTOR' |translate }}</div>
                        </th>
                        <th class="col-md-2">
                            <div>{{'PATIENT_LIST_CREATED_TIME' |translate }}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in patients" ng-click="detail(p)" class="list-item">
                        <td>
                            <div title="{{p.patient.ptnum}}">{{p.patient.ptnum}}</div>
                        </td>
                        <td>
                            <div title="{{p.patient.name}}">{{p.patient.name}}</div>
                        </td>
                        <td>
                            <div title="{{p.doctor.dept.name}}">{{p.doctor.dept.name}}</div>
                        </td>
                        <td>
                            <div title="{{'PATIENT_STATUS_PENDING' |translate }}" ng-if="p.status == 1">{{'PATIENT_STATUS_PENDING' | translate }}</div>
                            <div title="{{'PATIENT_STATUS_DISCUSSION' |translate }}" ng-if="p.status == 2">{{'PATIENT_STATUS_DISCUSSION' | translate }}</div>
                            <div title="{{'PATIENT_STATUS_QUEUE' |translate }}" ng-if="p.status == 3">{{'PATIENT_STATUS_QUEUE' | translate }}</div>
                            <div title="{{'PATIENT_STATUS_MEETING' |translate }}" ng-if="p.status == 4">{{'PATIENT_STATUS_MEETING' | translate }}</div>
                            <div title="{{'PATIENT_STATUS_FINISH' |translate }}" ng-if="p.status == 5">{{'PATIENT_STATUS_FINISH' | translate }}</div>
                        </td>
                        <td>
                            <div title="{{'GENDER_MALE' |translate }}" ng-if="p.patient.sex === 1">{{'GENDER_MALE' |translate }} / {{p.patient.age}}</div>
                            <div title="{{'GENDER_FEMALE' |translate }}" ng-if="p.patient.sex !== 1">{{'GENDER_FEMALE' |translate }} / {{p.patient.age}}</div>
                        </td>
                        <td>
                            <div title="{{p.doctor.name}}">{{p.doctor.name}}</div>
                        </td>
                        <td class="p-icon">
                            <div title="{{p.createTime | amDateFormat:'YYYY/MM/DD'}}">{{p.createTime | amDateFormat:'YYYY/MM/DD'}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <xg-pagination xg-total-items="paging.totalItems"
                           xg-page-changed="paging.pageChanged(item)"
                           xg-page-size-changed="paging.pageSizeChanged(item)"
                           xg-items-per-page="paging.itemsPerPage"
                           xg-current-page="paging.currentPage"
                           xg-show-page-text="true"
                           xg-show-entities-text="true">
            </xg-pagination>
        </div>
    </div>
</div>
