﻿.add-members {
}

.app-modal.add-members .app-modal-wrap {
    min-height: 430px;
}

.app-modal.add-members .modal-table-wrap .table-body {
       min-height:250px;    
}

.add-members .select-layout{
    display: inline;
    width: 49%;
}
