﻿<div class="mdt-edit-base" ng-controller="MdtBasicEditCtrl">
    <div class="col-md-8 mdt-edit-info">
        <form novalidate class="form-horizontal" name="addOrEditMdtBasicInfo" valdr-type="addOrEditMdtBasicInfo" role="form">
            <!--basic-->
            <div class="row">
                <div class="col-md-12 div-bottom-big">
                    <label class="title-item">
                        {{'MDT_DETAIL_CHANGE' | translate}}
                    </label>
                </div>
            </div>
            <div class="row">
                <!--mdt name-->
                <div class="col-md-12 div-bottom-small">
                    <div class="row">
                        <label class="col-md-3 control-label txt-r list-item-key">
                            {{'MDT_DETAIL_NAME' | translate}}
                            <i class="fa fa-asterisk required-mark"></i>
                        </label>
                        <div valdr-form-group class="valdr-form-item col-md-8">
                            <input type="text" class="form-control"
                                ng-model="mdt.title" name="title">
                        </div>
                     </div>
                </div>

                <!--mdt note-->
                <div class="col-md-12 div-bottom-small">
                    <div class="row">
                        <label class="col-md-3 control-label txt-r list-item-key">
                            {{'MDT_DETAIL_NOTE' | translate}}
                            <i class="fa fa-asterisk required-mark"></i>
                        </label>
                        <div valdr-form-group class="valdr-form-item col-md-8">
                            <textarea class="form-control"
                                ng-model="mdt.remark"
                                name="remark"
                                rows="4">
                            </textarea>
                        </div>
                     </div>
                </div>
            </div>
            <!--others-->
            <div class="row">
                <div class="col-md-12">
                    <!--mdt discussion end date-->
                    <div class="row">
                        <label class="col-md-3 control-label txt-r list-item-key">
                            {{'MDT_DETAIL_DISCUSSION_DATE' | translate}}
                            <i class="fa fa-asterisk required-mark"></i>
                        </label>
                        <div valdr-form-group class="valdr-form-item col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="input-group datepicker m-b-0">
                                        <input type="text"
                                               class="form-control"
                                               datepicker-popup="yyyy-MM-dd"
                                               ng-model="mdt.discussionDate"
                                               is-open="openedDisDate"
                                               ng-click="openedDisDate=!openedDisDate"
                                               show-button-bar="false"
                                               name="disDate"
                                               datepicker-append-to-body="true"
                                               close-on-date-selection="true"
                                               min-date="minDate"
                                               ng-change="changeDiscussionDate()"
                                               required />
                                    </p>
                                    <span ng-if="addOrEditMdtBasicInfo.disDate.$touched && addOrEditMdtBasicInfo.disDate.$error.required"
                                          class="valdr-message ng-invalid custom-error error-info">
                                        {{'MDT_DETAIL_DISCUSSION_DATE' | translate}}{{'VALID_NOT_EMPTY' | translate}}
                                    </span>
                                    <span ng-if="addOrEditMdtBasicInfo.disDate.$touched && addOrEditMdtBasicInfo.disDate.$error.date"
                                          class="valdr-message ng-invalid custom-error error-info">
                                        {{'VALID_NOT_VALIDE' | translate}}{{'MDT_DETAIL_DISCUSSION_DATE' | translate}}
                                    </span>
                                    <span ng-if="lessThan"
                                          class="valdr-message ng-invalid custom-error error-info">
                                        {{'MDT_DETAIL_DISCUSSION_DATE' | translate}}{{'VALID_NOT_LESS_THAN' | translate}}{{'MDT_DETAIL_DATE' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-6 txt-r">
                                    <xg-end-time-picker
                                            xg-discussion-date="mdt.discussionDate"
                                            xg-from="mdt.discussionTo"
                                            xg-start-date="mdt.meetingStartDate"
                                            xg-to="mdt.tto"
                                            xg-less-than="lessThan"
                                            xg-more-than="moreThan"
                                            xg-check="mdt.checked"
                                            xg-on-changed="onEndTimeChanged(item)">
                                    </xg-end-time-picker>
                                </div>
                            </div>
                       </div>
                    </div>

                    <!--mdt attendence-->
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 div-bottom-special">
                            <label class="col-md-2 control-label txt-r list-item-key">{{'MDT_DETAIL_ATTENDENCES' | translate}}</label>
                            <div class="col-md-10">
                                <xg-user-assistants
                                        xg-assistants="mdt.attendees"
                                        xg-remove-assistant="removeAttendence(att)"
                                        xg-add-assistants="addAttendence()">
                                </xg-user-assistants>
                                <div>
                                    <span translate="VALID_MDT_BASIC_ATTENDENCE"
                                          ng-show="mdt.attendees.length ===0"
                                          class="valdr-message ng-invalid custom-error">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <!--mdt temp attendence-->
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 div-bottom-big">
                            <label class="col-md-2 control-label txt-r list-item-key">{{'MDT_DETAIL_TEMP_ATTENDENCES' | translate}}</label>
                            <div class="col-md-10">
                                <xg-user-assistants
                                        xg-assistants="tempAttendeeItems"
                                        xg-remove-assistant="removeTempAttendence(att)"
                                        xg-add-assistants="addTempAttendence()">
                                </xg-user-assistants>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <!--mdt type-->
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <label class="col-md-2 control-label txt-r list-item-key">{{'MDT_DETAIL_MEETING_APPT' | translate}}</label>
                            <div class="col-md-10">
                                <input class="checkbox-control" type="checkbox" name="checked"  ng-model="mdt.checked" ng-change="changeType()" />
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <!--mdt date-->
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div ng-if="mdt.checked" class="col-md-10 div-hidden-color">
                            <label class="col-md-2 control-label txt-r list-item-key div-top">
                                {{'MDT_DETAIL_DATE' | translate}}
                                <i class="fa fa-asterisk required-mark"></i>
                            </label>
                            <div valdr-form-group class="valdr-form-item col-md-10 div-top">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="input-group datepicker m-b-0">
                                            <input type="text"
                                                   class="form-control"
                                                   datepicker-popup="yyyy-MM-dd"
                                                   ng-model="mdt.meetingStartDate"f
                                                   is-open="openedMeetingDate"
                                                   ng-click="openedMeetingDate=!openedMeetingDate"
                                                   show-button-bar="false"
                                                   name="date"
                                                   datepicker-append-to-body="true"
                                                   close-on-date-selection="true"
                                                   min-date="minDate"
                                                   ng-change="changeStartMeetingDate()"
                                                   required />
                                        </p>
                                <span ng-if="addOrEditMdtBasicInfo.date.$touched && addOrEditMdtBasicInfo.date.$error.required"
                                      class="valdr-message ng-invalid custom-error error-info">
                                    {{'MDT_DETAIL_DATE' | translate}}{{'VALID_NOT_EMPTY' | translate}}
                                </span>
                                <span ng-if="addOrEditMdtBasicInfo.date.$touched && addOrEditMdtBasicInfo.date.$error.date"
                                      class="valdr-message ng-invalid custom-error error-info">
                                    {{'VALID_NOT_VALIDE' | translate}}{{'MDT_DETAIL_DATE' | translate}}
                                </span>
                                <span ng-if="moreThan"
                                      class="valdr-message ng-invalid custom-error error-info">
                                    {{'MDT_DETAIL_DATE' | translate}}{{'VALID_NOT_MORE_THAN' | translate}}{{'MDT_DETAIL_DISCUSSION_DATE' | translate}}
                                </span>
                                    </div>
                                    <div class="col-md-6 txt-r">
                                        <xg-time-picker
                                                xg-discussion-date="mdt.discussionDate"
                                                xg-discussion-to="mdt.discussionTo"
                                                xg-start-date="mdt.meetingStartDate"
                                                xg-from="mdt.tfrom"
                                                xg-to="mdt.tto"
                                                xg-less-than="lessThan"
                                                xg-more-than="moreThan"
                                                xg-check="mdt.checked"
                                                xg-on-changed="onTimeChanged(item)">
                                        </xg-time-picker>
                                    </div>
                                </div>
                            </div>
                            <!--mdt location-->
                            <label class="col-md-2 control-label txt-r list-item-key">
                                {{'MDT_DETAIL_MEETING_ROOM' | translate}}
                                <i class="fa fa-asterisk required-mark"></i>
                            </label>
                            <div valdr-form-group class="col-md-10 valdr-form-item">
                                <input type="text" class="form-control"
                                       ng-model="mdt.location" name="location">
                            </div>
                        </div>
                        <div class="col-md-1"></div>

                     </div>
                </div>
            </div>

            <!--buttons-->
            <hr />
            <div class="row">
                <div class="col-sm-12 txt-r p-r-30">
                    <input type="button"
                        class="btn btn-default m-r-10"
                        value="{{'TEXT_CANCEL' | translate}}"
                        ng-click="cancel()" />

                    <input type="button"
                        class="btn btn-primary"
                        value="{{'TEXT_OK' | translate}}"
                        ng-disabled="addOrEditMdtBasicInfo.$invalid ||mdt.attendees.length ===0"
                        ng-click="save(addOrEditMdtBasicInfo)" />
                </div>
            </div>
        </form>
    </div>

    <!--Assistant info-->
    <div class="col-md-4">
        <div class="row div-ass-top">
        </div>
        <div class="row">
            <div class="panel-body div-hidden-color">
                <p>
                    <label>{{'MDT_DETAIL_MADORATOR' | translate}}:</label>
                    <label>{{mdt.creator.name}}</label>
                </p>
                <hr />
                <p>
                    {{'MDT_DETAIL_CONTACT' | translate}}
                </p>
                <div ng-repeat="ass in mdt.assistants">
                    <p>
                        <label>{{'MDT_DETAIL_USER_NAME' | translate}}:</label>
                        <label>{{ass.name}}</label>
                    </p>
                    <p>
                        <label>{{'MDT_DETAIL_MOBILE' | translate}}:</label>
                        <label>{{ass.mobile}}</label>
                    </p>
                    <p>
                        <label>{{'MDT_DETAIL_TEL' | translate}}:</label>
                        <label>{{ass.phone}}</label>
                    </p>
                    <p>
                        <label>{{'MDT_DETAIL_MAIL' | translate}}:</label>
                        <label>{{ass.mail}}</label>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
