﻿.mdt-edit-base {
}


    .mdt-edit-base .title-item {
        font-size: 26px;
        color: #0082d1;
    }

    .mdt-edit-base .mdt-edit-info{
        background-color: #f5f5f5;
    }

    .mdt-edit-base .datepicker .btn,
    .mdt-edit-base .date-picker-btn {
        min-width: 20px;
        padding: 5px 10px;
    }

    .mdt-edit-base .checkbox-control {
        width: 20px;
        height: 30px;
        margin: initial;
    }

    .mdt-edit-base .div-hidden-color {
        margin-left: 15px;
        background-color: #e6e6e6;
    }

    .mdt-edit-base .row .div-bottom-big {
        margin-bottom: 15px;
    }

    .mdt-edit-base .row .div-bottom-small {
        margin-bottom: 6px;
    }

    .mdt-edit-base .div-ass-top {
        margin-top: 50px;
    }

    .mdt-edit-base .row .div-bottom-special {
        margin-bottom:20px;
    }

    .mdt-edit-base .row .div-top {
        margin-top: 15px;
    }

    .mdt-edit-base .row .input-group input {
        border-radius: 4px;
    }
