﻿<!--existing patient info-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <label>{{'XG_PATIENT_PANEL_TITLE' | translate}}</label>

            <input type="button" class="btn btn-primary f-r" value="{{'TEXT_YES' | translate}}" ng-click="accept()" />
            <input type="button" class="btn btn-default f-r" value="{{'TEXT_NO' | translate}}" ng-click="reject()" />
        </h3>
    </div>
    <div class="panel-body">
        <div class="panel-content">
            <div class="row">
                <!--patient id-->
                <div class="form-group col-md-12">
                    <label class="col-md-4 control-label">{{'PATIENT_DETAIL_ID' | translate}}</label>
                    <label class="col-md-8">
                        {{patient.patientid}}
                    </label>
                </div>

                <!--name-->
                <div class="form-group col-md-12">
                    <label class="col-md-4 control-label">{{'PATIENT_LIST_NAME' | translate}}</label>
                    <label class="col-md-8">
                        {{patient.name}}
                    </label>
                </div>

                <!--hosiptal id-->
                <div class="form-group col-md-12">
                    <label class="col-md-4 control-label">{{'PATIENT_LIST_SEEDOCTOR_HOSPITAL_ID' | translate}}</label>
                    <label class="col-md-8">
                        {{patient.hospital}}
                    </label>
                </div>

                <!--dept-->
                <div class="form-group col-md-12">
                    <label class="col-md-4 control-label">{{'PATIENT_LIST_DEPT' | translate}}</label>
                    <label class="col-md-8">
                        {{patient.dept.name}}
                    </label>
                </div>

                <!--birthday-->
                <div class="form-group col-md-12">
                    <label class="col-md-4 control-label">{{'PATIENT_DETAIL_BIRTHDAY' | translate}}</label>
                    <label class="col-md-8">
                        {{patient.dept.birthday | amDateFormat:'YYYY-MM-DD'}}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--error-->
    <div class="error-section">
        <div ng-show="hasError" class="error valdr-message ng-invalid custom-error">
            <span>
                {{'PATIENT_DETAIL_LOAD_FAILED_MESSAGE' | translate}}
            </span>
        </div>
    </div>
</div>
