﻿<div class="mdt-detail-base" ng-controller="MdtBasicDetailCtrl">
    <div class="col-md-8 detail-base-info">
        <xg-countdown timer="timer" color="#27c3f0" radius="86" text="LET_US_MEETING_IN" stroke="10"></xg-countdown>
        <button ng-click="timer.start()">Start</button>

        <!--basic-->
        <div class="row">
            <!--mdt name-->
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label txt-r list-item-key">{{'MDT_DETAIL_NAME' | translate}}</label>
                <label class="col-md-8 list-item-text trim-detail" title="{{mdt.title}}">
                    {{mdt.title}}
                </label>
            </div>

            <!--mdt note-->
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label txt-r list-item-key">{{'MDT_DETAIL_NOTE' | translate}}</label>
                <div class="col-md-8 list-item-text trim-detail" title="{{mdt.remark}}">
                    {{mdt.remark}}
                </div>
            </div>
        </div>
        <hr />
        <!--others-->
        <div class="row">
            <!--mdt date-->
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label txt-r list-item-key">{{'MDT_DETAIL_DATE' | translate}}</label>
                <label class="col-md-8 list-item-text">
                    {{mdt.date}}
                </label>
            </div>

            <!--mdt location-->
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label txt-r list-item-key">{{'MDT_LIST_MEETING_ROOM' | translate}}</label>
                <label class="col-md-8 list-item-text trim-detail" title="{{mdt.location}}">
                    {{mdt.location}}
                </label>
            </div>

            <!--mdt attendence-->
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label txt-r list-item-key">{{'MDT_DETAIL_ATTENDENCES' | translate}}</label>
                <div class="col-md-8 p-l-0">
                    <label class="attendence-item" ng-repeat="attendence in mdt.attendees">{{attendence.name}}</label>
                </div>
            </div>

             <!--mdt temp attendence-->
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label txt-r list-item-key">{{'MDT_DETAIL_TEMP_ATTENDENCES' | translate}}</label>
                <div class="col-md-8 p-l-0">
                    <label class="attendence-item" ng-repeat="tempAtt in mdt.tempAttendees">{{tempAtt.name}}</label>
                </div>
            </div>
        </div>
    </div>

    <!--Assistant info-->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">{{'MDT_DETAIL_MORE_INFO' | translate}}</div>
            <div class="panel-body">
                <p>
                    <label>{{'MDT_DETAIL_MADORATOR' | translate}}:</label>
                    <label>{{mdt.creator.name}}</label>
                </p>
                <hr />
                <p>
                    {{'MDT_DETAIL_CONTACT' | translate}}
                </p>
                <div ng-repeat="ass in mdt.assistants">
                    <p>
                        <label>{{'MDT_DETAIL_USER_NAME' | translate}}:</label>
                        <label>{{ass.name}}</label>
                    </p>
                    <p>
                        <label>{{'MDT_DETAIL_MOBILE' | translate}}:</label>
                        <label>{{ass.mobile}}</label>
                    </p>
                    <p>
                        <label>{{'MDT_DETAIL_TEL' | translate}}:</label>
                        <label>{{ass.phone}}</label>
                    </p>
                    <p>
                        <label>{{'MDT_DETAIL_MAIL' | translate}}:</label>
                        <label>{{ass.mail}}</label>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
