﻿.mdt-detail-base {
}

        .mdt-detail-base .detail-base-info .list-item-key {
            display: block;
            line-height: 30px;
        }

        .mdt-detail-base .detail-base-info .list-item-text {
            display: block;
            border: 1px dashed #ddd;
            padding: 3px 6px;
            height: 30px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .mdt-detail-base .attendence-item {
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            padding: 6px 12px;
            border: 1px solid #ddd;
            font-weight: 200;
            margin-right: 10px;
        }

        .mdt-detail-base .detail-base-info .trim-detail{
            max-width: 514px;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
