﻿#errorPanel {
}

    #errorPanel .error-section {
        width: 80%;
        margin: 0 auto;
        padding-top: 60px;
    }

.error-section .error-icon {   
}

.error-section .page-not-found {
    /*background: #f5f5f5 url('/assets/src/img/icons/404-page-not-found.png') no-repeat center center;*/
    background-size:cover;
}
