﻿<div id="errorPanel" class="txt-c">
    <div class="jumbotron home">
        <div class="logo"></div>
    </div>

    <!---page ui view-->
    <div class="error-section">
        <div ui-view></div>
    </div>    
</div>

<!--footer-->
<div ng-include="'/assets/src/templates/pageFooter/pageFooter.tpl.html'"></div>



