﻿.mdt-add-base {
}

    .mdt-add-base .datepicker .btn,
    .mdt-add-base .date-picker-btn {
        min-width: 20px;
        padding: 5px 10px;
    }

.add-mdt .detail-patient .patient-section {
    background-color: #fff;
    border-bottom: 4px solid #efefef;
}

.add-mdt .detail-patient .detail-base-info {
    border-bottom: none;
}

.mdt-add-base .checkbox-control {
    width: 20px;
    height: 30px;
    margin: initial;
}

.mdt-add-base .div-hidden-color {
    margin-left: 15px;
    background-color: #e6e6e6;
}

.mdt-add-base .row .div-bottom-big {
    margin-bottom: 15px;
}

.mdt-add-base .row .div-bottom-small {
    margin-bottom: 8px;
}

.mdt-add-base .div-ass-top {
    margin-top: 50px;
}

.mdt-add-base .row .div-top {
    margin-top: 15px;
}

.mdt-add-base .row .input-group input {
    border-radius: 4px;
}


