﻿<div class="mdt-add-base" ng-controller="MdtBasicAddCtrl">
    <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 add-base-info">
        <form novalidate class="form-horizontal" name="addOrEditMdtBasicInfo" valdr-type="addOrEditMdtBasicInfo" role="form">
            <!--basic-->
            <div class="row">
                <!--mdt name-->
                <div class="col-md-12 div-bottom-small">
                    <div class="row">
                        <label class="col-md-3 control-label txt-r list-item-key">
                            {{'MDT_DETAIL_NAME' | translate}}
                            <i class="fa fa-asterisk required-mark"></i>
                        </label>
                        <div valdr-form-group class="valdr-form-item col-md-8">
                            <input type="text" class="form-control"
                                ng-model="mdt.title" name="title">
                        </div>
                    </div>
                </div>

                <!--mdt note-->
                <div class="col-md-12 div-bottom-small">
                    <div class="row">
                        <label class="col-md-3 control-label txt-r list-item-key">
                            {{'MDT_DETAIL_NOTE' | translate}}
                            <i class="fa fa-asterisk required-mark"></i>
                        </label>
                        <div valdr-form-group class="valdr-form-item col-md-8">
                            <textarea class="form-control"
                                ng-model="mdt.remark"
                                name="remark"
                                rows="4">
                            </textarea>
                        </div>
                     </div>
                </div>
            </div>
            <!--others-->
            <div class="row">
                <div class="col-md-12">
                    <!--mdt date-->
                    <div class="row">
                        <label class="col-md-3 control-label txt-r list-item-key">
                            {{'MDT_DETAIL_DISCUSSION_DATE' | translate}}
                            <i class="fa fa-asterisk required-mark"></i>
                        </label>
                        <div valdr-form-group class="valdr-form-item col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="input-group datepicker m-b-0">
                                        <input type="text"
                                               class="form-control"
                                               datepicker-popup="yyyy-MM-dd"
                                               ng-model="mdt.discussionDate"
                                               is-open="openedDisDate"
                                               ng-click="openedDisDate=!openedDisDate"
                                               show-button-bar="false"
                                               name="disDate"
                                               datepicker-append-to-body="true"
                                               close-on-date-selection="true"
                                               min-date="minDate"
                                               ng-change="changeDisDate()"
                                               required />
                                    </p>
                                    <span ng-if="addOrEditMdtBasicInfo.disDate.$touched && addOrEditMdtBasicInfo.disDate.$error.required"
                                          class="valdr-message ng-invalid custom-error error-info">
                                        {{'MDT_DETAIL_DISCUSSION_DATE' | translate}}{{'VALID_NOT_EMPTY' | translate}}
                                    </span>
                                    <span ng-if="addOrEditMdtBasicInfo.disDate.$touched && addOrEditMdtBasicInfo.disDate.$error.date"
                                          class="valdr-message ng-invalid custom-error error-info">
                                        {{'VALID_NOT_VALIDE' | translate}}{{'MDT_DETAIL_DISCUSSION_DATE' | translate}}
                                    </span>
                                    <span ng-if="lessThan"
                                          class="valdr-message ng-invalid custom-error error-info">
                                        {{'MDT_DETAIL_DISCUSSION_DATE' | translate}}{{'VALID_NOT_LESS_THAN' | translate}}{{'MDT_DETAIL_DATE' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-6 txt-r">
                                    <xg-end-time-picker
                                            xg-discussion-date="mdt.discussionDate"
                                            xg-from="mdt.discussionTo"
                                            xg-start-date="mdt.meetingStartDate"
                                            xg-to="mdt.tto"
                                            xg-less-than="lessThan"
                                            xg-more-than="moreThan"
                                            xg-check="mdt.checked"
                                            xg-on-changed="onEndTimeChanged(item)">
                                    </xg-end-time-picker>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--mdt attendence-->
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 div-bottom-big">
                            <label class="col-md-2 control-label txt-r list-item-key">{{'MDT_DETAIL_ATTENDENCES' | translate}}</label>
                            <div class="col-md-10">
                                <xg-user-assistants
                                        xg-assistants="mdt.attendees"
                                        xg-remove-assistant="removeAttendence(att)"
                                        xg-add-assistants="addAttendence()">
                                </xg-user-assistants>
                                <div>
                                    <span translate="VALID_MDT_BASIC_ATTENDENCE"
                                          ng-show="mdt.attendees.length ===0"
                                          class="valdr-message ng-invalid custom-error"></span>
                                </div></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <!--mdt temp attendence-->
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 div-bottom-big">
                            <label class="col-md-2 control-label txt-r list-item-key">{{'MDT_DETAIL_TEMP_ATTENDENCES' | translate}}</label>
                            <div class="col-md-10">
                                <xg-user-assistants
                                        xg-assistants="tempAttendeeItems"
                                        xg-remove-assistant="removeTempAttendence(att)"
                                        xg-add-assistants="addTempAttendence()">
                                </xg-user-assistants>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <!--mdt type-->
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 div-bottom-small">
                            <label class="col-md-2 control-label txt-r list-item-key">{{'MDT_DETAIL_MEETING_APPT' | translate}}</label>
                            <div class="col-md-10">
                                <input class="checkbox-control" type="checkbox" name="checked"  ng-model="mdt.checked" ng-change="changeType()" />
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>


                    <!--mdt date-->
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div ng-if="mdt.checked" class="div-hidden-color col-md-10">
                            <label class="col-md-2 control-label txt-r list-item-key">
                                {{'MDT_DETAIL_DATE' | translate}}
                                <i class="fa fa-asterisk required-mark"></i>
                            </label>
                            <div valdr-form-group class="valdr-form-item col-md-10 div-top">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="input-group datepicker m-b-0">
                                            <input type="text"
                                                   class="form-control"
                                                   datepicker-popup="yyyy-MM-dd"
                                                   ng-model="mdt.meetingStartDate"
                                                   is-open="openedMeetingDate"
                                                   ng-click="openedMeetingDate=!openedMeetingDate"
                                                   show-button-bar="false"
                                                   name="date"
                                                   datepicker-append-to-body="true"
                                                   close-on-date-selection="true"
                                                   min-date="minDate"
                                                   ng-change="changeMeetingDate()"
                                                   required />
                                        </p>
                                        <span ng-if="addOrEditMdtBasicInfo.date.$touched && addOrEditMdtBasicInfo.date.$error.required"
                                              class="valdr-message ng-invalid custom-error error-info">
                                            {{'MDT_DETAIL_DATE' | translate}}{{'VALID_NOT_EMPTY' | translate}}
                                        </span>
                                        <span ng-if="addOrEditMdtBasicInfo.date.$touched && addOrEditMdtBasicInfo.date.$error.date"
                                              class="valdr-message ng-invalid custom-error error-info">
                                            {{'VALID_NOT_VALIDE' | translate}}{{'MDT_DETAIL_DATE' | translate}}
                                        </span>
                                        <span ng-if="moreThan"
                                              class="valdr-message ng-invalid custom-error error-info">
                                             {{'MDT_DETAIL_DATE' | translate}}{{'VALID_NOT_MORE_THAN' | translate}}{{'MDT_DETAIL_DISCUSSION_DATE' | translate}}
                                        </span>
                                    </div>
                                    <div class="col-md-6 txt-r">
                                        <xg-time-picker
                                                xg-discussion-date="mdt.discussionDate"
                                                xg-discussion-to="mdt.discussionTo"
                                                xg-start-date="mdt.meetingStartDate"
                                                xg-from="mdt.tfrom"
                                                xg-to="mdt.tto"
                                                xg-less-than="lessThan"
                                                xg-more-than="moreThan"
                                                xg-check="mdt.checked"
                                                xg-on-changed="onTimeChanged(item)">
                                        </xg-time-picker>
                                    </div>
                                </div>
                            </div>

                            <!--mdt location-->
                            <label class="col-md-2 control-label txt-r list-item-key">
                                {{'MDT_DETAIL_MEETING_ROOM' | translate}}
                                <i class="fa fa-asterisk required-mark"></i>
                            </label>
                            <div valdr-form-group class="valdr-form-item col-md-10">
                                <input type="text" class="form-control"
                                       ng-model="mdt.location" name="location">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>

            <hr>
            <!--buttons-->
            <div class="row">
                <div class="col-sm-12 p-r-30">
                    <!--cancel-->
                    <input type="button"
                        class="btn btn-default m-r-10 f-l"
                        value="{{'TEXT_CANCEL' | translate}}"
                        ng-click="cancel()" />

                    <!--add patient material-->
                    <input type="button"
                        class="btn btn-primary f-r m-l-20"
                        value="{{'MDT_ADD_CONTINUAL_ADD_PATIENTS_MATERIAL' | translate}}"
                        ng-disabled="addOrEditMdtBasicInfo.$invalid ||mdt.attendees.length ===0"
                        ng-click="saveAndContinual(addOrEditMdtBasicInfo)" />

                    <!--completed-->
                    <input type="button"
                        class="btn btn-primary f-r"
                        value="{{'TEXT_COMPLETED' | translate}}"
                        ng-disabled="addOrEditMdtBasicInfo.$invalid ||mdt.attendees.length ===0"
                        ng-click="saveAndContinual(addOrEditMdtBasicInfo)" />
                </div>
            </div>
        </form>
    </div>
</div>
