﻿<div ng-controller="MdtMaterialCtrl">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div ng-if="patients==null || patients.length==0">
                <div class="none-patients-placeholder">
                    None of any patients by now, click me to add.
                </div>
            </div>

            <div ng-if="patients && patients.length!=0">
                <div ng-repeat="p in patients" class="patient-wrap">
                    <div class="row pos-rel patient-section" ng-mouseenter="p.focus=true" ng-mouseleave="p.focus=false">
                        <!--base information-->
                        <div class="col-md-6 detail-base-info">
                            <div class="row">
                                <!--name-->
                                <div class="form-group col-md-6">
                                    <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_LIST_NAME' | translate}}</label>
                                    <label class="col-md-6 list-item-text">
                                        {{p.patient.name}}
                                    </label>
                                </div>

                                <!--patient id-->
                                <div class="form-group col-md-6">
                                    <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_DETAIL_ID' | translate}}</label>
                                    <label class="col-md-6 list-item-text">
                                        {{p.patient.ptnum}}
                                    </label>
                                </div>

                                <!--hosiptal id-->
                                <div class="form-group col-md-6">
                                    <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_LIST_SEEDOCTOR_HOSPITAL_ID' | translate}}</label>
                                    <label class="col-md-6 list-item-text">
                                        {{p.patient.hospital}}
                                    </label>
                                </div>

                                <!--bed number-->
                                <div class="form-group col-md-6">
                                    <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_LIST_BED_NUMBER' | translate}}</label>
                                    <label class="col-md-6 list-item-text">
                                        {{p.patient.bed}}
                                    </label>
                                </div>

                                <!--dept-->
                                <div class="form-group col-md-6">
                                    <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_LIST_DEPT' | translate}}</label>
                                    <label class="col-md-6 list-item-text">
                                        {{p.patient.dept.name}}
                                    </label>
                                </div>

                                <!--birthday-->
                                <div class="form-group col-md-6">
                                    <label class="col-md-6 control-label txt-r list-item-key">{{'PATIENT_DETAIL_BIRTHDAY' | translate}}</label>
                                    <label class="col-md-6 list-item-text">
                                        {{p.patient.birthday | amDateFormat:'YYYY/MM/DD'}}
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <!--reason-->
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 control-label  txt-r list-item-key">{{'PATIENT_DETAIL_REASON' | translate}}</label>
                                    <label class="col-md-9 list-item-text">
                                        {{p.reason}}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!--patient docx-->
                        <div class="col-md-6 detail-docx">
                            <div class="patient-docx-section">
                                <div class="patient-docx-item pos-rel" ng-repeat="hr in p.healthrecords" ng-mouseenter="hr.focus=true" ng-mouseleave="hr.focus=false">
                                    <img ng-src="{{hr.thumbnail}}" />
                                    <div class="hr-desc" title="{{hr.desc}}">{{hr.description}}</div>
                                    <div class="hr-date">{{hr.createTime | amDateFormat:'YYYY-MM-DD' }}</div>

                                    <xg-trash
                                        class="trash-icon"
                                        ng-show="hr.focus"
                                        xg-id="{{hr.id}}"
                                        xg-on-trash="deleteMaterial(id)">
                                    </xg-trash>
                                </div>
                                <div class="patient-docx-item plus-icon" ng-click="addPatientMaterial(p)">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                        </div>

                        <!--btns-->
                        <xg-edit-trash
                            ng-show="p.focus"
                            xg-on-edit="edit(p)"
                            xg-on-trash="delete(p)">
                        </xg-edit-trash>
                    </div>
                </div>

                <xg-pagination
                    xg-total-items="totalItems"
                    xg-page-changed="pageChanged(item)"
                    xg-page-size-changed="pageSizeChanged(item)"
                    xg-items-per-page="itemsPerPage"
                    xg-current-page="currentPage"
                    xg-show-page-text="true"
                    xg-show-entities-text="true">
           </xg-pagination>
            </div>
        </div>
    </div>
</div>
