﻿<ol class="breadcrumb margin-minus-32">
    <li class="bc-item bc-back f-l" ng-click="back()"></li>
    <li class="bc-item no-sep-icon f-l">
        <span>{{pageTitle |translate }}</span>
    </li>

    <li ng-if="mdtid" class="bc-icon add-icon">
        <a href="javascript:void(0)" ng-click="addPatient()"></a>
    </li>
</ol>

<div class="container-fluid page-content add-mdt">
    <!--content: step1--->
    <div class="row tab-content" ng-show="iNow === 1">
        <div ng-include="'/assets/src/pages/meeting/basic/add/addBasic.html'"></div>
    </div>

    <!--content: step2-->
    <div class="row tab-content" ng-show="iNow === 2">
        <div class="detail-patient col-md-12">
            <div ng-if="mdtid" ng-include="'/assets/src/pages/meeting/basic/add/addMaterial.html'" onload="mdtid=mdtid"></div>
        </div>
    </div>
</div>
