﻿<div class="app-modal add-attachment">
    <div class="row">
        <div class="app-modal-wrap col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
            <div class="app-modal-header">
                <div class="app-modal-title">
                    {{'TEXT_SELECT_ATTACHMENT'|translate}}
                </div>
            </div>
            <div class="app-modal-body">
                <div class="row">
                    <div class="col-md-12 search-section">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-4 ">
                                <input type="search"
                                       class="form-control"
                                       placeholder="{{'MDT_DETAIL_MODAL_SEARCH_PLACEHOLDER'|translate}}"
                                       ng-model="filter"
                                       ng-change="search()" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 content-section">
                        <div class="row">
                            <div class="left-tabs col-md-4">
                                <div class="patients-list">
                                    <div class="patient-item"
                                         ng-repeat="p in patients"
                                         ng-class="{'active': iNow==$index}"
                                         ng-click="onPatient(p, $index)">
                                        <div class="trim-field">
                                            <span>{{p.name}}</span>
                                            <span>{{p.age}}{{'OLD'|translate}}</span>
                                            <span ng-if="p.sex === 1">{{'GENDER_MALE' |translate }}</span>
                                            <span ng-if="p.sex !== 1">{{'GENDER_FEMALE' |translate }}</span>
                                        </div>
                                        <div class="p-text">
                                            <span>{{p.dept.name}}</span>
                                            <span>{{p.create_time | amDateFormat:'YYYY/MM/DD'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content col-md-8">
                                <div class="back" ng-show="isSnapshotPage">
                                    <span ng-click="backToHealthrecords()">
                                        <i class="fa fa-angle-left"></i>
                                        <span class="text">{{'TEXT_BACK'|translate}}</span>
                                    </span>
                                </div>
                                <div class="healthrecords-list clearfix" ng-show="!isSnapshotPage">
                                    <div class="attachment-item"
                                         ng-class="{'active': hr.checked}"
                                         ng-repeat="hr in healthrecords"
                                         ng-click="onHealthrecord(hr, $index)">
                                        <img ng-src="{{hr.thumbnail}}" alt="" />
                                        <div class="title trim-field">{{hr.description}}</div>
                                        <div class="time">{{hr.createTime | amDateFormat:'YYYY/MM/DD HH:mm'}}</div>
                                        <span class="sn-icon"
                                              ng-click="gotoSnapshot(hr); $event.stopPropagation();"
                                              ng-show="hr.snapshots!=0">
                                            <i class="fa fa-paperclip"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="snapshots-list" ng-show="isSnapshotPage">
                                    <div class="attachment-item"
                                         ng-class="{'active': sn.checked}"
                                         ng-repeat="sn in snapshots"
                                         ng-click="onSnapshot(sn, $index)">
                                        <img ng-src="{{sn.thumbnail}}" alt="" />
                                        <div class="title trim-field">{{sn.description}}</div>
                                        <div class="time">{{sn.createTime | amDateFormat:'YYYY/MM/DD HH:mm'}}</div>
                                    </div>
                                </div>

                                <div class="attaches-list clearfix">
                                    <div class="attaches-item" ng-repeat="hr in selectedAttachment.healthrecords">
                                        <span>{{hr.description}}</span>
                                        <span class="cursor-p" ng-click="removeHealthrecordAttachment(hr, $index)">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                    <div class="attaches-item" ng-repeat="sn in selectedAttachment.snapshots">
                                        <span>{{sn.description}}</span>
                                        <span class="cursor-p" ng-click="removeSnapshotAttachment(sn, $index)">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer  m-r-o-15">
                <div class="data-btns">
                    <button class="btn cancel" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok"
                            ng-click="ok()"
                            ng-disabled="selectedAttachment.healthrecords.length==0&&selectedAttachment.snapshots.length==0">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
