﻿.add-attachment {
}

.app-modal.add-attachment .app-modal-wrap {
    /*min-height: 430px;*/
}

.add-attachment .app-modal-title {
    margin: 20px 0 10px -15px;
    font-size: 24px;
    color: #0082d1;
}

.app-modal.add-attachment .modal-table-wrap .table-body {
    min-height: 250px;
}

.app-modal.add-attachment .app-modal-wrap .app-modal-body .tab-content {
    border-left: none;
    position: relative;
    min-height: 404px;
}

.app-modal.add-attachment .app-modal-wrap .app-modal-body .left-tabs {
    min-height: 440px;
    background-color: #fff;
    padding-left: 0;
    border-right: 1px solid #e4e1e1;
}

/*------search section------*/
.app-modal.add-attachment .search-section {
    border: 1px solid #e4e1e1;
    height: 52px;
    background-color: #f5f5f5;
    margin-bottom: 5px;
}

    .app-modal.add-attachment .search-section input[type=search] {
        background: #fff url('/assets/src/img/icons/searchicon.png') no-repeat 5px center;
        padding-left: 25px;
        margin-top: 9px;
    }

.app-modal.add-attachment .content-section {
    border: 1px solid #e4e1e1;
    background-color: #f5f5f5;
}

/*------patient list------*/
.add-attachment .healthrecords-list,
.add-attachment .snapshots-list,
.add-attachment .patients-list {
    max-height: 450px;
    overflow-y: auto;
}

    .add-attachment .patients-list .patient-item {
        padding: 4px 10px 4px 15px;
        border-bottom: 1px solid #e4e1e1;
    }

        .add-attachment .patients-list .patient-item:hover,
        .add-attachment .patients-list .patient-item.active {
            background-color: #f5f5f5;
        }

        .add-attachment .patients-list .patient-item .p-text {
            font-size: 12px;
            color: #bbb;
        }

        .add-attachment .patients-list .patient-item:last-child {
            border-bottom: none;
        }
/*------end------*/

/*------healthrecord list------*/
.add-attachment .back {
    margin-top: -6px;
    cursor: pointer;
}

    .add-attachment .back > span {
        padding: 0 6px;
        font-size: 24px;
    }

        .add-attachment .back > span .text {
            font-size: 16px;
        }

.add-attachment .healthrecords-list {
}

.add-attachment .attachment-item {
    border: 1px solid transparent;
    padding: 6px 12px;
    float: left;
    text-align: center;
    margin: 6px;
    position: relative;
    text-align: center;
    margin-top: 15px;
}

    .add-attachment .attachment-item.active {
        border-color: #93d7ff;
        background-color: #eef9ff;
    }

    .add-attachment .attachment-item img {
        height: 117px;
        width: 117px;
    }

    .add-attachment .attachment-item .title {
        max-width: 80px;
    }

    .add-attachment .attachment-item .time {
        font-size: 12px;
        color: #888;
    }

    .add-attachment .attachment-item .sn-icon {
        position: absolute;
        top: 0;
        right: -3px;
        cursor: pointer;
    }
/*------end------*/


/*------snapshot list------*/

/*------end------*/

.add-attachment .attaches-list {
    min-height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
}

    .add-attachment .attaches-list .attaches-item {
        color: #606060;
        background-color: #f1f1f1;
        padding: 3px 6px;
        font-size: 12px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin: 0 4px 2px;
        float: left;
    }
