﻿<div class="xg-time-picker">
    <select
        class="form-control f-l"
        ng-model="from"
        ng-change="onFromChanged(from)"
        ng-options="opt.text for opt in fromData"
        name="from">
    </select>
    <label class="time-sep f-l">-</label>
    <select
        class="form-control f-l"
        ng-model="to"
        ng-change="onToChanged(to)"
        ng-options="opt.text for opt in toData"
        name="to">
    </select>
</div>
