﻿<div class="app-modal mdt-announcements">
    <div class="row">
        <div class="app-modal-wrap col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
            <div class="app-modal-header">
                <h3 class="app-modal-title" ng-if="!isEdit">
                    {{'TEXT_MDT_ADD_ANNOUNCEMENT'|translate}}
                </h3>
                <h3 class="app-modal-title" ng-if="isEdit">
                    {{'TEXT_MDT_UPDATE_ANNOUNCEMENT'|translate}}
                </h3>
            </div>
            <div class="app-modal-body">               
                <textarea rows="8"
                          class="form-control comments-control"
                          ng-model="announcement.content"
                          placeholder="{{'TEXT_ANNOUNCEMENT_PLACEHOLDER'|translate}}"></textarea>
            </div>
            <div class="app-modal-footer">
                <div class="data-btns">
                    <button class="btn cancel" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok" 
                            ng-click="ok()"
                            ng-disabled="!announcement.content">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
