﻿<div class="app-modal add-temp-attendence">
    <div class="row">
        <div class="app-modal-wrap col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
            <div class="app-modal-header">
                <h3 class="app-modal-title" translate="MDT_DETAIL_ADD_TEMPORARY"></h3>
            </div>
            <div class="app-modal-body">
                <!--tabs-->
                <div class="row">
                    <div class="col-md-12">
                        <xg-tab xg-tabs="tabs"
                                xg-form="addOrEditMdtTempAttendees"
                                xg-tab-name="{{'MDT_DETAIL_TEMP_ATTENDENCES'| translate}}"
                                xg-on-tab="onTab(item)"
                                xg-on-remove="onRemoved(item)"
                                xg-on-add="onAdd(item)"></xg-tab>
                    </div>
                </div>

                <!--common content-->
                <div class="row m-t-20">
                    <div class="col-md-10 col-md-offset-1">
                        <form novalidate class="form-horizontal"
                              name="addOrEditMdtTempAttendees"
                              valdr-type="addOrEditMdtTempAttendees"
                              role="form">
                            <div class="row">
                                <!--name-->
                                <div class="data-group">
                                    <p class="p-label">
                                        {{'MDT_DETAIL_USER_NAME'|translate}}
                                        <i class="fa fa-asterisk"></i>
                                    </p>
                                    <div valdr-form-group class="valdr-form-item">
                                        <input type="text" class="form-control"
                                               ng-model="attendence.userName" name="userName">
                                    </div>
                                </div>  

                                <!--phone-->
                                <div class="data-group">
                                    <p class="p-label">
                                       {{'MDT_DETAIL_TEL' | translate}}
                                        <i class="fa fa-asterisk"></i>
                                    </p>
                                    <div valdr-form-group class="valdr-form-item">
                                        <input type="text" class="form-control"
                                               ng-model="attendence.phone" name="phone">
                                    </div>
                                </div>                                  

                                <!--email-->
                                <div class="data-group">
                                    <p class="p-label">
                                        {{'MDT_DETAIL_MAIL' | translate}}
                                        <i class="fa fa-asterisk"></i>
                                    </p>
                                    <div valdr-form-group class="valdr-form-item">
                                        <input type="text" class="form-control"
                                               ng-model="attendence.email" name="email">
                                    </div>
                                </div>

                                <!--remark-->
                                <div class="data-group">
                                    <p class="p-label">
                                        {{'MDT_LIST_NOTE' | translate}}
                                    </p>
                                    <div valdr-form-group class="valdr-form-item">
                                        <textarea class="form-control"
                                                  ng-model="attendence.remark"
                                                  name="remark" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="data-btns">
                    <button class="btn cancel" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok"
                            ng-click="ok()"
                            ng-disabled="addOrEditMdtTempAttendees.$invalid">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
