﻿<div class="app-modal add-edit-user">
    <div class="app-modal-wrap">
        <div class="app-modal-header">
            <h3 class="app-modal-title" translate="USER_ADD_EDIT_FORM_TITLE">
                <!--Create a new doctor-->
            </h3>
        </div>
        <div class="app-modal-body">
            <form novalidate name="addOrEditUserForm" valdr-type="addOrEditUser" role="form">
                <div class="row">
                    <div valdr-form-group class="form-group col-md-4 col-sm-6">
                        <label for="name" translate="USER_ADD_EDIT_LOGIN_NAME">
                            <!--login Name-->
                        </label>
                        <input type="text" class="form-control" name="account" ng-model="data.account" />
                    </div>
                    <div valdr-form-group class="form-group col-md-4 col-sm-6">
                        <label for="name" translate="USER_ADD_EDIT_PASSWORD">
                            <!--Password-->
                        </label>
                        <input type="password" class="form-control" name="password" ng-model="data.password" />
                    </div>
                    <div valdr-form-group class="form-group col-md-4 col-sm-6">
                        <label for="name" translate="USER_ADD_EDIT_ACCOUNT_STATE">
                            <!--Account State-->
                        </label>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" id="status1" name="status" value="1" ng-model="data.status" ng-change="changed(1)" />
                                    </span>
                                    <div class="form-control">启用</div>
                                </div>
                            </div>

                            <div class="col-md-6  col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" id="status2" name="status" value="2" ng-model="data.status" ng-change="changed(2)" />
                                    </span>
                                    <div class="form-control">禁用</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div valdr-form-group class="form-group col-md-4 col-sm-6">
                        <label for="name" translate="USER_ADD_EDIT_FULL_NAME">
                            <!--Full Name-->
                        </label>
                        <input type="text" class="form-control" name="name" ng-model="data.name" />
                    </div>
                    <div valdr-form-group class="form-group col-md-4 col-sm-6">
                        <label for="name" translate="USER_ADD_EDIT_GENDER">
                            <!--Gender-->
                        </label>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="sex" value="1" ng-model="data.sex" />
                                    </span>
                                    <div class="form-control">男</div>
                                </div>
                            </div>

                            <div class="col-md-6  col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="sex" value="2" ng-model="data.sex" />
                                    </span>
                                    <div class="form-control">女</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div valdr-form-group class="form-group col-md-4 col-sm-6">
                        <label for="name" translate="USER_ADD_EDIT_BIRTHDAY">
                            <!--Birthday-->
                        </label>
                        <p>
                            <input type="date"
                                   class="form-control"
                                   name="birthday"
                                   ng-model="data.birthday" />
                        </p>
                    </div>
                    <div valdr-form-group class="form-group col-md-4 col-sm-6">
                        <label for="name" translate="USER_ADD_EDIT_TITLE">
                            <!--Title-->
                        </label>
                        <input type="text" class="form-control" name="usertype" ng-model="data.usertype" />
                    </div>
                    <div valdr-form-group class="form-group col-md-4 col-sm-6">
                        <label for="name" translate="USER_ADD_EDIT_DESCRIPTION">
                            <!--Description-->
                        </label>
                        <input type="text" class="form-control" name="description" ng-model="data.description" />
                    </div>
                    <div valdr-form-group class="form-group col-md-4 col-sm-6">
                        <label for="name" translate="USER_ADD_EDIT_OTHERS">
                            <!--Others-->
                        </label>
                        <input type="text" class="form-control" name="extinfo" ng-model="data.extinfo" />
                    </div>
                </div>
            </form>
        </div>
        <div class="app-modal-footer">
            <div class="data-btns">
                <button class="btn cancel" ng-click="cancel()">
                    {{'TEXT_CANCEL'|translate}}
                </button>

                <button class="btn ok" ng-click="ok()" ng-disabled="addOrEditUserForm.$invalid" ng-click="ok(addOrEditUserForm)">
                    {{'TEXT_OK'|translate}}
                </button>
            </div>
        </div>
    </div>
</div>
