﻿<div class="user-roles-container">
    <label class="user-role-item list-item" ng-repeat="role in roles">
        <label>{{role.name}}</label>
        <label class="cursor-p" ng-click="remove(role)">
            <i class="fa fa-times"></i>
        </label>
    </label>
    <label class="user-role-item clear-padding" ng-show="aroles.length !=0">
        <label>
            <span class="dropdown" dropdown on-toggle="toggled(open)">
                <label class="dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-plus"></i>
                </label>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in aroles" ng-click="add(item)">
                        <a href>{{item.name}}</a>
                    </li>
                </ul>
            </span>
        </label>
    </label>
</div>
