﻿<div class="app-modal add-assistant">
    <div class="row">
        <div class="app-modal-wrap col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
            <div class="app-modal-header">
                <h3 class="app-modal-title col-md-offset-3" translate="USER_ASSISTANT_TITLE">
                    <!--Change Password-->
                </h3>
            </div>
            <div class="app-modal-body">
                <div class="row">
                    <div class="left-tabs col-md-3">
                        <ul class="app-list-group">
                            <li class="app-list-item"
                                ng-click="tab(true)"                              
                                ng-class="{active: addByDept}">
                                <div>{{'USER_ASSISTANT_DEPT_TAB' | translate}}</div>
                            </li>
                            <li class="app-list-item"
                                ng-click="tab(false)"                                
                                ng-class="{active: !addByDept}">
                                <div>{{'USER_ASSISTANT_SEARCH_TAB' | translate}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content col-md-9">
                        <!--panel for dept-->
                        <div class="tab-content-1" ng-show="addByDept">
                            <div>
                                <select
                                    class="form-control"
                                    ng-model="data.dept"
                                    ng-change="deptChanged()"
                                    ng-options="opt.name for opt in data.depts">
                                </select>
                                <div class="modal-table-wrap">
                                    <div class="table-header">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1"></th>
                                                    <th class="col-md-2">
                                                        <div>{{'USER_LIST_FULL_NAME' |translate }}</div>
                                                    </th>
                                                    <th class="col-md-2 custome-controls"
                                                        xg-filter
                                                        xg-title="{{'USER_LIST_TITLE' |translate }}"
                                                        xg-selected="filterByTitle(item)"
                                                        xg-s-text="fsText"
                                                        dp-data="data.userTypes"></th>
                                                    <th class="col-md-1">
                                                        <div>{{'USER_LIST_DEPT' |translate }}</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="table-body">
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="user in users" class="list-item">
                                                    <td class="col-md-1">
                                                        <input type="checkbox" value="user.id" name="ids" ng-model="user.checked"/>
                                                    </td>
                                                    <td class="col-md-2">{{user.userName}}</td>
                                                    <td class="col-md-2">{{user.userType.name}}</td>
                                                    <td class="col-md-1">{{user.dept.name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--panel for search-->
                        <div class="tab-content-2" ng-show="!addByDept">
                            <div>
                                <div>
                                    <input type="text"
                                        class="form-control"
                                        ng-model="filter"
                                        ng-change="search()"
                                        placeholder="{{'USER_ASSISTANT_SEARCH_PLACEHOLDER' |translate }}" />
                                </div>
                                <div class="modal-table-wrap">
                                    <div class="table-header">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1"></th>
                                                    <th class="col-md-2">
                                                        <div>{{'USER_LIST_FULL_NAME' |translate }}</div>
                                                    </th>
                                                    <th class="col-md-2 custome-controls"
                                                        xg-filter
                                                        xg-title="{{'USER_LIST_TITLE' |translate }}"
                                                        xg-selected="filterByTitle(item)"
                                                        xg-s-text="fsText"
                                                        dp-data="data.userTypes"></th>
                                                    <th class="col-md-1">
                                                        <div>{{'USER_LIST_DEPT' |translate }}</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="table-body">
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="user in users" class="list-item">
                                                    <td class="col-md-1">
                                                        <input type="checkbox" value="user.id" name="ids" ng-model="user.checked"/>
                                                    </td>
                                                    <td class="col-md-2">{{user.userName}}</td>
                                                    <td class="col-md-2">{{user.userType.name}}</td>
                                                    <td class="col-md-1">{{user.dept.name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="data-btns">
                    <button class="btn cancel" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok" ng-click="ok()">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
