/*-------suggestion-section ----------*/
.suggestion-section {
    position: relative;
}

    .suggestion-section .doctor-list {
        top: 0;
        left: 0;
        margin-bottom: 5px;
    }

        .suggestion-section .doctor-list .heading {
            color: #fff;
            padding: 12px 20px;
            min-height: 32px;
        }

        .suggestion-section .doctor-list .selected-list span {
            padding: 4px 12px;
            margin-right: 5px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
        }

            .suggestion-section .doctor-list .selected-list span.active {
                background-color: #0082d1;
                color: #fff;
            }

    .suggestion-section .suggestion-info,
    .suggestion-section textarea {
        padding: 16px;
    }

    .suggestion-section .suggestion-info {
        height: 134px;
        border: 1px solid #f1f1f1;
        border-radius: 4px;
        background-color: #fff;
        padding: 16px;
        overflow-wrap: break-word;
        overflow-y: auto;
    }

        .suggestion-section .suggestion-info pre {
            color: #0082d1;
        }

    .suggestion-section .data-btns .btn {
        min-width: 20px;
        height: 18px;      
        padding-top:4px;
    }

        .suggestion-section .data-btns .btn + .btn {
            margin-left: 0;
        }

        .suggestion-section .data-btns .btn span.closed {
            color:#999;     
        }
    
    .suggestion-section .doctor-list .filled {
        background-image: url("/assets/src/img/icons/closedtopic.png");
        background-repeat: no-repeat;
        background-position: right top
    }
    
/*-------end----------*/
