<div class="row m-t-20" ng-controller="SuggestionPatientCtrl">
    <!--
        // 1->pending
        // 2->discussing
        // 3->queuing
        // 4->meeting
        // 5->finished
    -->
    <div>
        <div class="col-md-12 col-xs-12 suggestion-section">
            <div class="doctor-list clearfix">
                <!--only moderate can see all doctors list-->
                <div class="selected-list m-t-10" ng-if="meetingAttendees.length !=0" xg-auth-permissions="{{permissions.dashboard.moderator}}">
                    <span ng-repeat="a in meetingAttendees" 
                          ng-click="onAttendance(a, $index)" 
                          ng-class="{'active': iAttendanceNow === $index, 'filled': a.suggestion.content != '' && a.suggestion.content != null }">
                        {{a.userName}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 suggestion-section" 
             ng-if="attendingDoctor!=null" 
             xg-auth-permissions="{{permissions.dashboard.moderator}},{{permissions.dashboard.doctor}}">
            <!--has content-->
            <div ng-if="attendingDoctor.suggestion.content || attendingDoctor.editable">
                <div ng-show="attendingDoctor.editable">
                    <textarea class="form-control" 
                              id="suggestionInput"
                              rows="5" 
                              placeholder="{{'TEXT_WHAT_YOUR_OPINIONS'|translate}}" 
                              ng-model="attendingDoctor.suggestion.content"></textarea>

                    <div class="data-btns">
                        <button class="btn ok none-transition"
                                ng-click="addSuggestion()"
                                ng-if="selectedHistoryInformation.status !=5"
                                ng-show="attendingDoctor.suggestion.content">
                            <span class="fa fa-check">
                            </span>
                        </button>
                        <button class="btn cancel none-transition"
                                ng-click="cancelSuggestion()"
                                ng-if="selectedHistoryInformation.status !=5"
                                ng-show="attendingDoctor.suggestion.content">
                            <span class="fa fa-close closed">
                            </span>
                        </button>
                    </div>  
                </div>
                <div ng-hide="attendingDoctor.editable">
                    <div class="suggestion-info" ng-click="editSuggestion()">
                       <pre> {{attendingDoctor.suggestion.content}}</pre>
                    </div>
                </div>
            </div>

            <!--content is empty.-->
            <div ng-if="!(attendingDoctor.suggestion.content) && !attendingDoctor.editable">
                <div class="suggestion-info" ng-click="editSuggestion()">
                    <span>{{attendingDoctor.userName}},</span>
                    <span>{{'TEXT_CLICK_HERE_TO_PUBLISH_YOUR_SUGGESTION'|translate}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
