﻿<ol class="breadcrumb">
    <li>
        <a href="#">
            <h1>{{'USER_LIST_PAGE_TITLE' |translate }}</h1>
        </a>
    </li>
    <li class="active">Data</li>
    <li class="">
        <a>
            <i class="fa fa-plus-square-o action-icon" ng-click="addAccount()"></i>
        </a>
    </li>
</ol>

<div class="container-fluid">
    <h1>docx</h1>
</div>
