<div class="app-modal add-or-edit-patient">
    <div class="row">
        <div class="col-lg-9 col-md-10 col-sm-11 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
            <div class="row">
                <div class="app-modal-wrap pos-rel col-md-8"
                     ng-class="{'show-border': existingPatients.length!=0}">
                    <div class="app-modal-header">
                        <div class="row">
                            <h3 ng-if="isEdit" class="app-modal-title" translate="PATIENT_DETAIL_EDIT_TITLE"></h3>
                            <h3 ng-if="!isEdit" class="app-modal-title" translate="PATIENT_DETAIL_ADD_TITLE"></h3>
                        </div>
                    </div>
                    <div class="app-modal-body pos-rel zindex-10">
                        <form novalidate class="form-horizontal" name="addOrEditPatient" valdr-type="addOrEditPatient" role="form">
                            <div class="row">                                
                                <!--id-->
                                <div class="form-group col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="data-group">
                                                <p class="p-label">
                                                    {{'PATIENT_DETAIL_IDENTITY'|translate}}
                                                    <i class="fa fa-asterisk"></i>
                                                </p>
                                                <div valdr-form-group
                                                     class="valdr-form-item">
                                                    <input type="text" class="form-control"
                                                           ng-blur="idnumChanged()"
                                                           ng-model="patient.idnum" name="idnum" ng-disabled="isEdit">
                                                    <span ng-if="patientExist && addOrEditPatient.idnum.$valid"
                                                          class="valdr-message ng-invalid custom-error ">
                                                        {{'PATIENT_DETAIL_IDENTITY_UNUSABLE' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                
                                <!--name-->
                                <div class="form-group col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="data-group">
                                                <p class="p-label">
                                                    {{'PATIENT_LIST_NAME'|translate}}
                                                    <i class="fa fa-asterisk"></i>
                                                </p>
                                                <div valdr-form-group class="valdr-form-item">
                                                    <input type="text" class="form-control"
                                                           ng-model="patient.name" name="name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--age-->
                                <!-- <div class="form-group col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="data-group">
                                                <p class="p-label">
                                                    {{'PATIENT_LIST_AGE'|translate}}
                                                </p>
                                                <div valdr-form-group class="valdr-form-item">
                                                    <input type="text" class="form-control"
                                                           ng-model="patient.age" name="age" ng-disabled="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                
                                <!--patient id-->
                                <div class="form-group col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="data-group">
                                                <p class="p-label">
                                                    {{'PATIENT_DETAIL_ID'|translate}}
                                                    <i class="fa fa-asterisk"></i>
                                                </p>
                                                <div valdr-form-group
                                                     class="valdr-form-item">
                                                    <input type="text" class="form-control"
                                                           ng-model="patient.ptnum"
                                                           name="ptnum" ng-disabled="isEdit">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                <!--bed id-->
                                <div class="form-group col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="data-group">
                                                <p class="p-label">
                                                    {{'PATIENT_LIST_BED_NUMBER'|translate}}
                                                </p>
                                                <div valdr-form-group
                                                     class="valdr-form-item">
                                                    <input type="text" class="form-control"
                                                           ng-model="patient.bed" name="bed">
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>

                                <!--doctor-->
                                <div class="form-group col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="data-group">
                                                <p class="p-label">
                                                    {{'PATIENT_DETAIL_ASSIGN'|translate}}
                                                    <i class="fa fa-asterisk"></i>
                                                </p>
                                                <div valdr-form-group
                                                     class="valdr-form-item">
                                                    <select class="form-control"
                                                            ng-model="patient.doctor"
                                                            ng-change="doctorChanged()"
                                                            ng-options="item.name for item in doctorList track by item.id "
                                                            name="doctor"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--sex-->
                                <div class="form-group col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="data-group">
                                                <p class="p-label">
                                                    {{'GENDER' | translate}}
                                                </p>
                                                <div valdr-form-group
                                                     class="valdr-form-item">
                                                    <div valdr-form-group class="valdr-form-item">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <input type="radio" name="sex" value="1" ng-model="patient.sex">
                                                                    </span>
                                                                    <label class="form-control">{{'GENDER_MALE' | translate}}</label>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <input type="radio" name="sex" value="2" ng-model="patient.sex">
                                                                    </span>
                                                                    <label class="form-control">{{'GENDER_FEMALE' | translate}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                                                     
                                </div>

                                <!--mobile-->
                                <div class="form-group col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="data-group">
                                                <p class="p-label">
                                                    {{'USER_DETAIL_USER_MOBILE'|translate}}
                                                </p>
                                                <div valdr-form-group class="valdr-form-item">
                                                    <input type="text" class="form-control"
                                                           ng-model="patient.mobile" name="mobile">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>

                            <!--reason-->
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="data-group">
                                                <p class="p-label">
                                                    {{'PATIENT_SICK_NOTES'|translate}}
                                                </p>
                                                <div valdr-form-group class="valdr-form-item p-r-30">
                                                    <textarea type="text" class="form-control" rows="4"
                                                              ng-model="patient.reason" name="reason"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="app-modal-footer zindex-10">
                        <div class="data-btns clearfix">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="data-group m-r-10">
                                                <button class="btn ok f-r m-r-30 m-l-20" ng-click="ok(addOrEditPatient)" translate="TEXT_OK" ng-disabled="addOrEditPatient.$invalid">
                                                    <!--OK-->
                                                </button>
                    
                                                <button class="btn cancel f-r m-r-15" ng-click="cancel()" translate="TEXT_CANCEL">
                                                    <!--Cancel-->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="col-md-4" ng-if="existingPatient.id">
                    <div class="row">
                        <div class="accordion-wrap col-md-10 col-md-offset-1">
                            <accordion close-others="true"> 
                                <accordion-group is-open="true">
                                    <accordion-heading> 
                                        {{existingPatient.name}} <i class="f-r fa fa-chevron-down"></i> 
                                    </accordion-heading> 
                                    <accordion-body>
                                        <div class="row">
                                            <div class="col-md-3 txt-r">{{'PATIENT_DETAIL_ID'|translate}}</div>
                                            <div class="col-md-9">{{existingPatient.ptnum}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 txt-r">{{'PATIENT_LIST_NAME'|translate}}</div>
                                            <div class="col-md-9">{{existingPatient.name}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 txt-r">{{'PATIENT_LIST_AGE'|translate}}</div>
                                            <div class="col-md-9">{{existingPatient.age}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 txt-r">{{'PATIENT_LIST_SEX'|translate}}</div>
                                            <div class="col-md-9">
                                                <div ng-if="existingPatient.sex === 1">{{'GENDER_MALE' |translate }}</div>
                                                <div ng-if="existingPatient.sex === 2">{{'GENDER_FEMALE' |translate }}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 txt-r">{{'PATIENT_LIST_STATUS'|translate}}</div>
                                            <div class="col-md-9">
                                                <div title="{{'PATIENT_STATUS_PENDING' |translate }}" ng-if="existingPatient.status == 1">{{'PATIENT_STATUS_PENDING' | translate }}</div>
                                                <div title="{{'PATIENT_STATUS_DISCUSSION' |translate }}" ng-if="existingPatient.status == 2">{{'PATIENT_STATUS_DISCUSSION' | translate }}</div>
                                                <div title="{{'PATIENT_STATUS_QUEUE' |translate }}" ng-if="existingPatient.status == 3">{{'PATIENT_STATUS_QUEUE' | translate }}</div>
                                                <div title="{{'PATIENT_STATUS_MEETING' |translate }}" ng-if="existingPatient.status == 4">{{'PATIENT_STATUS_MEETING' | translate }}</div>
                                                <div title="{{'PATIENT_STATUS_FINISH' |translate }}" ng-if="existingPatient.status == 5">{{'PATIENT_STATUS_FINISH' | translate }}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 txt-r">{{'USER_DETAIL_USER_MOBILE'|translate}}</div>
                                            <div class="col-md-9">{{existingPatient.mobile}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 txt-r">
                                                <a href="javascript:void(0)" ng-click="loadPatient(existingPatient)">
                                                    {{'PATIENT_DETAIL_LOAD_CURRENT_PATIENT'|translate}} </a>
                                            </div>
                                        </div>
                                    </accordion-body>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
