.add-or-edit-patient {
}

    .add-or-edit-patient .app-modal-wrap {
        overflow: hidden;
        border-right: 1px solid transparent;
    }

    .add-or-edit-patient .datepicker .btn,
    .add-or-edit-patient .date-picker-btn {
        min-width: 20px;
        padding: 5px 10px;
    }

    .add-or-edit-patient .app-modal-wrap.show-border {
        border-color: #efefef;
    }

    .add-or-edit-patient .accordion-wrap {
        height: 370px;
        overflow-y: auto;
        padding-top: 10px;
    }

.custom-valid {
    display: block;
    color: #339900;
}

.add-or-edit-patient .data-group {
    margin-bottom: 0;
}

    .add-or-edit-patient .data-group .datepicker {
        max-width: 100%;
    }

        .add-or-edit-patient .data-group .datepicker .fa-calendar {
            right: 2px;
        }
