﻿<div ui-view>
    <ol class="breadcrumb">
        <li class="bc-item">
            <span>{{'USER_ROLE_LIST_PAGE_TITLE' |translate }}</span>
        </li>
        <!-- <li class="active">Data</li>-->
        <li class="bc-icon add-icon">
            <a href="javascript:void(0)" ng-click="addRole()"></a>
        </li>       
    </ol>

    <div class="container-fluid">
        <div class="row page-content role-list">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-1">
                            <div>{{'USER_ROLE_NAME' |translate }}</div>
                        </th>
                        <th class="col-md-2">
                            <div>{{'USER_ROLE_DESCRIPTION' |translate }}</div>
                        </th>
                        <th class="col-md-1">
                            <div>{{'USER_ROLE_SYSTEM_LEVEL' |translate }}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="role in roles" ng-click="detail(role)" class="list-item">
                        <td title="{{role.name}}">{{role.name}}</td>
                        <td title="{{role.desc}}">{{role.desc}}</td>
                        <td title="{{'TEXT_YES' | translate}}" ng-if="role.level === 0">{{'TEXT_YES' | translate}}</td>
                        <td title="{{'TEXT_NO' | translate}}" ng-if="role.level !== 0">{{'TEXT_NO' | translate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>




