﻿<div class="app-modal-body">
    <div class="computed-group clearfix">
        <div class="group-item vertical clear-hover" ng-repeat="m in members">
            <img class="p-img" ng-src="{{m.avatar}}" />
            <div class="item-info">
                <div class="m-t-5">{{m.userName}}</div>
                <div class="f-s-12">
                    <span>{{m.title}}</span>
                    <span>{{m.dept.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>