﻿.user-detail {
}

    .user-detail .role-item {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        padding: 6px 12px;
        border: 1px solid #ddd;
        font-weight: 200;
        margin-right: 10px;
        max-width: 520px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .user-detail .status-item {
        padding: 6px 12px 6px 0;
    }

    .user-detail .detail-img {
        width: 160px;
        height: 120px;
    }

     .user-detail .user-edit-status {
        min-width: 80px;
        font-weight: 200;
        color: green;
        line-height: 36px;
    }

    .user-detail .user-edit-status.red {
        color:darkred;
    }

    .user-detail .panel-body p > label {
        max-width: 217px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .user-detail .div-ass-top {
        margin-top: 20px;
    }