<ol class="breadcrumb margin-minus-32">
    <li class="bc-item bc-back f-l" ng-click="back()"></li>
    <li class="bc-item no-sep-icon f-l">
        <span>{{'USER_DETAIL_PAGE_TITLE' |translate }}</span>
    </li>
</ol>

<div class="container-fluid">
    <div class="row page-content user-page user-detail">
        <!--User detail info-->
        <div class="col-md-7">
            <form novalidate class="form-horizontal">
                <div class="row">
                    <hr />
                    <div class="col-md-9">
                        <!--user name-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_ACCOUNT_NAME'|translate}}
                            </p>
                            <input type="text" class="form-control" ng-value="user.accountName" disabled="disabled">
                        </div>

                        <!--roles-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_ACCOUNT_ROLE'|translate}}
                            </p>
                            <div class="p-text">
                                <label class="role-item" ng-repeat="r in user.roles">{{r.name}}</label>
                            </div>
                        </div>

                        <!--status-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_STATUS_TITLE'|translate}}
                            </p>
                            <div class="p-text">
                                <label class="user-edit-status red" ng-show="user.accountStatus !== 1">{{'USER_STATUS_DISENABLE' | translate}}</label>
                                <label class="user-edit-status" ng-show="user.accountStatus == 1">{{'USER_STATUS_ENABLE' | translate}}</label>
                            </div>
                        </div>
                        <hr />

                        <!--name-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_NAME'|translate}}
                            </p>
                            <input type="text" class="form-control" ng-model="user.name" ng-disabled="isDetail">
                        </div>

                        <!--title-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_TITLE'|translate}}
                            </p>
                            <input type="text" class="form-control"
                                   ng-model="user.userTitle.name" ng-disabled="isDetail">
                        </div>

                        <!--hospital-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'TEXT_HOSPITAL'|translate}}
                            </p>
                            <input type="text" class="form-control"
                                   ng-model="user.hospital.name" ng-disabled="isDetail">
                        </div>

                        <!--dept-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_DEPT'|translate}}
                            </p>
                            <input type="text" class="form-control"
                                   ng-model="user.dept.name" ng-disabled="isDetail">
                        </div>

                        <!--tel-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_TEL'|translate}}
                            </p>
                            <input type="text" class="form-control"
                                   ng-model="user.phone" ng-disabled="isDetail">
                        </div>

                        <!--mobile-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_MOBILE'|translate}}
                            </p>
                            <input type="text" class="form-control"
                                   ng-model="user.mobile" ng-disabled="isDetail">
                        </div>

                        <!--mail-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_MAIL'|translate}}
                            </p>
                            <input type="text" class="form-control"
                                   ng-model="user.email" ng-disabled="isDetail">
                        </div>

                        <!--description-->
                        <div class="data-group">
                            <p class="p-label">
                                {{'USER_DETAIL_USER_DESCRIPTION'|translate}}
                            </p>
                            <textarea class="form-control" rows="4" ng-model="user.description" ng-disabled="isDetail"></textarea>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <!--image-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="image-wrap">
                                    <!--<img src="/assets/src/img/icons/defaultuser.png" class="detail-img" />-->
                                    <img ng-src="{{userAvatar}}" class="detail-img" />
                                </div>
                            </div>                          
                        </div>
                    </div>

                    <!--buttons-->
                    <hr />
                </div>
            </form>
        </div>
      
        <!--edit button-->
        <div class="col-md-3">
            <div class="btns-bar">
                <xg-locked xg-on-click="edit()">
                </xg-locked>
            </div>
        </div>
    </div>

</div>

