﻿<ol class="breadcrumb">
    <li>
        <a href="#">
            <h1>{{'USER_LIST_PAGE_TITLE' |translate }}</h1>
        </a>
    </li>    
</ol>

<div class="container-fluid">
    <h1>offline</h1>
</div>
