﻿<div class="app-modal add-attendence">
    <div class="row">
        <div class="app-modal-wrap col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
            <div class="app-modal-header">
                <h3 class="app-modal-title col-md-offset-3">
                    {{'MDT_DETAIL_ADD_ATTENDENCE_PAGE_TITLE'|translate}}
                </h3>
            </div>
            <div class="app-modal-body">
                <div class="row">
                    <div class="left-tabs col-md-3">
                        <ul class="app-list-group">
                            <li class="app-list-item"
                                ng-click="tab(1)"
                                ng-class="{active: iNow===1}">
                                <div>{{'USER_ASSISTANT_DEPT_TAB' | translate}}</div>
                            </li>
                            <li class="app-list-item"
                                ng-click="tab(2)"
                                ng-class="{active: iNow===2}">
                                <div>{{'USER_ASSISTANT_SEARCH_TAB' | translate}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content col-md-9">
                        <!--panel for dept-->
                        <div class="tab-content-1" ng-show="iNow===1">
                            <div>
                                <select class="form-control"
                                        ng-model="data.dept"
                                        ng-change="deptChanged()"
                                        ng-options="opt.name for opt in data.depts"></select>
                                <div class="modal-table-wrap">
                                    <div class="table-header">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-2">
                                                        <div>{{'USER_LIST_FULL_NAME' |translate }}</div>
                                                    </th>
                                                    <th class="col-md-2 custome-controls"
                                                        xg-filter
                                                        xg-title="{{'USER_LIST_TITLE' |translate }}"
                                                        xg-selected="filterByTitle(item)"
                                                        xg-s-text="fsText"
                                                        dp-data="data.userTitles"></th>
                                                    <th class="col-md-1">
                                                        <div>{{'USER_LIST_DEPT' |translate }}</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="table-body">
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="user in users"
                                                    ng-class="{'active': user.checked}"
                                                    class="list-item"
                                                    ng-click="addAttendee(user, $index)">
                                                    <td class="col-md-2">{{user.userName}}</td>
                                                    <td class="col-md-2">{{user.userTitle.name}}</td>
                                                    <td class="col-md-1">{{user.dept.name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--panel for search-->
                        <div class="tab-content-2" ng-show="iNow===2">
                            <div>
                                <div>
                                    <input type="text"
                                           class="form-control"
                                           ng-model="filter"
                                           ng-change="search()"
                                           placeholder="{{'USER_ASSISTANT_SEARCH_PLACEHOLDER' |translate }}" />
                                </div>
                                <div class="modal-table-wrap">
                                    <div class="table-header">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-2">
                                                        <div>{{'USER_LIST_FULL_NAME' |translate }}</div>
                                                    </th>
                                                    <th class="col-md-2 custome-controls"
                                                        xg-filter
                                                        xg-title="{{'USER_LIST_TITLE' |translate }}"
                                                        xg-selected="filterByTitle(item)"
                                                        xg-s-text="fsText"
                                                        dp-data="data.userTypes"></th>
                                                    <th class="col-md-1">
                                                        <div>{{'USER_LIST_DEPT' |translate }}</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="table-body">
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="user in users"
                                                    class="list-item"
                                                    ng-class="{'active': user.checked}"
                                                    ng-click="addAttendee(user, $index)">
                                                    <td class="col-md-2">{{user.userName}}</td>
                                                    <td class="col-md-2">{{user.userType.name}}</td>
                                                    <td class="col-md-1">{{user.dept.name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--selected user list-->
                        <div class="data-list clearfix" ng-if="data.attendees&&data.attendees.length!=0">
                            <div class="list-item" ng-repeat="m in data.attendees">
                                <span>{{m.userName}}</span>
                                <span ng-click="removeAttendee(m, $index)">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="data-btns">
                    <button class="btn cancel" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok" ng-click="ok()">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>                
            </div>
        </div>
    </div>
</div>
