﻿<div class="app-modal conclusion">
    <div class="row">
        <div class="app-modal-wrap col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
            <div class="app-modal-header">
                <h3 class="app-modal-title">
                    <span>{{'TEXT_REQUEST_MEETING'|translate}}</span>
                    <!--<span class="title-notes">*诊断结论作出后本次诊断流程即关闭</span>-->
                </h3>
            </div>
            <div class="app-modal-body">
                <textarea rows="8"
                          class="form-control comments-control"
                          ng-model="reason.content"
                          ng-change="onChange()"
                          placeholder="{{'TEXT_REQUEST_MEETING_PLACEHOLDER'|translate}}"></textarea>
                <div class="height-fixed-22">
                    <span ng-show="hasError" class="valdr-message ng-invalid custom-error">
                        {{errorText}}
                    </span>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="data-btns">
                    <button class="btn cancel" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok" ng-click="ok()" ng-disabled="!reason.content || hasError">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
