﻿/*------topbar---------*/
#anonymousTopbar {
    height: 40px;
    width: 100%;
    position: fixed;
    border-width: 0;
    background: #f0f0f0 url('/assets/src/img/logo/mdtlogo.png') no-repeat;
}

    #anonymousTopbar label,
    #anonymousTopbar a{
        font-family: "Microsoft YaHei UI Light", "Microsoft YaHei Light", "Microsoft YaHei";
        font-weight: normal;
        font-size:14px;
        color:#606060;
        text-align: center;
    }

    #anonymousTopbar .div-title{
        margin-left: 80px;
        margin-top: 14px;
    }


    #anonymousTopbar .div-link-support{
        margin-right: 3%;
    }

    #anonymousTopbar .div-link-help{
        margin-right: 2%;
    }

    #anonymousTopbar a:hover {
        color: #2592d1;
        text-decoration: none;
    }

/*------end topbar---------*/
