﻿<nav class="navbar navbar-default navbar-fixed-top" ng-controller="AnonymousTopbarCtrl" id="anonymousTopbar"
     xmlns:padding-right="http://www.w3.org/1999/xhtml">
    <div class="div-title">
        <div style="float: left;">
            <label>{{'ANONYMOUS_TOPBAR_TITLE' | translate}}</label>
        </div>
        <div style="float: right;" class="div-link-support">
            <a href='/anonymous/support'>{{'ANONYMOUS_TECHNICAL_SUPPORT' | translate}}</a>
        </div>
        <div style="float: right;" class="div-link-help">
            <a href='/anonymous/help'>{{'ANONYMOUS_FOR_HELP' | translate}}</a>
        </div>
    </div>
</nav>

