﻿/*------topbar---------*/
#topbar {
    height: 52px;
    width: 100%;
    position: fixed;
    border-width: 0;
    background: #0082d1 url('/assets/src/img/logo/logo.png') no-repeat;
}

    #topbar .navbar-nav {
        margin: 0;
    }

    #topbar ul li {
        padding: 10px 5px;
    }

    #topbar .in {
        display: block;
        position: absolute;
        width: 100%;
        background-color: #0082d1;
        top: 52px;
    }

        #topbar .in.collapsed-panel li {
            width: 100%;
            padding: 0 0 6px 0;
        }

        #topbar .in .xg-search-control {
            position: relative;
        }

            #topbar .in .xg-search-control .search-icon {
                position: absolute;
                left: 0;
                top: 5px;
            }

            #topbar .in .xg-search-control .search-text {
                width: 100%;
                padding: 4px 10px 4px 20px;
            }

            #topbar .in .xg-search-control .search-options {
                position: absolute;
                right: 0;
                top: 5px;
            }

    #topbar .navbar-form {
        border-width: 0;
        margin: 0 -15px;
    }

    #topbar .logout-panel {
        position: absolute;
        -moz-box-shadow: 0 0 4px #888;
        -webkit-box-shadow: 0 0 4px #888;
        box-shadow: 0 0 4px #888;
        background-color: #fff;
        left: -140px;
    }

    #topbar ul.logout-dropdown-menu li {
        padding: 0;
        margin: 0;
    }

        #topbar ul.logout-dropdown-menu li > a {
            padding: 3px 20px;
            font-size: 16px;
        }

/*------end topbar---------*/
