﻿<nav class="navbar navbar-default navbar-fixed-top" ng-controller="TopbarCtrl" id="topbar">

    <!--btns-->
    <div class="nav navbar-nav navbar-right m-r-10">
        <div class="pos-rel topbar-more-action-wrap f-r">
            <div class="topbar-icon-moreaction topbar-text cursor-p"
                ng-click="showLogoutPanel($event)">

                <a href="javascript:void(0)"
                    ng-mouseenter="changeSystemMenuIcon(true)"
                    ng-mouseleave="changeSystemMenuIcon(false)">
                    <img ng-src="{{systemMenuIcon}}" />
                </a>
            </div>

            <!--logout panel-->
            <xg-logout-panel is-shown="isShown" change-password="changePassword()">
            </xg-logout-panel>
        </div>

        <div class="f-r tb-anmiation"
            ng-show="collapsed || btnFocus"
            href="javascript:void(0)"
            ng-mouseenter="changeToggleBtnIcon(true)"
            ng-mouseleave="changeToggleBtnIcon(false)"
            ng-click="toggleCollapsed()">
            <img ng-src="{{toggleBtnIcon}}" />
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right collapsed-panel tb-anmiation"
        ng-show="!collapsed"       
        ng-class="{'in': isShowPanel }">
        <li ng-controller="SearchCtrl">
            <form class="navbar-form">
                <xg-search
                    xg-option="search.opt"
                    xg-on-search="search.onSearch(data)"></xg-search>
            </form>
        </li>
    </ul>
</nav>

