﻿
/*---base info----*/
.patient-base-info {
    position: relative;
    padding: 12px 18px;
    background-color: #1797e5;
    color: #fff;
}

    .patient-base-info .xg-share,
    .patient-base-info .xg-edit-trash {
        position: absolute;
        right: -48px;
        top: 0;
    }

    .patient-base-info .xg-share {
        top: 44px;
    }

    .patient-base-info .xg-upload {
        right: -48px;
    }
/*---end---*/
