<div class="patient-base-info"
     ng-controller="BaseInfoPatientCtrl"
     ng-mouseenter="patient.focus=true"
     ng-mouseleave="patient.focus=false">
    <div class="row">
        <div class="col-md-4 col-xs-4">
            <span class="f-s-30">{{'HOSP_PATIENT_ID'|translate}}</span>
            <span class="f-s-30">{{patientInfo.ptnum}}</span>
        </div>
        <div class="col-md-4 col-xs-4">
            <div>
                <span class="m-r-10">{{patientInfo.name}}</span>
                <span class="m-r-10">{{patientInfo.gender|translate}}</span>
                <span class="m-r-10">{{patientInfo.age}}{{'OLD'|translate}}</span>
                <span>
                    <span>{{'TEXT_INDENTITY'|translate}}{{patientInfo.idnum}}</span>                
                </span>
            </div>
            <div ng-if="patientInfo.mobile">
                <span>
                    <span class="m-r-10">{{'MOBILE'|translate}}</span>
                    <span>{{patientInfo.mobile}}</span>
                </span>
            </div>
        </div>
        <!-- <div class="col-md-4 col-xs-4">
            <span>
                {{historyInfo.description}}
            </span>
        </div> -->
    </div>
    <!--edit-->
    <xg-edit-trash ng-if="isBasicInfoEditable"
                   ng-show="patient.focus"
                   only-edit="true"
                   xg-on-edit="editPatient()">
    </xg-edit-trash>

    <!--share-->
    <xg-share ng-if="isPatientOwner"
              ng-show="patient.focus"
              entity="{{patient}}"
              share="sharePatient(entity)">
    </xg-share>
</div>
