﻿<div ui-view>
    <ol class="breadcrumb">
        <li class="bc-item">
            <span>{{'TEXT_MY_FAVORITE_LIST' |translate }}</span>
        </li>            
    </ol>

    <div class="container-fluid">
        <div class="row page-content role-list">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-1">
                            <div>{{'TEXT_NUM' |translate }}</div>
                        </th>
                        <th class="col-md-3">
                            <div>{{'TEXT_PATIENT_NAME' |translate }}</div>
                        </th>
                        <th class="col-md-2">
                            <div>{{'DEPARTMENT' |translate }}</div>
                        </th>
                        <th class="col-md-6">
                            <div>{{'TEXT_FAVORITE_NOTE' |translate }}</div>
                        </th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="favorite in favorites" ng-click="detail(favorite)" class="list-item">
                        <td title="">{{$index + 1}}</td>
                        <td title="{{favorite.patient.name}}">{{favorite.patient.name}}</td>
                        <td title="{{favorite.patient.creator.dept}}">{{favorite.patient.creator.dept}}</td>
                        <td title="{{favorite.remark}}">{{favorite.remark}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>




