﻿<div class="xg-pagination" ng-show="totalItems != 0">
    <div class="row">
        <div class="col-md-6">
            <div class="f-l">
                <label>
                    {{'TEXT_PAGINATION_PER_PAGE' | translate}}
                </label>
                <select
                    class="num-pages form-control inline-block"
                    ng-model="pageSize"
                    ng-change="pageSizeChanged()"
                    ng-options="opt.text for opt in sizeOptions">
                </select>
            </div>
            <div class="f-l m-l-10">
                <label class="text-entries" ng-show="showEntitiesText == 'true'">
                    <label>{{'TEXT_PAGINATION_CURRENT' | translate}}</label>
                    <label>{{start}}</label>
                    <label>-</label>
                    <label>{{end}}</label>
                    <label>{{'TEXT_PAGINATION_UNIT' | translate}}, </label>
                    <label>{{'TEXT_PAGINATION_TOTAL' | translate}}</label>
                    <label>{{totalItems}}</label>
                    <label>{{'TEXT_PAGINATION_UNIT' | translate}}</label>
                </label>
            </div>
        </div>
        <div class="col-md-6 txt-r" ng-show="visibility">
            <div class="m-r-10 m-l-10 inline-flex" ng-show="showPageText == 'true'">
                <label class="f-l m-r-5">{{'TEXT_PAGINATION_CURRENT' | translate}}</label>
                <input type="number" min="1" max="{{numPages}}" ng-model="currentPage" class="form-control current-page f-l" />
                <label class="f-l m-l-5">/</label>
                <label class="f-l m-r-5">{{numPages}} </label>
                <label class="f-l">{{'TEXT_PAGINATION_PAGE' | translate}}</label>
            </div>
            <input type="button" class="btn btn-default page-btn" value="{{'TEXT_PAGINATION_PREVIOUS' | translate}}" ng-click="previousPage()" ng-disabled="currentPage === 1" />
            <input type="button" class="btn btn-default page-btn" value="{{'TEXT_PAGINATION_NEXT' | translate}}" ng-click="nextPage()" ng-disabled="currentPage === numPages" />
        </div>
    </div>
</div>
