﻿<div class="app-modal add-group">
    <div class="row">
        <div class="app-modal-wrap col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
            <div class="app-modal-header">
                <h3 class="app-modal-title">
                    {{'TEXT_ADD_DOCTOR_GROUP'|translate}}
                </h3>
            </div>
            <div class="app-modal-body">
                <div class="data-tabs vertical">
                    <div class="tabs">
                        <div class="tab-item"
                             ng-class="{'active': iNow===1}"
                             ng-click="tab(1)">
                            {{'USER_ASSISTANT_DEPT_TAB' | translate}}
                        </div>
                        <div class="tab-item"
                             ng-class="{'active': iNow===2}"
                             ng-click="tab(2)">
                            {{'USER_ASSISTANT_SEARCH_TAB' | translate}}
                        </div>
                    </div>

                    <div class="contents">
                        <!--tab content-->
                        <div class="tab-content">
                            <!--conditions-->
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="data-group m-b-0">
                                        <p class="p-label">
                                            {{'TEXT_HOSPITAL_DEFAULT_OPTION' | translate}}
                                        </p>
                                        <select class="form-control"
                                                ng-model="currentHospital"
                                                ng-change="hospitalChanged(currentHospital)"
                                                ng-options="opt.name for opt in hospitals"
                                                name="hospital"></select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="data-group m-b-0" ng-show="iNow===1">
                                        <p class="p-label">
                                            {{'TEXT_DP_LIST_ALL' | translate}}
                                        </p>
                                        <select class="form-control"
                                                ng-model="currentDept"
                                                ng-change="deptChanged(currentDept)"
                                                ng-options="opt.name for opt in depts"
                                                name="dept"></select>
                                    </div>

                                    <div class="data-group m-b-0" ng-show="iNow===2">
                                        <p class="p-label">
                                            {{'SEARCH' | translate}}
                                        </p>

                                        <div class="search">
                                            <input class="form-control"
                                                   type="search"
                                                   ng-model="search"
                                                   name="search"
                                                   ng-change="searchChanged(search)"
                                                   placeholder="{{'TEXT_DOCTOR_NAME' |translate}}" />
                                    <span>
                                        <i class="fa fa-search"></i>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--table-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="modal-table-wrap">
                                        <!--has doctors-->
                                        <div ng-show="doctors && doctors.length!=0">
                                            <div class="table-header">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th class="col-md-3">
                                                            <div>{{'USER_LIST_FULL_NAME' |translate }}</div>
                                                        </th>
                                                        <th class="col-md-2">
                                                            <div>{{'MOBILE' |translate }}</div>
                                                        </th>
                                                        <th class="col-md-2">
                                                            <div>{{'USER_LIST_TITLE' |translate }}</div>
                                                        </th>
                                                        <th class="col-md-2">
                                                            <div>{{'USER_LIST_DEPT' |translate }}</div>
                                                        </th>
                                                        <th class="col-md-3">
                                                            <div>{{'TEXT_HOSPITAL' |translate }}</div>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div class="table-body">
                                                <table class="table">
                                                    <tbody>
                                                    <tr ng-repeat="d in doctors"
                                                        ng-class="{'active': d.checked}"
                                                        ng-click="selected(d, $index)">
                                                        <td class="col-md-3">{{d.name}}</td>
                                                        <td class="col-md-2">{{d.mobile}}</td>
                                                        <td class="col-md-2">{{d.userTitle.name}}</td>
                                                        <td class="col-md-2">{{d.dept.name}}</td>
                                                        <td class="col-md-3">{{d.hospital.name}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!--without find doctors-->
                                        <div ng-show="!doctors || doctors.length==0">
                                            <div class="m-t-40 text-center">
                                                <h4>{{'TEXT_NOT_FOUND_DOCTORS_WITH_CURRENT_CONDITION'|translate}}</h4>
                                                <p>
                                                    {{'TEXT_HOSPITAL'|translate}} :
                                                    <strong>{{currentHospital.name}}</strong>
                                                </p>
                                                <p ng-show="iNow===1">
                                                    {{'DEPARTMENT'|translate}} :
                                                    <strong>{{currentDept.name}}</strong>
                                                </p>
                                                <p ng-show="iNow===2">
                                                    {{'TEXT_DOCTOR_NAME'|translate}} :
                                                    <strong>{{search}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--selected doctor list-->
                        <div class="data-list clearfix" ng-if="selectedDoctors&&selectedDoctors.length!=0">
                            <div class="list-item" ng-repeat="m in selectedDoctors">
                                <span>{{m.name}}</span>
                        <span ng-click="unselected(m, $index)">
                            <i class="fa fa-times"></i>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <!--<button class="btn btn-default" ng-click="cancel()" translate="TEXT_CANCEL">                  
                </button>

                <button class="btn btn-primary" ng-click="ok(changepwd)" translate="TEXT_OK">                  
                </button>-->

                <div class="app-modal-footer data-btns m-r-o-15">
                    <div class="data-btns">
                        <button class="btn cancel" ng-click="cancel()">
                            {{'TEXT_CANCEL'|translate}}
                        </button>

                        <button class="btn ok" ng-click="ok()" ng-disabled="selectedDoctors.length===0">
                            {{'TEXT_OK'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
