<div class="xg-search-control">
    <span class="search-icon"
        ng-click="search()">
        <i class="fa fa-search"></i>
    </span>
    <input class="search-text"
        ng-model="data.text"
        type="search"
        placeholder="search" />
    <select
        class="search-options"
        ng-model="data.option"
        
        ng-options="opt.name for opt in data.options track by opt.id">
    </select>
</div>
