﻿.meeting-patient {
    position: relative;
}

    .meeting-patient .menu-list {
        position: absolute;
        width: 140px;
        top: 20px;
        bottom: 0;
        left: 0;
    }      

    .meeting-patient .patient-content {
        margin-left: 150px;
    }
