﻿<ol class="breadcrumb margin-minus-32">
    <li class="bc-item bc-back f-l" ng-click="back()"></li>
    <li class="bc-item no-sep-icon f-l">
        <span>{{'MDT_DETAIL_PAGE_TITLE' |translate }}</span>
    </li>
</ol>

<div class="page-content meeting-patient">
    <!--menu: base info and patient list item-->
    <div class="menu-list f-s-16">
        <div class="menu-item" 
             ng-class="{'active': iNow === $index}"
             ng-repeat="h in patientsHistories"
             ng-click="onPatient(h,$index)">
            {{h.patient.name}}
        </div>      
    </div>

    <!--patient content-->
    <div class="patient-content">
        <!--basic info-->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <!--base-info-->
                            <div ng-include="'/assets/src/pages/patients/partials/baseinfo/baseinfo.html'" xg-include-replace></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--healthrecord-->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="healthrecord-section">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="heading">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <span>{{'TEXT_RESPONSOR'|translate}}:</span>
                                        <span>
                                            <span>
                                                {{selectedHistoryInformation.doctor.userName}}
                                                {{selectedHistoryInformation.doctor.title}}
                                            </span>
                                            <span>{{selectedHistoryInformation.doctor.dept.name}}</span>
                                        </span>
                                    </div>
                                    <div class="col-md-6 col-xs-6 txt-r">
                                        <span>{{'TEXT_ASSIGNE_TIME'|translate}}:</span>
                                        <span>{{selectedHistoryInformation.assignTime|amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                        <span>{{'TEXT_SUBMITTOR'|translate}}:</span>
                                        <span>
                                            {{selectedHistoryInformation.creator.userName}}
                                            {{selectedHistoryInformation.creator.title}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!--healthrecord grid-->
                            <div ng-include="'/assets/src/pages/patients/partials/healthrecord/healthrecord.html'" xg-include-replace></div>

                            <!--conclustion summary-->
                            <div>
                                <div ng-include="'/assets/src/pages/patients/partials/conclusionsummary/conclusionsummary.html'" xg-include-replace></div>
                            </div>

                            <!--textarea for enter suggestion for attendeing doctors-->
                            <div>
                                <div ng-include="'/assets/src/pages/patients/partials/suggestion/suggestion.html'" xg-include-replace></div>
                            </div>
                        </div>
                    </div>

                    <!--diagnosis progress-->
                    <div ng-include="'/assets/src/pages/patients/partials/diagnosis/diagnosis.html'" xg-include-replace></div>
                </div>
            </div>
        </div>
    </div>
</div>
