﻿<div class="favorite-icon">   
    <span class="hidden-sm"
          ng-if="!favorite.isFavorite"
          ng-click="onFavorite(true); $event.stopPropagation();">
        <i class="fa fa-heart-o"></i>
    </span>
    <span class="hidden-sm" ng-if="favorite.isFavorite" ng-click="onFavorite(false);$event.stopPropagation();">
        <i class="fa fa-heart active"></i>
    </span>
</div>
