<!--top bar-->
<div ng-include="'/assets/src/pages/topbar/anonymousTopbar.html'"></div>

<div id="anonymous" class="container-fluid anonymous" xg-scroll-bar>
    <div class="row view-content">
        <div class="col-md-10 col-sm-12 col-md-offset-1 text-center">
            <div class="row m-t-60">
                <div ng-if="tempData && (tempData.status == 1 || tempData.status == 2)">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label class="f-s-30" ng-show="tempData == null">{{'ANONYMOUS_TITLE' | translate}}</label>
                            <label class="f-s-30" ng-show="tempData != null">{{tempData.title}}</label>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-md-12 text-center">
                            <label class="label-meeting-time">{{'ANONYMOUS_MEETING_TIME' | translate}}</label>
                            <label>{{tempData.date}}/{{tempData.tfrom}}-{{tempData.tto}}</label>
                        </div>
                    </div>
                    <form novalidate name="anonymousForm" valdr-type="anonymous">
                        <div class="row m-t-30 ">
                            <div valdr-form-group class="valdr-form-item col-md-2 col-sm-4 col-xs-4 col-md-offset-5 col-sm-offset-4 col-xs-offset-4 text-center">
                                <input type="text"
                                       class="input-nickname form-control text-center"
                                       ng-change='changeName(anonymousForm)' ng-model='tempAttendee.name'
                                       name="name">
                            </div>
                        </div>
                    </form>                   

                    <!--button-->
                    <div class="row m-t-30 ">
                        <div class="col-md-12 text-center">
                            <input type="button"
                                   class="btn button-join-meeting"
                                   value="{{'ANONYMOUS_JOIN_MEETING' | translate}}"
                                   ng-click="joinMeeting()" ng-disabled="anonymousForm.$invalid" />
                        </div>
                        <!--placehoder to launch pc client for joining meeting-->
                        <a ng-href="{{meeting}}" id="meeting" class="hide">Meeing Now</a>
                    </div>
                    <div class="row m-t-15 ">
                        <div class="col-md-12 text-center">
                            <label class="label-preparing-meeting">{{'ANONYMOUS_PREPARING_MEETING' | translate}}</label>
                        </div>
                    </div>
                </div>
                <div ng-if="tempData == null || tempData.status == 3 || tempData.status == 4">
                    <div class="row m-t-100">
                        <div class="col-md-12 text-center">
                            <label class="f-s-30" ng-if="failedReason == 'illegalPath'">{{'ANONYMOUS_MEETING_CONNECT_FAILED_BY_PATH' | translate}}</label>
                            <label class="f-s-30" ng-if="failedReason == 'contentGettingFailed'">{{'ANONYMOUS_MEETING_CONNECT_FAILED_BY_CONTENT' | translate}}</label>
                            <label class="f-s-30" ng-if="failedReason == 'meetingOver'">{{'ANONYMOUS_MEETING_OVER' | translate}}</label>
                            <label class="f-s-30" ng-if="failedReason == 'meetingCancel'">{{'ANONYMOUS_MEETING_CANCEL' | translate}}</label>
                        </div>
                    </div>
                    <div class="row m-t-30">
                        <div class="col-md-12 text-center">
                            <input type="button"
                                   class="btn button-close-page"
                                   value="{{'ANONYMOUS_CLOSE_THE_PAGE' | translate}}"
                                   ng-click="closeThePage()" />
                        </div>
                    </div>
                    <div class="row m-t-40">
                    </div>
                </div>
                <div>
                    <div class="row m-t-90 ">
                        <div class="col-md-12 text-center">
                            <div class="label-no-clients">{{'ANONYMOUS_NO_CLIENTS' | translate}}</div>
                        </div>
                    </div>
                    <div class="row m-t-10 ">
                        <div class="col-md-12 text-center">
                            <div class="label-download-icon">{{'ANONYMOUS_DOWNLOAD_CLIENTS' | translate}}</div>
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-md-6 col-sm-8 col-xs-10 col-md-offset-3 col-sm-offset-2 col-xs-offset-1 text-center">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 m-b-10">
                                    <img class="img-download-left" src="/assets/src/img/icons/windows.png" ng-click="gotoDownloadClients(1)" />
                                    <div class="label-download-left">{{'ANONYMOUS_WINDOWS_PC' | translate}}</div>
                                </div>

                                <div class="col-md-4 col-sm-4 m-b-10">
                                    <img src="/assets/src/img/icons/android.png" ng-click="gotoDownloadClients(2)" />
                                    <div>{{'ANONYMOUS_ANDROID' | translate}}</div>
                                </div>

                                <div class="col-md-4  col-sm-4">
                                    <img class="img-download-right" src="/assets/src/img/icons/mac.png" ng-click="gotoDownloadClients(3)" />
                                    <div class="label-download-right">{{'ANONYMOUS_IOS_FOR_IPAD' | translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div ng-include="'/assets/src/templates/pageFooter/pageFooter.tpl.html'"></div>

