.anonymous {
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 70px;
}

    .anonymous .view-content {
        margin-bottom: 50px;
    }

    .anonymous label {
        font-family: "Microsoft YaHei UI Light", "Microsoft YaHei Light", "Microsoft YaHei";
        font-weight: normal;
    }

    .anonymous .label-meeting-time {
        color: #606060;
        font-size: 16px;
        margin-left: 3%;
    }

    .anonymous .input-nickname {
        color: #606060;
        padding: 12px 16px;
        height: inherit;
        font-size: 16px;
    }

    .anonymous .button-join-meeting {
        background-color: #ff7247;
        width: 128px;
        height: 58px;
        font-size: 18px;
        color: #fff;
    }

    .anonymous .label-preparing-meeting {
        color: #a5a5a5;
        font-size: 14px;
    }

    .anonymous .label-no-clients {
        color: #606060;
        font-size: 24px;
    }

    .anonymous .label-download-icon {
        color: #a5a5a5;
        font-size: 16px;
    }

    .anonymous input.button-join-meeting:hover {
        background-color: #FF954E;
        border: 1px solid #FF954E;
    }

    .anonymous .button-close-page {
        background-color: #ff7247;
        width: 128px;
        height: 58px;
        font-size: 18px;
        color: #fff;
    }

    .anonymous input.button-close-page:hover {
        background-color: #FF954E;
        border: 1px solid #FF954E;
    }
