﻿<ol class="breadcrumb margin-minus-32">
    <li class="bc-item bc-back f-l" ng-click="back()"></li>
    <li class="bc-item no-sep-icon f-l">
        <span>{{'PATIENT_DETAIL_PAGE_TITLE' |translate }}</span>
    </li>
</ol>

<div class="container-fluid">
    <div class="row page-content detail-patient">
        <!--time line-->
        <ul class="time-line">
            <li ng-repeat="history in histories"
                ng-class="{'active': selectedHistory.id === history.id}"
                ng-click="tab(history, $index)">
                {{history.text}}
            </li>
        </ul>

        <!--patient content-->
        <div class="patient-content">
            <!--basic info-->
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <!--base-info-->
                    <div ng-include="'/assets/src/pages/patients/partials/baseinfo/baseinfo.html'" xg-include-replace></div>
                </div>
            </div>

            <!--healthrecord-->
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="healthrecord-section">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="heading">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                            <span>{{'TEXT_RESPONSOR'|translate}}:</span>
                                            <span>
                                                <span>
                                                    {{selectedHistoryInformation.doctor.userName}}
                                                    {{selectedHistoryInformation.doctor.title}}
                                                </span>
                                                <span>{{selectedHistoryInformation.doctor.dept.name}}</span>
                                            </span>
                                        </div>
                                        <div class="col-md-6 col-xs-6 txt-r">
                                            <span>{{'TEXT_ASSIGNE_TIME'|translate}}:</span>
                                            <span>{{selectedHistoryInformation.assignTime|amDateFormat:'YYYY/MM/DD'}}</span>
                                            <span>{{'TEXT_SUBMITTOR'|translate}}:</span>
                                            <span>
                                                {{selectedHistoryInformation.creator.userName}}
                                                {{selectedHistoryInformation.creator.title}}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!--healthrecord grid-->
                                <div ng-include="'/assets/src/pages/patients/partials/healthrecord/healthrecord.html'" xg-include-replace></div>

                                <!--conclustion summary-->
                                <div>
                                    <div ng-include="'/assets/src/pages/patients/partials/conclusionsummary/conclusionsummary.html'" xg-include-replace></div>
                                </div>

                                <!--buttons-->
                                <div class="row m-t-20" ng-if="isPatientOwner && !fromShare">
                                    <div class="col-md-12 col-xs-12 btns-bar">
                                        <!--diagnostic status
                                            1->pending
                                            2->discussing
                                            3->queuing
                                            4->meeting
                                            5->finished
                                        -->
                                        <input type="button"
                                               class="btn"
                                               value="{{'TEXT_REQUEST_DISCUSSION'|translate}}"
                                               ng-if="selectedHistoryInformation.status===1"
                                               ng-click="requestOffline()" />

                                        <input type="button"
                                               class="btn m-l-20"
                                               value="{{'TEXT_REQUEST_MEETING'|translate}}"
                                               ng-if="selectedHistoryInformation.status===1 || selectedHistoryInformation.status===2 || selectedHistoryInformation.status===4"
                                               ng-click="requestMeeting()" />

                                        <input type="button"
                                               class="btn m-l-20"
                                               value="{{'TEXT_MAKE_DECISION'|translate}}"
                                               ng-if="selectedHistoryInformation.status!==5"
                                               ng-click="makeDesion()" />

                                        <input type="button"
                                               class="btn m-l-20"
                                               value="{{'TEXT_TRANSFORM'|translate}}"
                                               ng-if="selectedHistory.index==0"
                                               ng-disabled="selectedHistoryInformation.status!==5"
                                               title="{{'TEXT_TRANSFORM_OPEN_PATIENT'|translate}}"
                                               ng-click="transform()" />
                                    </div>
                                </div>

                                <!--only can see for the user which have 'patient-assign' permission-->
                                <div class="row m-t-20" ng-if="!isPatientOwner"
                                     xg-auth-permissions="{{permissions.patient.assign}}">
                                    <div class="col-md-12 col-xs-12 btns-bar">
                                        <input type="button"
                                               class="btn m-l-20"
                                               value="{{'TEXT_TRANSFORM'|translate}}"
                                               ng-if="selectedHistory.index==0"
                                               ng-disabled="selectedHistoryInformation.status!==5"
                                               title="{{'TEXT_TRANSFORM_OPEN_PATIENT'|translate}}"
                                               ng-click="transform()" />
                                    </div>
                                </div>

                                <!--diagnostic-->
                                <!--status
                                    1->pending
                                    2->discussing
                                    3->queuing
                                    4->meeting
                                    5->finished
                                -->
                                <!--textarea for enter suggestion for attendeing doctors-->
                                <div ng-if="(isAttendance || isModerator) && (selectedHistoryInformation.status===2 || selectedHistoryInformation.status===4)">
                                    <div ng-include="'/assets/src/pages/patients/partials/suggestion/suggestion.html'" xg-include-replace></div>
                                </div>
                            </div>
                        </div>

                        <!--diagnosis progress-->
                        <div ng-include="'/assets/src/pages/patients/partials/diagnosis/diagnosis.html'" xg-include-replace></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>