﻿.detail-patient {
    position: relative;
    background: #f5f5f5 url('/assets/src/img/icons/timeline.png') repeat-y 168px center;
    min-height: 768px;
}

    .detail-patient .patient-content {
        margin-left: 200px;
    }

/*---healthrecord----*/
.healthrecord-section .heading {
    padding: 10px 18px;
    color: #999;
}

.healthrecord-section .conclusion-summary,
.healthrecord-section .btns-bar {
    text-align: center;
}

    .healthrecord-section .meeting-info .btn,
    .healthrecord-section .btns-bar .btn {
        color: #fff;
        background-color: #27a4f0;
    }

        .healthrecord-section .meeting-info .btn.active,
        .healthrecord-section .btns-bar .btn:hover {
            background-color: #0082d1;
        }

        .healthrecord-section .meeting-info .btn:disabled,
        .healthrecord-section .btns-bar .btn:disabled {
            background-color: #8eccf2;
        }

.healthrecord-section .conclusion-summary {
    background-color: #fff;
    border: 1px solid #eb8d6d;
    border-right: none;
    border-bottom: none;
    position: relative;
}

    .healthrecord-section .conclusion-summary .row {
        margin: 0;
    }

    .healthrecord-section .conclusion-summary td {
        padding: 16px 8px;
        border: 1px solid #eb8d6d;
        border-left: none;
        border-top: none;
    }

    .healthrecord-section .conclusion-summary .xg-edit-trash {
        position: absolute;
        right: -46px;
        top: -1px;
    }

.healthrecord-section .meeting-info {
    background-color: #eae9e9;
    margin-left: -6px;
    color: #888;
    font-size: 14px;
    padding: 6px;
}

    .healthrecord-section .meeting-info div {
        margin-bottom: 10px;
    }


/*---end---*/

