﻿.add-patient {
}

    .add-patient .app-modal-wrap {
        overflow: hidden;
    }

    .add-patient .tab-content-2 {
        padding: 0 30px;
    }

    .add-patient .datepicker .btn,
    .add-patient .date-picker-btn {
        min-width: 20px;
        padding: 5px 10px;
    }

    .add-patient .select-search-bar .form-control {
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }

