﻿<div class="app-modal add-patient" style="min-height:450px;">
    <div class="row">
        <div class="app-modal-wrap pos-rel col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
            <div class="app-modal-header">
                <h3 class="app-modal-title col-md-offset-2">
                    {{'PATIENT_DETAIL_ADD_TITLE'|translate}}
                </h3>
            </div>
            <div class="app-modal-body pos-rel zindex-10">
                <div class="row">
                    <div class="left-tabs col-md-2">
                        <ul class="app-list-group">
                            <li class="app-list-item"
                                ng-click="tab(1)"
                                translate="MDT_DETAIL_MODAL_TAB_ADD_NEW_PATIENT"
                                ng-class="{active: iNow===1}"></li>
                            <li class="app-list-item"
                                ng-click="tab(2)"
                                translate="MDT_DETAIL_MODAL_TAB_ADD_EXISTING_PATIENT"
                                ng-class="{active: iNow===2}"></li>
                        </ul>
                    </div>

                    <div class="tab-content col-md-10">
                        <!--panel for search-->
                        <div class="tab-content-1" ng-show="iNow===1">
                            <form novalidate class="form-horizontal" name="addOrEditPatient" valdr-type="addOrEditPatient" role="form">
                                <div class="row">
                                    <!--name-->
                                    <div class="form-group col-md-6">
                                        <label class="col-md-4 control-label">
                                            {{'PATIENT_LIST_NAME' | translate}}
                                            <i class="fa fa-asterisk required-mark"></i>
                                        </label>
                                        <div valdr-form-group class="valdr-form-item col-md-8">
                                            <input type="text" class="form-control"
                                                   ng-model="patient.name" name="name">
                                        </div>
                                    </div>

                                    <!--birthday-->
                                    <div class="form-group col-md-6">
                                        <label class="col-md-4 control-label">
                                            {{'PATIENT_DETAIL_BIRTHDAY' | translate}}
                                        </label>
                                        <div valdr-form-group class="valdr-form-item col-md-8">
                                            <p class="input-group datepicker m-b-0">
                                                <input type="text"
                                                       class="form-control"
                                                       datepicker-popup="yyyy-MM-dd"
                                                       ng-model="patient.birthday"
                                                       is-open="opened"
                                                       ng-focus="opened=false"
                                                       show-button-bar="false"
                                                       name="birthday"
                                                       max-date="maxDate"
                                                       required />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default date-picker-btn" ng-click="open($event)">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                            <span ng-if="addOrEditPatient.birthday.$touched && addOrEditPatient.birthday.$error.required"
                                                  class="valdr-message ng-invalid custom-error error-info">
                                                {{'PATIENT_DETAIL_BIRTHDAY' | translate}}{{'VALID_NOT_EMPTY' | translate}}
                                            </span>
                                            <span ng-if="addOrEditPatient.birthday.$touched && addOrEditPatient.birthday.$error.date"
                                                  class="valdr-message ng-invalid custom-error error-info">
                                                {{'VALID_NOT_VALIDE' | translate}}{{'PATIENT_DETAIL_BIRTHDAY' | translate}}
                                            </span>
                                        </div>
                                    </div>

                                    <!--patient id-->
                                    <div class="form-group col-md-6">
                                        <label class="col-md-4 control-label">
                                            {{'PATIENT_DETAIL_ID' | translate}}
                                        </label>
                                        <div valdr-form-group
                                             class="valdr-form-item col-md-8 pos-rel zindex-11 patient-id-wrap">
                                            <input type="text"
                                                   id="patientId"
                                                   class="form-control"
                                                   ng-model="patient.ptnum"
                                                   name="ptnum"
                                                   ng-change="patientIdChanged()"
                                                   ng-model-options="{updateOn: 'blur'}"
                                                   ng-disabled="isDisabledPP">

                                            <input type="text" class="form-control"
                                                   ng-model="patient.ptnum"
                                                   name="ptnum" ng-if="isAccept" ng-class="{'hide': isAccept}">
                                        </div>
                                    </div>

                                    <!--hospital id-->
                                    <div class="form-group col-md-6">
                                        <label class="col-md-4 control-label">
                                            {{'PATIENT_LIST_SEEDOCTOR_HOSPITAL_ID' | translate}}
                                        </label>
                                        <div valdr-form-group class="valdr-form-item col-md-8">
                                            <input type="text" class="form-control"
                                                   ng-model="patient.hospital" name="hospital">
                                        </div>
                                    </div>

                                    <!--bed id-->
                                    <div class="form-group col-md-6">
                                        <label class="col-md-4 control-label">
                                            {{'PATIENT_LIST_BED_NUMBER' | translate}}
                                        </label>
                                        <div valdr-form-group class="valdr-form-item col-md-8">
                                            <input type="number" min="1" class="form-control"
                                                   ng-model="patient.bed" name="bed">
                                        </div>
                                    </div>

                                    <!--dept-->
                                    <div class="form-group col-md-6">
                                        <label class="col-md-4 control-label">
                                            {{'PATIENT_LIST_DEPT' | translate}}
                                        </label>
                                        <div valdr-form-group class="valdr-form-item col-md-8">
                                            <select class="form-control"
                                                    ng-model="patient.dept"
                                                    ng-change="deptChanged()"
                                                    ng-options="opt.name for opt in depts"
                                                    name="dept"></select>
                                        </div>
                                    </div>

                                    <!--sex-->
                                    <div class="form-group col-md-6">
                                        <label class="col-md-4 control-label">
                                            {{'GENDER' | translate}}
                                        </label>
                                        <div valdr-form-group class="valdr-form-item col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" name="sex" value="1" ng-model="patient.sex">
                                                        </span>
                                                        <label class="form-control">{{'GENDER_MALE' | translate}}</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" name="sex" value="2" ng-model="patient.sex">
                                                        </span>
                                                        <label class="form-control">{{'GENDER_FEMALE' | translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--mobile-->
                                    <div class="form-group col-md-6">
                                        <label class="col-md-4 control-label">
                                            {{'USER_DETAIL_USER_MOBILE' | translate}}
                                        </label>
                                        <div valdr-form-group class="valdr-form-item col-md-8">
                                            <input type="text" class="form-control"
                                                   ng-model="patient.mobile" name="mobile">
                                        </div>
                                    </div>

                                    <!--reason-->
                                    <div class="form-group col-md-6">
                                        <label class="col-md-4 control-label">
                                            {{'PATIENT_DETAIL_REASON' | translate}}
                                        </label>
                                        <div valdr-form-group class="valdr-form-item col-md-8">
                                            <textarea type="text" class="form-control" rows="3"
                                                      ng-model="patient.reason" name="reason"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--panel for search-->
                        <div class="tab-content-2" ng-show="iNow===2">
                            <!--radio btns-->
                            <div class="row">
                                <div class="col-md-10">
                                    <xg-radio xg-name="patient"
                                              xg-text="{{'MDT_DETAIL_MODAL_DEPT'|translate}}"
                                              xg-checked="true"
                                              xg-value="1"
                                              xg-on-click="onRadioClick(value)">
                                    </xg-radio>

                                    <xg-radio xg-name="patient"
                                              xg-text="{{'MDT_DETAIL_MODAL_SEARCH'|translate}}"
                                              xg-value="2"
                                              xg-on-click="onRadioClick(value)">
                                    </xg-radio>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10">
                                    <!--select or search control-->
                                    <div class="select-search-bar">
                                        <select class="form-control"
                                                ng-show="iRadio==1"
                                                ng-model="existingPatient.selected"
                                                ng-change="existingPatientDeptChanged()"
                                                ng-options="opt.name for opt in existingPatient.depts"></select>

                                        <input type="search"
                                               class="form-control"
                                               ng-show="iRadio==2"
                                               placeholder="{{'MDT_DETAIL_MODAL_SEARCH_PLACEHOLDER'|translate}}"
                                               ng-model="existingPatient.filter"
                                               ng-change="onSearch()" />
                                    </div>

                                    <!--table-->
                                    <div class="modal-table-wrap">
                                        <div class="table-header">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-1"></th>
                                                        <th class="col-md-2">
                                                            <div>{{'PATIENT_LIST_NAME' |translate }}</div>
                                                        </th>
                                                        <th class="col-md-1">
                                                            <div>{{'PATIENT_LIST_SEX' |translate }}</div>
                                                        </th>
                                                        <th class="col-md-2">
                                                            <div>{{'PATIENT_LIST_DEPT' |translate }}</div>
                                                        </th>
                                                        <th class="col-md-1">
                                                            <div>{{'PATIENT_LIST_AGE' |translate }}</div>
                                                        </th>
                                                        <th class="col-md-2">
                                                            <div>{{'PATIENT_LIST_CREATOR' |translate }}</div>
                                                        </th>
                                                        <th class="col-md-3">
                                                            <div>{{'PATIENT_LIST_CREATED_TIME' |translate }}</div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="table-body min-height-150">
                                            <table class="table">
                                                <tbody>
                                                    <tr ng-repeat="p in patientsInfo" class="list-item">
                                                        <td class="col-md-1">
                                                            <xg-radio xg-name="pl"
                                                                      xg-value="{{$index}}"
                                                                      xg-on-click="onSelectedPatient(value)">
                                                            </xg-radio>
                                                        </td>
                                                        <td class="col-md-2">{{p.patient.name}}</td>
                                                        <td class="col-md-1">
                                                            <div ng-if="p.sex === 1">{{'GENDER_MALE' |translate }}</div>
                                                            <div ng-if="p.sex !== 1">{{'GENDER_FEMALE' |translate }}</div>
                                                        </td>
                                                        <td class="col-md-2">{{p.dept.name}}</td>
                                                        <td class="col-md-1">{{p.patient.age}}</td>
                                                        <td class="col-md-2">{{p.creator.name}}</td>
                                                        <td class="col-md-3">{{p.patient.createTime | amDateFormat:'YYYY/MM/DD'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="reason">
                                        <div class="control-label">
                                            {{'PATIENT_DETAIL_REASON' | translate}}
                                            <i class="fa fa-asterisk required-mark"></i>
                                        </div>
                                        <div valdr-form-group class="valdr-form-item">
                                            <textarea type="text" class="form-control" rows="3"
                                                      ng-model="existingPatient.reason" name="reason"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-modal-footer zindex-10 m-r-40">
                    <div class="data-btns">
                        <button class="btn cancel" ng-click="cancel()">
                            {{'TEXT_CANCEL'|translate}}
                        </button>

                        <button ng-show="isNewPatient"
                                class="btn ok"
                                ng-click="ok(addOrEditPatient)"
                                ng-disabled="addOrEditPatient.$invalid">
                            {{'TEXT_OK'|translate}}
                        </button>

                        <button ng-show="!isNewPatient"
                                class="btn ok"
                                ng-click="save()"
                                translate="TEXT_OK"
                                ng-disabled="selectedPatientInfo==null || existingPatient.reason == ''">
                            {{'TEXT_OK'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
