﻿<div class="app-modal patient-favorite">
    <div class="row">
        <div class="app-modal-wrap col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
            <div class="app-modal-header">               
                <h3 class="app-modal-title">
                    {{'TEXT_MY_FAVORITE_NOTE'|translate}}
                </h3>
            </div>
            <div class="app-modal-body">
                <textarea rows="8"
                          class="form-control comments-control"
                          ng-model="favorite.remark"
                          placeholder="{{'TEXT_MY_FAVORITE_NOTE_PLACEHOLDER'|translate}}"></textarea>
            </div>
            <div class="app-modal-footer">
                <div class="data-btns">
                    <button class="btn cancel" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok" 
                            ng-click="ok()"
                            ng-disabled="!favorite.remark">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
