﻿<div class="mdt-base" ng-controller="MdtBasicCtrl">
    <div class="row">
        <!--placehoder to launch pc client for joining meeting-->
        <a ng-href="{{meeting}}" id="meeting" class="hide">Meeing Now</a>

        <!--left: mdt base, attandence, discussion etc-->
        <div class="col-lg-9 col-md-9 col-sm-10">
            <div class="row">
                <div class="col-md-12 mdt-base-content pos-rel" ng-mouseenter="bfocus=true" ng-mouseleave="bfocus=false">
                    <div class="mdt-heading">
                        <div class="m-title">{{mdt.title}}</div>
                        <div class="m-subtitle">{{mdt.remark}}</div>
                        <div class="m-time" ng-if="mdt.type==2">{{mdt.date}} {{mdt.tfrom}}-{{mdt.tto}}</div>
                    </div>
                    <div class="mdt-body clearfix  m-t-30">
                        <div class="row pos-rel">
                            <div class="col-lg-6 col-md-10" ng-if="mdt.type==2">
                                <div class="mdt-info">
                                    <div class="p-label-2">{{'TEXT_APPT_MEETING'|translate}}</div>
                                    <div class="other-info">
                                        <div class="p-item">
                                            <span>{{'TEXT_TIME'|translate}}:</span>
                                            <span>{{mdt.start | amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                        </div>
                                        <div class="p-item">
                                            <span>{{'TEXT_LOCATION'|translate}}:</span>
                                            <span>{{mdt.location}}</span>
                                        </div>
                                        <div class="p-item">
                                            <span>{{'TEXT_HOST'|translate}}:</span>
                                            <span>{{mdt.creator.name}}</span>
                                        </div>
                                    </div>

                                    <input type="button"
                                           class="btn btn-primary"
                                           value="{{'TEXT_WAITING_JOIN'|translate}}"
                                           ng-click="startOnlineMeeting()" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12" ng-class="{'width-100': mdt.type!==2}">
                                <div class="mdt-chart row">
                                    <div class="chart-item col-md-6">
                                        <div ng-show="showFirstCounddown">
                                            <xg-countdown color="#27c3f0"
                                                          radius="86"
                                                          text="LET_US_MEETING_IN"
                                                          stroke="15"
                                                          total="mdtStartTotalTimespan"
                                                          basic="mdtStartPassedTimespan"
                                                          topic="xg.countdown.first"
                                                          xg-completed="getStartedMeeting()">
                                            </xg-countdown>
                                        </div>
                                        <div ng-show="!showFirstCounddown">
                                            <div class="start-meeting" ng-click="startOnlineMeeting()">
                                                <span class="text"
                                                      ng-if="user.account.userId===mdt.creator.userId">
                                                    {{'MDT_LIST_STATUS_START'| translate}}
                                                </span>
                                                <span class="text"
                                                      ng-if="user.account.userId!==mdt.creator.userId">
                                                    {{'MDT_LIST_STATUS_JOIN'| translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chart-item col-md-6">
                                        <div ng-show="showSecondCounddown">
                                            <xg-countdown color="#ff8b4d"
                                                          radius="86"
                                                          text="END_OF_DISCUSSION"
                                                          stroke="15"
                                                          total="mdtEndTotalTimespan"
                                                          basic="mdtEndPassedTimespan"
                                                          topic="xg.countdown.two"
                                                          xg-completed="endOfMdt()">
                                            </xg-countdown>
                                        </div>
                                        <div ng-show="!showSecondCounddown">
                                            <div class="dismiss-meeting" ng-click="dismissMeeting()">
                                                <span class="text">
                                                    {{'TEXT_DISMISSION_MDT'| translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--btns-->
                    <xg-edit-trash class="top-right"
                                   ng-show="bfocus"
                                   xg-on-edit="edit()"
                                   xg-on-trash="delete()">
                    </xg-edit-trash>
                </div>
            </div>

            <div class="row m-t-20">
                <div class="col-md-12 mdt-attandence-content">
                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                <div class="p-title">{{'MDT_DETAIL_ATTENDENCES'|translate}}</div>

                                <table class="table table-2 clear-table-border">
                                    <tbody>
                                        <tr class="attendence-item-1" ng-repeat="attendance in mdt.attendees">
                                            <td class="width-fix-60">
                                                <img class="p-img" ng-src="{{attendance.avatar}}" />
                                            </td>
                                            <td>
                                                <div>{{attendance.name}}</div>
                                                <div>{{attendance.type}} {{attendance.dept}}</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div ng-if="mdt.tempAttendees.length!=0">
                                <div class="p-title m-t-10">{{'MDT_DETAIL_TEMP_ATTENDENCES'|translate}}</div>

                                <table class="table table-2 clear-table-border">
                                    <tbody>
                                        <tr class="attendence-item-1" ng-repeat="ta in mdt.tempAttendees">
                                            <td class="width-fix-60">
                                                <img class="p-img" src="/assets/src/img/icons/comment_userdef.png" />
                                            </td>
                                            <td>
                                                <div>{{ta.name}}</div>
                                                <div>{{ta.phone}}</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="clearfix">
                                <div class="p-title f-l">{{'TEXT_PATIENTS_DISCUSSION'|translate}}</div>
                                <div class="f-r m-r-15 hidden">
                                    <select class="form-control t-select">
                                        <option>{{'TEXT_ALL'|translate}}</option>
                                        <option>{{'TEXT_LATEST'|translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="patient-dis-item" ng-repeat="p in patients">
                                    <div class="m-b-5">{{p.patient.name}} {{p.patient.gender|translate}} {{p.patient.age}}{{'OLD'|translate}}</div>
                                    <div>{{p.patient.creator.name}} {{p.patient.creator.type}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="p-title">{{'TEXT_LATEST_DISCUSSION'|translate}}</div>

                            <table class="table table-2 clear-table-border">
                                <tbody>
                                    <tr class="latest-dis-item" ng-repeat="comment in comments">
                                        <td class="width-fix-60">
                                            <img class="p-img" ng-src="{{comment.creator.avatar}}" />
                                        </td>
                                        <td>
                                            <div>
                                                <span>{{comment.creator.userName}}</span>
                                                <span>{{comment.creator.dept}}</span>
                                            </div>
                                            <div class="p-time">
                                                {{comment.createTime | amDateFormat:'YYYY/MM/DD HH:mm'}}
                                            </div>
                                            <div class="trim-field">
                                                {{comment.content}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--right: notice info, contact info-->
        <div class="col-lg-3 col-md-3 col-sm-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="notice">
                        <div class="notice-heading">
                            <div class="trim-field">{{'TEXT_ANNOUNCEMENT'|translate}}</div>
                            <span ng-click="publishAnnouncement()">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <div class="notice-body">
                            <div ng-if="announcements.length!==0">
                                <div class="notice-item pos-rel"
                                     ng-repeat="announcement in announcements"
                                     ng-mouseenter="announcement.focus=true"
                                     ng-mouseleave="announcement.focus=false">
                                    <div>
                                        <span>{{announcement.creator.userName}}</span>
                                        <span>{{announcement.creator.dept}}</span>
                                        <span class="p-time">{{announcement.create_time|amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                    </div>
                                    <div title="{{announcement.content}}">{{announcement.content}}</div>

                                    <xg-smart-edit-trash class="top-right"
                                                         ng-show="announcement.focus"
                                                         xg-style="small"
                                                         ng-if="user.account.userId==announcement.creator.userId"
                                                         xg-on-edit="editAnnouncement(announcement)"
                                                         xg-on-trash="deleteAnnouncement(announcement)">
                                    </xg-smart-edit-trash>
                                </div>
                            </div>

                            <div class="notice-item" ng-if="announcements.length==0">
                                <div>{{'TEXT_NONE'|translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="contact">
                        <div class="contact-heading">
                            {{'TEXT_CONTACT'|translate}}
                        </div>
                        <div class="contact-body">
                            <div class="contact-item">
                                <div class="p-subtitle">{{'MDT_DETAIL_MADORATOR'|translate}}</div>
                                <div>{{mdt.creator.name}}</div>
                                <div>{{mdt.creator.phone}}</div>
                                <div>{{mdt.creator.mobile}}</div>
                                <div>{{mdt.creator.email}}</div>
                            </div>

                            <div class="contact-item" ng-show="mdt.assistants!= null &&mdt.assistants.length !=0">
                                <div class="p-subtitle">{{'TEXT_ASSISTANT_DOCTOR'|translate}}</div>
                                <div ng-repeat="as in mdt.assistants">
                                    <div>{{as.name}}</div>
                                    <div>{{as.phone}}</div>
                                    <div>{{as.mobile}}</div>
                                    <div>{{as.email}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
