﻿<div class="xg-edit-trash">
    <div class="xg-edit"
         ng-hide="onlyTrash"
         ng-click="onEdit(entity)">
    </div>
    <div class="xg-trash"
         ng-hide="onlyEdit"
         ng-click="onTrash(entity)">
    </div>
</div>
