.admin-home {
}

    .admin-home .p-img {
        width: 50px;
        /*height: 50px;*/
    }

    .admin-home .smart-select ul.dropdown-menu {
        left: auto;
        right: 0;
    }

    .admin-home .smart-select > ul.dropdown-menu > li > a {
        display: block;
        height: auto;
        line-height: normal;
        max-width: 350px;
        border-bottom: 1px solid #f1f1f1;
        padding: 8px 10px;
    }


    .admin-home .p-time {
        font-size: 14px;
        color: #aeaeae;
    }

    .admin-home .clear-table-border.table-2.table > tbody > tr:hover,
    .admin-home .clear-table-border.table-2.table > tbody > tr > td:hover {
        cursor: default;
        background-color: #fff;
    }

    .admin-home .patientship-content .clear-table-border.table-2.table > tbody > tr,
    .admin-home .patientship-content .clear-table-border.table-2.table > tbody > tr > td,
    .admin-home .doctorship-content .clear-table-border.table-2.table > tbody > tr,
    .admin-home .doctorship-content .clear-table-border.table-2.table > tbody > tr > td {
        cursor: default;
        background-color: #fff;
        border-bottom: 1px solid #efefef;
    }

    .admin-home .color-4 {
        color: #6ba9de;
    }

    .admin-home .color-5 {
        color: #02b4a5;
    }

    /*-------end--------*/

    /*-------admin-home-heading----------*/
    .admin-home .admin-home-heading {
        min-height: 120px;
        position: relative;
        background-color: #27a4f0;
        color: #fff;
        padding: 12px 140px 12px 16px;
    }

.admin-home-heading .db-mdt > div:nth-of-type(3) {
    position: absolute;
    bottom: 12px;
    left: 16px;
}

.admin-home-heading .db-mdt .div-top {
    margin-top: 10px;
}

.admin-home-heading .db-countdown {
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    height: 120px;
    width: 140px;
    background-color: #fff;
}

.admin-home-heading .start-meeting {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #27c3f0;
    cursor: pointer;
}

    .admin-home-heading .start-meeting .text {
        line-height: 90px;
        text-align: center;
        color: #27c3f0;
        display: block;
        font-weight: 600;
    }

    .admin-home-heading .start-meeting:hover {
        border-color: #27a4f0;
    }

        .admin-home-heading .start-meeting:hover .text {
            color: #27a4f0;
        }
/*-------end----------*/



/*-------more-info----------*/
.admin-home .more-info {
    text-align: center;
    min-height: 120px;
    background-color: #f5f5f5;
    border: 1px solid #efefef;
}

    .admin-home .more-info .p-item {
        height: 120px;
        width: 130px;
        overflow: hidden;
        float: left;
        position: relative;
    }

        .admin-home .more-info .p-item .p-number {
            margin-top: 15px;
            font-size: 42px;
            font-weight: normal;
            color: #fe9268;
        }

.more-info .p-item .p-number.color-1 {
    color: #00c4b3;
}

.more-info .p-item .p-number.color-2 {
    color: #fccc7e;
}

.more-info .p-item .p-number.color-3 {
    color: #77bc1f;
}

.admin-home .more-info .p-item .p-text {
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}
/*-------end----------*/


