.add-pending-patient .data-list:nth-of-type(1) {
    height: 300px;
    overflow-y: auto;
}

.add-pending-patient .data-list .list-item.custom {
    width: 227px;
    max-width: 230px;
    height: 72px;
    border-color: #f1f1f1;
    background-color: white;
    border-radius: 0;
}
    .add-pending-patient .data-list .list-item.custom:hover,
    .add-pending-patient .data-list .list-item.custom.active {
        border-color: #9ddafe;
        background-color: #f8fcfe;
        color: #606060;
     }

.add-pending-patient .data-list .list-item.selecting {
    width: 152px;
    background-color: #1797e5;
    padding:2px 5px;
    color:white;
}
