<div class="app-modal add-pending-patient" style="min-height:450px;">
    <div class="row">
        <div class="app-modal-wrap col-md-6 col-md-offset-3">
            <div class="app-modal-header">
                <h3 class="app-modal-title">
                    {{'PATIENT_DETAIL_ADD_TITLE'|translate}}
                </h3>
            </div>
            <div class="app-modal-body pos-rel zindex-10">
                <!--none pending patients-->
                <div class="data-list clearfix" ng-if="!patients || patients.length==0">
                    <h3 class="text-center">{{'TEXT_NONE_PENDING_PATIENTS'|translate}}</h3>
                </div>

                <!--has pending patients-->
                <div class="data-list white clearfix" ng-if="patients && patients.length!=0">
                    <div class="list-item custom" ng-repeat="p in patients"
                         ng-click="onselected(p, $index)"
                         ng-class="{'active': p.checked}">
                        <div class="trim-field">
                            <span>{{p.patient.ptnum}}</span>
                        </div>
                        <div class="trim-field">
                            <span>{{p.patient.name}}</span>
                            <span>{{p.doctor.dept.name}}</span>
                        </div>
                        <div class="f-s-12 trim-field">
                            <span>{{p.doctor.userName}}</span>
                            <span>{{p.createTime| amDateFormat:'YYYY/MM/DD'}}</span>
                        </div>
                        <div class="trim-field" title="{{p.reason}}">
                            {{p.reason}}
                        </div>
                    </div>
                </div>

                <div class="data-list clearfix m-t-10"
                     ng-if="pendingPatients && pendingPatients.length!=0">
                    <div class="list-item selecting" ng-repeat="pending in pendingPatients">
                        <div class="trim-field">
                            <span>{{pending.patient.ptnum}}</span>
                        </div>
                        <div class="trim-field">
                            <span>{{pending.patient.name}}</span>
                            <span ng-click="removePatient(pending, $index)">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-modal-footer data-btns">
                <button class="btn cancel" ng-click="cancel()" translate="TEXT_CANCEL">
                    <!--Cancel-->
                </button>

                <button class="btn ok"
                        ng-click="save()"
                        translate="TEXT_OK"
                        ng-if="patients && patients.length!=0"
                        ng-disabled="!pendingPatients || pendingPatients.length==0">
                    <!--OK-->
                </button>
            </div>
        </div>
    </div>
