﻿<div class="container-fluid">
    <ol class="breadcrumb m-b-0">
        <li class="bc-item time">
            <!--<div>2015/09/01 星期二 10:12</div>-->
            <xg-time></xg-time>
        </li>
        <li class="bc-icon add-icon hidden">
            <a href="javascript:void(0)" ng-click="add()"></a>
        </li>
    </ol>

    <div class="page-content navigator-home">
        <h1>Navigator Home</h1>
    </div>
</div>
