.mdt-list {
}

    .mdt-list .list-item div {
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .mdt-list .table .trim-snumver {
        max-width: 123px;
    }

    .mdt-list .table .trim-title {
        max-width: 420px;
    }

    .mdt-list .table .trim-remark {
        max-width: 263px;
    }

    .mdt-list .table .trim-name {
        max-width: 123px;
    }

    .mdt-list .table .trim-time {
        max-width: 230px;
    }

    .btn.btn-info {
        color: #eaf4fd;
        border: none;
        background-image: linear-gradient(to bottom,#15CAAE 0,#15CAAE 100%);
    }

    .btn.btn-info:focus,
    .btn.btn-info:hover,
    .btn.btn-info:active {
        color: #fff;
        background-color: #15CAAE;
    }