<div ui-view>

    <ol class="breadcrumb">
        <li class="bc-item m-l-30">
            <span>{{'MDT_LIST_PAGE_TITLE' |translate }}</span>
        </li>

        <li class="bc-icon add-icon m-r-30">
            <a href="javascript:void(0)" ng-click="addMdt()"></a>
        </li>
    </ol>

    <div class="container-fluid">
        <div class="row page-content mdt-list nav-list">
            <nav class="mdt-tabs tabs clearfix">
                <div class="tab-key f-l"
                     ng-class="{'active': iNow === 1}"
                     ng-click="tab(1)">
                    {{'MDT_LIST_ALL' |translate }}
                </div>
                <div class="tab-key f-l"
                     ng-class="{'active': iNow === 2}"
                     ng-click="tab(2)">
                    {{'MDT_LIST_TO_BE_HELD' |translate }}
                </div>
                <div class="tab-key f-l"
                     ng-class="{'active': iNow === 3}"
                     ng-click="tab(3)">
                    {{'MDT_LIST_BEEN_HELD' |translate }}
                </div>
                <div class="tab-key f-r clear-active" ng-show="showSelections['ott']">
                    <!--<label class="f-l t-text">{{'MDT_LIST_DATE' | translate}}:</label>-->
                    <div class="f-l">
                        <select class="form-control t-select"
                                ng-model="selections.ott"
                                ng-change="onChangedTimestamp(selections.ott)"
                                ng-options="opt.name for opt in oTimestamps track by opt.id"
                                name="ott"></select>
                    </div>
                </div>
                <div class="p-select-tab-key f-r clear-active" ng-show="showSelections['doctor']">
                    <div class="f-l">
                        <select class="form-control t-select"
                                ng-model="selections.doctor"
                                ng-change="onChangedCondition('doctor',selections.doctor)"
                                ng-options="item.name for item in doctorList track by item.id"
                                name="doctor"></select>
                    </div>
                </div>
                <div class="p-select-tab-key f-r clear-active" ng-show="showSelections['moderator']">
                    <div class="f-l">
                        <select class="form-control t-select"
                                ng-model="selections.moderator"
                                ng-change="onChangedCondition('moderator',selections.moderator)"
                                ng-options="item.name for item in moderatorList track by item.id"
                                name="moderator"></select>
                    </div>
                </div>
                <div class="p-select-tab-key f-r clear-active" ng-show="showSelections['dept']">
                    <div class="f-l">
                        <select class="form-control t-select"
                                ng-model="selections.dept"
                                ng-change="onChangedDept(selections.dept)"
                                ng-options="item.name for item in deptList track by item.id"
                                name="dept"></select>
                    </div>
                </div>
            </nav>

            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-1">
                            <div>{{'MDT_LIST_NUMBER' |translate }}</div>
                        </th>
                        <th class="col-md-2">
                            <div>{{'MDT_LIST_NAME' |translate }}</div>
                        </th>
                        <th class="col-md-3">
                            <div>{{'MDT_LIST_NOTE' |translate }}</div>
                        </th>
                        <th class="col-md-1 custome-controls"
                            xg-isort
                            xg-itext="{{'MDT_LIST_MODERATOR' |translate }}"
                            xg-on-isort="sortByModerator(asc)"></th>
                        <th class="col-md-2 custome-controls"
                            xg-isort
                            xg-itext="{{'MDT_LIST_DATE_TIME' |translate }}"
                            xg-on-isort="sortByStartDate(asc)"></th>
                        <th class="col-md-2">
                            <div>{{'MDT_LIST_MEETING_ROOM' |translate }}</div>
                        </th>
                        <th class="width-fix-130">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in mdts" ng-click="detail(m)" class="list-item">
                        <td class="col-md-1">
                            <div class="trim-snumver" title="{{m.snumber}}">{{m.snumber}}</div>
                        </td>
                        <td class="col-md-3">
                            <div class="trim-title" title="{{m.title}}">{{m.title}}</div>
                        </td>
                        <td class="col-md-2">
                            <div class="trim-title" title="{{m.remark}}">
                                {{m.remark}}
                            </div>
                        </td>
                        <td class="col-md-1">
                            <div class="trim-name" title="{{m.creator.name}}">{{m.creator.name}}</div>
                        </td>
                        <td class="col-md-1">
                            <div class="trim-time" title="{{m.start|amDateFormat:'YYYY/MM/DD HH:mm'}}">
                                <span>
                                    {{m.start|amDateFormat:'YYYY/MM/DD HH:mm'}}
                                </span>
                                <span ng-if="m.end">-</span>
                                <span ng-if="m.end">
                                    {{m.end|amDateFormat:'HH:mm'}}
                                </span>
                                <span ng-if="!(m.end)">--</span>
                            </div>
                        </td>
                        <td class="col-md-2">
                            <div class="trim-title" title="{{m.location}}">{{m.location}}</div>
                        </td>
                        <td class="width-fix-130"
                            ng-click="joinMeeting(m); $event.stopPropagation();"
                            ng-if="m.status===1 && !m.expired">
                            <div><a href="javascript:void(0)" class="btn btn-info">{{'MDT_LIST_STATUS_JOIN' | translate}}</a></div>
                        </td>
                        <td class="width-fix-130" ng-if="m.status===1 && m.expired || m.status!==1">
                            <div>{{m.statusText | translate}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--placehoder to launch pc client for joining meeting-->
            <a ng-href="{{meeting}}" id="meeting" class="hide">Meeing Now</a>

            <xg-pagination xg-total-items="paging.totalItems"
                           xg-page-changed="paging.pageChanged(item)"
                           xg-page-size-changed="paging.pageSizeChanged(item)"
                           xg-items-per-page="paging.itemsPerPage"
                           xg-current-page="paging.currentPage"
                           xg-show-page-text="true"
                           xg-show-entities-text="true">
            </xg-pagination>
        </div>
    </div>
</div>

