﻿<div class="xg-tab">
    <ul class="nav nav-tabs">
        <!--placeholder-->
        <li class="">
            <a href="javascript:void(0)"></a>
        </li>
        <li ng-repeat="tab in tabs" ng-class="{'active': tab.active}" ng-click="clickTab(tab, $index)">
            <a href="javascript:void(0)">{{tab.name}}
                <span ng-if="tab.removed" ng-click="deleteTab(tab, $index)">
                    <i class="fa fa-remove"></i>
                </span>
            </a>           
        </li>
        <li ng-click="addTab()">
            <a href="javascript:void(0)">
                <i class="fa fa-plus"></i>
            </a>
        </li>
    </ul>
</div>
