<div class="app-modal share-patients" style="min-height:450px;">
    <div class="row">
        <div class="app-modal-wrap col-md-6 col-md-offset-3">
            <div class="app-modal-header m-l-o-15">
                <h3 class="app-modal-title">
                    {{'TEXT_SELECT_PATIENT'|translate}}
                </h3>
            </div>
            <div class="app-modal-body pos-rel zindex-10">
                <!--search-->
                <div class="row bg-7 border m-b-10">
                    <div class="col-md-4 col-md-offset-3">
                        <div class="data-group m-t-5 m-b-5">
                            <div class="search">
                                <input class="form-control"
                                       type="search"
                                       ng-model="search"
                                       name="search"
                                       ng-change="searchChanged(search)"
                                       placeholder="{{'TEXT_PATIENT_NAME' |translate}}" />
                                <span>
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--patients list-->
                <div class="row border">
                    <div class="col-md-3 p-r-0 p-l-0">
                        <div class="menu-list">
                            <div ng-if="patients && patients.length!=0"
                                 class="menu-item" ng-repeat="p in patients"
                                 ng-click="toggleSelected(p, $index)"
                                 ng-class="{'active': p.checked}">
                                <div class="trim-field">
                                    <span>{{p.name}}</span>
                                    <span>{{p.gender|translate}}</span>
                                    <span>{{p.age}}</span>
                                </div>
                            </div>
                            <div ng-if="!patients || patients.length==0">
                                <span class="m-l-15 m-t-10">{{'TEXT_NONE'|translate}}</span>
                            </div>
                        </div>
                    </div>

                    <!--patient detail-->
                    <div class="col-md-9 bg-7 patient-summary">
                        <div class="f-s-24 trim-field">
                            <span>{{patientInfo.patient.name}}</span>
                            <span>{{patientInfo.patient.ptnum}}</span>
                        </div>
                        <div class="data-group">
                            <div>
                                <span>{{patientInfo.patient.gender|translate}}</span>
                                <span>{{patientInfo.patient.idnum}}</span>
                            </div>
                        </div>
                        <div class="line"></div>

                        <!--contact-->
                        <div class="data-group">
                            <p class="p-label">{{'MOBILE'|translate}}</p>
                            <div>
                                <span ng-if="patientInfo.patient.mobile">{{patientInfo.patient.mobile}}</span>
                                <span ng-if="!patientInfo.patient.mobile">{{'TEXT_NONE'|translate}}</span>
                            </div>
                        </div>
                        <div class="line"></div>

                        <!--diagnosis summary-->
                        <div class="summary-list">
                            <!--have history data-->
                            <div class="list-item m-b-10"
                                 ng-if="patientInfo.histories && patientInfo.histories.length!=0"
                                 ng-repeat="h in patientInfo.histories">
                                <div>
                                    <span>{{h.createTime|amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                    <span>-</span>
                                    <span ng-if="h.endTime">{{h.endTime|amDateFormat:'HH:mm'}}</span>
                                    <span ng-if="!h.endTime">{{'TEXT_TO_NOW'| translate}}</span>

                                    <span ng-if="h.decision">{{'TEXT_DECISION'|translate}}</span>
                                    <span ng-if="!h.decision">{{'PATIENT_DETAIL_REASON'|translate}}</span>
                                </div>
                                <div class="f-s-14">
                                    <p ng-if="h.decision">{{h.decision}}</p>
                                    <p ng-if="!h.decision">{{h.description}}</p>
                                </div>
                            </div>

                            <!--no data-->
                            <div ng-if="!patientInfo.histories || patientInfo.histories.length==0">
                                <p>{{'TEXT_NONE_HISTORY'|translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-modal-footer data-btns m-r-o-15">
                    <div class="data-btns">
                        <button class="btn cancel" ng-click="cancel()">
                            {{'TEXT_CANCEL'|translate}}
                        </button>

                        <button class="btn ok" ng-click="ok()" ng-disabled="!patientInfo">
                            {{'TEXT_OK'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
