.app-modal.share-patients .border {
    border: 1px solid #e7e4e4;
}

.share-patients .menu-list {
    max-height: 478px;
    overflow-y: auto;
}

.share-patients .patient-summary {
    padding: 26px 15px 10px;
    min-height: 480px;
}

.share-patients .summary-list {
    max-height: 300px;
    overflow-y: auto;
}
