﻿<div id="loginPanel" class="txt-c" ui-view>
    <div class="jumbotron home">
        <div class="logo"></div>
    </div>

    <div>
        <form novalidate name="login" valdr-type="login" ng-keyup="signIn(login, $event)">
            <div class="avatar">
                <img ng-src="{{user.avatar}}" />
            </div>

            <div class="form-group m-t-30">
                <div valdr-form-group class="valdr-form-item">
                    <angucomplete-alt id="ex2"
                                      placeholder="{{'LOGIN_USER_NAME' | translate}}"
                                      pause="300"
                                      selected-object="selectedUser"
                                      input-changed="nameChange"
                                      local-data="historyAccounts"
                                      search-fields="accountName,desc"
                                      title-field="accountName"
                                      image-field="avatar"
                                      description-field="desc"
                                      minlength="1"
                                      input-name="account"
                                      text-searching="{{resource.searching}}"
                                      text-no-results="{{resource.noResults}}"
                                      input-class="form-control login-name" />
                </div>
            </div>

            <div class="form-group m-t-30">
                <div valdr-form-group class="valdr-form-item">
                    <input type="password"
                           class="form-control login-pwd"
                           name="password"
                           ng-model="user.password"
                           ng-change="pwdChanged()"
                           placeholder="{{'LOGIN_PASSWORD' | translate}}" />
                </div>
            </div>

            <!--validation error-->
            <div class="form-group">
                <div class="valdr-form-item m-b-40 txt-l">
                    <span ng-show="validFailed"
                          class="valdr-message ng-invalid custom-error error-info">
                        {{'VALID_LOGIN_SUMMARY' | translate}}
                    </span>
                </div>
            </div>

            <div class="form-group clearfix m-t-30 m-b-5">
                <div class="f-l">
                    <label>
                        <input type="checkbox" value="{{'LOGIN_REMEMBER_PASSWORD'|translate}}" ng-model="user.checked" name="rememberPassword"/>
                        <span class="f-w-normal">{{'LOGIN_REMEMBER_PASSWORD'|translate}}</span>
                    </label>
                </div>
                <div class="f-r">
                    <a class="forget-pwd" href="javascript:void(0)" ng-click="forgetPwd()">{{'LOGIN_FORGET_PASSWORD'|translate}}</a>
                </div>
            </div>

            <!--button-->
            <div class="form-group">
                <div class="data-btns">
                    <input type="button"
                           class="btn ok width-100"
                           value="{{'TEXT_OK' | translate}}"
                           ng-click="ok(login)"
                           ng-disabled="!login.$valid" />
                </div>
            </div>
        </form>
    </div>
</div>

<!--footer-->
<div ng-include="'/assets/src/pages/footer/footer.html'" xg-include-replace></div>
