#loginPanel {
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    #loginPanel form {
        width: 276px;
        margin: 40px auto;
    }

        #loginPanel form .avatar {
            height: 100px;
            background: transparent url(/assets/src/img/icons/usershadow.png) no-repeat center 60px;
        }

        #loginPanel form .login-name {
            padding-left: 25px;
            background: url(/assets/src/img/icons/login_usericon.png) no-repeat 5px center;
        }

        #loginPanel form .login-pwd {
            padding-left: 25px;
            background: url(/assets/src/img/icons/login_passwordicon.png) no-repeat 5px center;
        }

        #loginPanel form .avatar img {
            width: 100px;
            height: 100px;
            border: 2px solid #fff;
            border-radius: 50px;
        }

        #loginPanel form a.forget-pwd {
            color: #606060;
        }

    #loginPanel .error-info {
        text-align: left;
        margin-top: -30px;
    }
