﻿<div class="page-content moderate-home">
    <div class="patients-queue-panel">
        <div class="row bc-time">
            <xg-time></xg-time>
        </div>
        <div class="row">
            <div class="col-md-4  bc-title">
                <span>{{'MODERATOR_TITLE' | translate}}</span>
            </div>
            <div class="col-md-7  patient-choice data-btns" ng-if="selectedPatients.length > 0">
                <div class="f-l">
                    <span ng-if="selectedPatients.length >= 1">
                        <span>{{'MODERATOR_CHOICE'|translate}}</span>
                        <strong>{{count}}</strong>
                    </span>
                </div>

                <button class="btn ok f-r" ng-click="addMdt()">
                    {{'MODERATOR_ADD_TO_NEW_MEETING'|translate}}
                </button>

                <button class="btn ok f-r m-r-15" ng-click="addExistedMdt()">
                    {{'MODERATOR_ADD_TO_SELECTED_MEETING'|translate}}
                </button>
            </div>
        </div>
        <div class="row clearfix m-t-20 pending-patient-container" ng-if="pendingPatients.length > 0">
            <div class="patient-div" ng-repeat="pi in pendingPatients">
                <div class="patient-detail" ng-class="{'active': pi.checked}">
                    <div class="row pos-rel">
                        <div class="col-md-3 col-xs-3">
                            <img class="p-img" ng-src="{{pi.avatar}}">
                        </div>
                        <div class="col-md-9 col-xs-9">
                            <div class="row trim-detail">
                                <span>{{'HOSP_PATIENT_ID'|translate}}</span>
                                <span>{{pi.patient.ptnum}}</span>
                            </div>
                            <div class="row trim-detail">
                                <span>{{pi.patient.name}}</span>
                                <span ng-if="pi.patient.sex == 1">{{'GENDER_MALE' |translate }}</span>
                                <span ng-if="pi.patient.sex != 1">{{'GENDER_FEMALE' |translate }}</span>
                                <span>{{pi.patient.age}}{{'OLD'|translate}}</span>
                            </div>
                            <div class="row trim-detail">
                                <span>{{'MODERATOR_ATTENDING'|translate}}</span>
                                <span>{{pi.doctor.userName}}</span>
                                <span>{{pi.doctor.dept.name}}</span>
                            </div>
                        </div>
                        <div class="checkbox-div">
                            <label class="check-radio-container">
                                <input class="checkbox-control"
                                       type="checkbox"
                                       value="pi"
                                       name="pi"
                                       ng-model="pi.checked"
                                       ng-change="onSelected(pi, $index)"
                                       ng-disabled="overdue" />
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="text-pre">
                                {{pi.requestReason | textTrim}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="patient-time">
                    <span>{{'MODERATOR_CREATETIME'|translate}}{{pi.requestTime | amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                </div>
            </div>
        </div>
        <div class="no-patient-div clearfix  m-t-20" ng-if="pendingPatients.length < 1">
        </div>
    </div>
    <div class="calculator-meeting">
        <div class="date-picker">
            <datepicker ng-model="dt"
                        min-date="minDate"
                        show-weeks="true"
                        meetings-date="meetingsDate"
                        icon-visibility="true"
                        class="well well-sm">
            </datepicker>
        </div>
        <div class="mdt-detail detail-border" ng-if="mdt">

            <div class="pos-rel" ng-mouseenter="mfocus=true" ng-mouseleave="mfocus=false">
                <h3 class="mdt-title mdt-trim-detail">
                    {{mdt.title}}
                </h3>

                <div class="base-detail">
                    <span>{{mdt.start | amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                    <span>-</span>
                    <span>{{mdt.end | amDateFormat:'HH:mm'}}</span>
                </div>
                <div class="base-detail mdt-trim-detail">
                    <span>{{mdt.location}}</span>
                </div>

                <!--btns-->
                <xg-edit-trash class="top-right small"
                               ng-show="mfocus && !overdue"
                               only-edit="true"
                               xg-on-edit="edit()">
                </xg-edit-trash>
            </div>

            <div class="m-t-20 pos-rel" ng-mouseenter="afocus=true" ng-mouseleave="afocus=false">
                <div class="bg-attendance mdt-subTitle">
                    <div class="attendance-title">
                        <div ng-if="mdt.attendees.length > 0">
                            <span>{{'MODERATOR_ATTENDANCE'|translate}}</span>
                            <span>(<strong>{{mdt.attendees.length}}</strong>)</span>
                        </div>
                        <div ng-if="mdt.attendees.length <1">
                            <span>{{'MODERATOR_ATTENDANCE'|translate}}</span>                        
                        </div>
                    </div>
                </div>
                <div class="d-div">
                    <div class="computed-group clearfix">
                        <div class="group-item user-dt" ng-repeat="a in mdt.attendees">
                            <img class="p-img" ng-src="{{a.avatar}}" />
                            <div class="item-info">
                                <div>{{a.userName}}</div>
                                <div>{{a.title}}</div>
                                <div>{{a.dept.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--btns-->
                <xg-edit-trash class="top-right small"
                               ng-show="afocus && !overdue"
                               only-edit="true"
                               xg-on-edit="addAttendance()">
                </xg-edit-trash>
            </div>

            <div class="pos-rel" ng-mouseenter="pfocus=true" ng-mouseleave="pfocus=false">
                <div class="mdt-subTitle">
                    <div class="attendance-title">
                        <div ng-if="mdt.histories.length > 0">
                            <span>{{'MODERATOR_CASE_DISCUSSION'|translate}}</span>
                            <span>(<strong>{{mdt.histories.length}}</strong>)</span>
                        </div>
                        <div ng-if="mdt.histories.length <1">
                            <span>{{'MODERATOR_CASE_DISCUSSION'|translate}}</span>                         
                        </div>
                    </div>
                </div>

                <div class="d-div">
                    <div class="computed-group clearfix">
                        <div class="patient-item patient-dt" ng-repeat="pi in mdtExistedPatients">
                            <img class="p-img" ng-src="{{pi.patient.avatar}}" />
                            <div class="item-info">
                                <div class="mdt-trim-detail">{{'HOSP_PATIENT_ID'|translate}}：{{pi.patient.ptnum}}</div>
                                <div class="patient-trim-detail">
                                    <span>
                                        {{pi.patient.name}}:
                                    </span>
                                    <span>
                                        {{pi.patient.gender|translate}}
                                    </span>
                                    <span>
                                        {{pi.patient.age}}{{'OLD'|translate}}
                                    </span>
                                </div>
                                <div class="patient-trim-detail">
                                    <span>{{'MODERATOR_ATTENDING'|translate}}</span>
                                    <span>{{pi.doctor.userName}}</span>
                                    <span>{{pi.doctor.dept.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--btns-->
                <xg-edit-trash class="top-right small"
                               ng-show="pfocus && !overdue"
                               only-edit="true"
                               xg-on-edit="addPatient()">
                </xg-edit-trash>
            </div>
        </div>
    </div>
</div>
