.moderate-home {
    position: relative;
    min-height: 800px;
}

    .moderate-home .pending-patient-container {
        overflow-y: auto;
        position: fixed;
        right: 900px;
        left: 60px;
        top: 150px;
        bottom: 45px;
    }

    .moderate-home .bc-time {
        color: #0082d1;
        padding: 8px 0;
        font-size: 26px;
    }

    .moderate-home .text-pre {
        padding: 10px 12px;
        border: none;
        background-color: #f5f5f5;
        width: 100%;
        height: 110px;
        overflow-y: auto;
    }

    .moderate-home .sel-sort {
        width: 50%;
    }

    .moderate-home .sel-dept {
        width: 60%;
    }

    .moderate-home .trim-detail {
        max-width: 200px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    /*-------patient list start ----------*/
    .moderate-home .patient-name-list {
        position: absolute;
        left: 10px;
        top: 145px;
        width: 140px;
        height: 550px;
        font-size: 12px;
        background-color: #d2d2d2;
    }

    .moderate-home .bc-meeting-selected {
        /*padding: 30px 0;
        font-size: 12px;*/
    }

    .moderate-home .bc-meeting-new {
        padding: 30px 0;
        padding-left: 2%;
    }

    .moderate-home .bc-title {
        height: 36px;
        color: #0082d1;
        font-size: 22px;
        padding-left: 0;
    }

    .moderate-home .patient-choice {
        right: -30px;
    }

    .moderate-home .patient-div .checkbox-div {
        position: absolute;
        top: -20px;
        right: -5px;
    }

    .moderate-home .patient-detail {
        /*height: 240px;*/
        background-color: #fdfdfd;
        padding: 15px 15px;
        font-size: 14px;
        border-bottom: 5px solid #ededed;
        border: 1px solid #ededed;
    }

        .moderate-home .patient-detail:hover,
        .moderate-home .patient-detail.active {
            border-color: #9ddafe;
            background-color: #f8fcfe;
        }

            .moderate-home .patient-detail:hover .text-pre,
            .moderate-home .patient-detail.active .text-pre {
                background-color: #ebf4f8;
            }

    .moderate-home .check-box {
        padding-left: 10%;
    }

    .moderate-home .checkbox-control {
        width: 20px;
        height: 30px;
        margin: initial;
    }
    /*-------patient list end----------*/

    /*-------DatePicker start----------*/
    .moderate-home .date-picker {
        min-width: 365px;
    }

        .moderate-home .date-picker .btn {
            min-height: 40px;
            min-width: 95px;
            font-size: 22px;
            text-align: left;
            padding-left: inherit;
            background-color: #fdfdfd;
            border: 1px solid #ededed;
        }

.btn.btn-meeting-default:hover {
    background: #eef9ff url('/assets/src/img/icons/create_pure.png') no-repeat right center;
    border-color: #93d7ff;
}

.btn.btn-cannot-create-meeting:hover {
    border-color: #93d7ff;
}

.moderate-home .date-picker .btn-info.active {
    background-color: #31b0d5;
    border-color: #269abc;
}

.moderate-home .date-picker .page-content {
    font-size: 12px;
}


.moderate-home .disabled {
    cursor: not-allowed;
}
/*-------DatePicker end----------*/

/*-------MDT start----------*/
.moderate-home .mdt-detail {
}

.moderate-home .mdt-trim-detail {
    max-width: 450px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.moderate-home .patient-trim-detail {
    max-width: 200px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.moderate-home .bg-attendance {
    background-color: #e3e3e3;
}

.moderate-home .mdt-detail .add-icon > a {
    float: right;
    margin-right: -29px;
    height: 35px;
    width: 35px;
    background: url('/assets/src/img/icons/create_normal.png') no-repeat center center;
}

    .moderate-home .mdt-detail .add-icon > a:hover {
        background: url('/assets/src/img/icons/create_mouseon.png') no-repeat center center;
    }

    .moderate-home .mdt-detail .add-icon > a:active {
        background: url('/assets/src/img/icons/create_mousedown.png') no-repeat center center;
    }

.moderate-home .mdt-detail .edit-icon > a {
    float: right;
    display: block;
    margin-right: -230px;
    height: 35px;
    width: 35px;
    background: url('/assets/src/img/icons/edit_normal.png') no-repeat center center;
}

    .moderate-home .mdt-detail .edit-icon > a:hover {
        background: url('/assets/src/img/icons/edit_mouseon.png') no-repeat center center;
    }

    .moderate-home .mdt-detail .edit-icon > a:active {
        background: url('/assets/src/img/icons/edit_mousedown.png') no-repeat center center;
    }

.moderate-home .mdt-detail .page-content {
    font-size: 14px;
}

.moderate-home .mdt-detail .mdt-title {
}

.moderate-home .mdt-detail .base-detail {
}

.moderate-home .mdt-detail .mdt-subTitle {
    background-color: #e3e3e3;
}

.moderate-home .mdt-detail .d-div {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 4px;
    font-size: 14px;
    margin: 5px 0 3px 0;
}

    .moderate-home .mdt-detail .d-div .d-bottom {
        padding-bottom: 4px;
    }

.moderate-home .mdt-detail .p-detail {
    padding-left: inherit;
    padding-bottom: 4px;
}

.moderate-home .mdt-detail .attendance-title {
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
}

.moderate-home .mdt-detail .d-detail {
    padding-left: 30px;
}

.moderate-home .patient-time {
    margin-top: 5px;
    color: #ccc;
    text-align: center;
    font-size: 14px;
}

.moderate-home .patient-div {
    margin: 0 0 35px 0;
}

.moderate-home .no-patient-div {
    margin: 0 0 35px 0;
    min-height: 500px;
    min-width: 500px;
    background: url('/assets/src/img/icons/nodatapic.png') no-repeat center center;
}

.moderate-home .patient-icon {
    margin-left: -10px;
}

.moderate-home .patient-bg {
    margin-right: -2px;
    background-color: #e3e3e3;
}

    .moderate-home .patient-bg .patient-title {
        padding-top: 5px;
        margin-left: -15px;
        margin-right: 8px;
    }

/*-------MDT end----------------*/

.calculator-meeting {
    position: fixed;
    width: 710px;
    top: 52px;
    bottom: 45px;
    right: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    border-left: 1px solid #ddd;
    padding: 8px;
}

.patients-queue-panel {
    margin: 0 650px 0 15px;
}

    .patients-queue-panel .patient-div {
        width: 310px;
        height: 230px;
        float: left;
        margin: 0 14px 14px 0;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

/*-------computed-group----------*/
.moderate-home .computed-group {
}

    .moderate-home .computed-group .group-item {
        padding: 18px 10px;
        position: relative;
        float: left;
        min-width: 170px;
        border: 1px solid transparent;
    }

        .moderate-home .computed-group .group-item:active,
        .moderate-home .computed-group .group-item:hover {
            background-color: #f1f1f1;
            border-color: #ccc;
        }

        .moderate-home .computed-group .group-item .p-img {
            position: absolute;
            top: 18px;
            left: 10px;
            width: 50px;
        }

        .moderate-home .computed-group .group-item .item-info {
            margin-left: 55px;
        }

    .moderate-home .computed-group .user-dt {
        margin-right: -5px;
    }


    .moderate-home .computed-group .patient-item {
        padding: 18px 10px;
        position: relative;
        float: left;
        min-width: 335px;
        border: 1px solid transparent;
    }

    .moderate-home .computed-group .patient-item:active,
    .moderate-home .computed-group .patient-item:hover {
        background-color: #f1f1f1;
        border-color: #ccc;
    }

    .moderate-home .computed-group .patient-item .p-img {
        position: absolute;
        top: 18px;
        left: 10px;
        width: 50px;
    }

    .moderate-home .computed-group .patient-item .item-info {
        margin-left: 55px;
    }

/*-------end----------*/
