﻿<div ng-controller="PatientDiscussionCtrl">
    <!--patient discussion-->
    <div class="patient-discussion">
        <!--healthrecord item in viewing-->
        <div class="healthrecord-in-view text-center"
             ng-show="needView"
             id="healthrecordInView"
             ng-mouseenter="onEnterViewHealthrecord()"
             ng-mouseleave="onLeaveViewHealthrecord()">
            <img ng-src="{{healthrecordInView.thumbnail}}"
                 ng-click="viewHealthrecordInView(healthrecordInView)"
                 class="cursor-p" />
            <div class="item-wrapper">
                <a href="#"
                   class="hr-desc"
                   e-style="width: 110px"
                   editable-text="healthrecordInView.description"
                   onaftersave="afterSave(healthrecordInView)"
                   title="{{healthrecordInView.description}}">
                    <div class="trim-field">{{healthrecordInView.description}}</div>
                </a>
            </div>
            <div class="hr-date">{{healthrecordInView.createTime | amDateFormat:'YYYY/MM/DD' }}</div>
            <xg-trash class="trash-icon"
                      ng-show="isShow"
                      xg-id="{{healthrecordInView.id}}"
                      xg-on-trash="deleteMaterial(id)">
            </xg-trash>
        </div>

        <div class="row page-content nav-list">
            <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12">
                <!--tab-->
                <nav class="pd-tabs tabs clearfix">
                    <div ng-repeat="p in patients"
                         class="tab-key"
                         ng-class="{'active': p.focus}"
                         ng-click="viewPatient(p, $index)">
                        <p class="cursor-p">
                            <label class="p-label">{{p.patient.name}}</label>
                            <label class="p-label">{{p.patient.gender|translate}}</label>
                            <label class="p-label">{{p.patient.age}}{{'OLD'|translate}}</label>
                        </p>
                        <p class="cursor-p">
                            <label class="p-label">
                                <span>{{p.patient.creator.userName}}</span>
                                <span>{{p.patient.creator.type}}</span>                                
                            </label>
                        </p>
                    </div>

                    <div class="tab-key clear-bg"
                         ng-click="addPatient()">
                        <p class="line-h-44 text-center cursor-p">
                            <label class="p-label">{{'TEXT_ADD_PATIENT'|translate}}</label>
                            <label class="p-label fa fa-plus"></label>
                        </p>
                    </div>
                </nav>

                <!--tab content-->
                <div class="pd-content"
                     ng-if="activePatientTab.patient!=null">
                    <!--patient info-->
                    <div class="row base-info m-l-0 m-r-0 pos-rel p-icon custom-fav-icon"
                         ng-mouseenter="baseInfoFocus=true"
                         ng-mouseleave="baseInfoFocus=false">
                        <table class="table table-2">
                            <tr>
                                <td class="col-md-3">
                                    <div>
                                        <label class="p-label">{{'HOSP_PATIENT_ID_2'|translate}}</label>
                                        <label class="p-label">{{activePatientTab.patient.hospital}}</label>
                                    </div>
                                    <div>
                                        <label class="p-label">{{'PATIENT_LIST_DEPT'|translate}}</label>
                                        <label class="p-label">{{activePatientTab.patient.dept.name}}</label>
                                    </div>
                                    <div>
                                        <label class="p-label">{{'DATE_OF_Submitted'|translate}}</label>
                                        <label class="p-label">{{activePatientTab.patient.create_time|amDateFormat:'YYYY/MM/DD'}}</label>
                                    </div>
                                </td>
                                <td class="col-md-3">
                                    <div class="min-height-150">
                                        {{activePatientTab.reason}}
                                    </div>
                                </td>
                                <td class="col-md-5">
                                    <div class="healthrecord">
                                        <div class="hr-item pos-rel"
                                             ng-repeat="hr in healthrecords"
                                             ng-mouseenter="onEnterHealthrecord($event, hr)"
                                             ng-mouseleave="onLeaveHealthrecord($event, hr)">

                                            <img ng-src="{{hr.thumbnail}}" ng-click="viewHealthrecord(hr)" class="cursor-p img1" />
                                        </div>

                                        <div class="add" ng-click="addPatientMaterial()">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="width-fix-110">
                                    <div title="{{'TEXT_DIS_ONLINE'|translate}}" class="btn btn-discussion-1 block" ng-click="startOnlineMeeting()">
                                        {{'TEXT_DIS_ONLINE'|translate}}
                                    </div>
                                    <div title="{{'TEXT_DIS_IN_DOCTORS'|translate}}" class="m-t-10 btn btn-discussion-2 block hidden">
                                        {{'TEXT_DIS_IN_DOCTORS'|translate}}
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <!--placehoder to launch pc client for viewing healthrecord-->
                        <a ng-href="{{hrPath}}" id="healthrecordlink" class="hide">View Healthrecord</a>

                        <!--placehoder to launch pc client for joining meeting-->
                        <a ng-href="{{meeting}}" id="meeting" class="hide">Meeing Now</a>

                        <!--btns-->
                        <xg-edit-trash ng-show="baseInfoFocus"
                                       xg-on-edit="editPatient()"
                                       xg-on-trash="deletePatient()">
                        </xg-edit-trash>

                        <!--favorite icon-->
                        <xg-favorite ng-show="baseInfoFocus"
                                     xg-favorite="activePatientTab.patient"
                                     xg-on-click="addFavorite(favorite)">
                        </xg-favorite>
                    </div>

                    <!--discussion-->
                    <div class="row discussion-info">
                        <div class="dis-heading clearfix" id="disHeading" top-gap="10" xg-scroll-to-fixed>
                            <div class="dis-title f-l">{{'CURRENT_PATIENT_DISCUSSION'|translate}}</div>
                            <div class="dis-chart f-r" ng-click="addComment()"></div>
                            <div class="dis-refresh f-r" ng-click="refreshComments()">
                                <i class="fa fa-refresh" ng-class="{'fa-spin': refreshing}"></i>
                            </div>
                            <select class="dis-filter f-r form-control t-select hidden">
                                <option>过滤条件1</option>
                                <option>过滤条件2</option>
                                <option>过滤条件3</option>
                                <option>过滤条件4</option>
                            </select>
                        </div>
                        <div ng-show="hasMoreComments" class="load-more" ng-click="loadAllComments()">
                            <i class="fa fa-ellipsis-h"></i>
                        </div>
                        <div class="dis-content">
                            <table class="table">
                                <tbody>
                                    <tr class="chat-item"
                                        ng-repeat="comment in comments"
                                        ng-mouseenter="comment.focus=true"
                                        ng-mouseleave="comment.focus=false">
                                        <td class="width-fix-60">
                                            <img class="c-img" ng-src="{{comment.creator.avatar}}" />
                                        </td>
                                        <td class="col-md-10">
                                            <div class="pos-rel p-r-40">
                                                <div class="chat-title trim-field">
                                                    <span>{{comment.creator.userName}}</span>
                                                    <span>{{comment.creator.dept}}</span>
                                                    <span class="chat-time">{{comment.createTime | amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                                    <span ng-if="comment.reference!=null">
                                                        <span>{{'REPLIED'|translate}}</span>
                                                        <span>{{comment.reference.creator.userName}}</span>
                                                        <span>{{comment.reference.creator.dept}}</span>
                                                        <span class="chat-time">{{comment.reference.createTime | amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                                        <span>{{'PUBLISHED'|translate}}</span>
                                                        <span>{{comment.reference.brief}}</span>
                                                    </span>
                                                </div>
                                                <div class="chat-content m-t-5">
                                                    <div ng-if="comment.attach!=null">
                                                        <img ng-src="{{comment.attach.url}}"
                                                             class="width-fix-160 cursor-p"
                                                             ng-click="viewAttachment(comment)" />
                                                    </div>
                                                    <div>{{comment.content}}</div>
                                                </div>
                                                <div class="reply"
                                                     ng-show="comment.focus"
                                                     ng-click="replyComment(comment)">
                                                    {{'REPLY'|translate}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
