﻿.patient-discussion {
    position: relative;
}

    .patient-discussion .pd-tabs.tabs {
        padding: 0;
        border-left: 1px solid #c4c4c4;
        border-bottom: 2px solid #1797e5;
    }

.pd-tabs.tabs .tab-key {
    height: 60px;
    min-width: 80px;
    float: left;
    padding: 8px 16px;
    line-height: normal;
    text-align: left;
    border-right: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    background: #f1f1f1 url('/assets/src/img/icons/newtalking.png') no-repeat right 3px;
}

    .pd-tabs.tabs .tab-key.clear-bg {
        background-image: none;
    }

.pd-tabs.tabs p,
.pd-tabs.tabs label {
    margin: 0;
}

.pd-tabs.tabs .tab-key.active {
    background-image: url('/assets/src/img/icons/closedtopic.png');
}

.pd-tabs.tabs .p-label {
    font-weight: normal;
    color: #c8c8c8;
    font-size: 14px;
}

.pd-tabs.tabs .tab-key.active .p-label {
    color: #fff;
}

.patient-discussion .item-wrapper a {
    width: 100%;
}
/*-------base-info-------*/
.pd-content .custom-fav-icon .favorite-icon {
    right: -44px;
}

.pd-content .fa.fa-plus {
    position: static;
}

.pd-content .base-info {
    background-color: #fff;
}

.pd-content .healthrecord {
}

    .pd-content .healthrecord .hr-item {
    }

.pd-content .table-2.table tbody tr {
    background-color: #fff;
}

.pd-content .table-2.table tr:hover,
.pd-content .table-2.table td:hover {
    background-color: #fff;
}

.pd-content .healthrecord .add,
.pd-content .healthrecord .hr-item .img1 {
    width: 66px;
    height: 66px;
    float: left;
    margin-left: 1px;
    margin-top: 1px;
    border: none;
}

.pd-content .healthrecord .add {
    line-height: 66px;
    background-color: #ededed;
    color: #a5a5a5;
    text-align: center;
}

.patient-discussion .healthrecord-in-view {
    position: fixed;
    top: 20px;
    left: 200px;
    -moz-box-shadow: #000 0 0 10px;
    -webkit-box-shadow: #000 0 0 10px;
    box-shadow: #000 0 0 10px;
    z-index: 100;
}

.patient-discussion .base-info .xg-edit-trash {
    position: absolute;
    right: -44px;
    top: 0;
}

.pd-content .btn-discussion-1 {
    width: 90px;
    min-width: 90px;
    height: 60px;
    background-color: #ff7247;
    color: #fff;
    line-height: 46px;
}

.pd-content .btn-discussion-2 {
    width: 90px;
    height: 60px;
    background-color: #fff;
    color: #1797e5;
}
/*-------end--------*/

/*-------patient discussion--------*/
.patient-discussion .discussion-info {
    margin: 10px 0;
}

.discussion-info .dis-heading {
    height: 40px;
    line-height: 40px;
    background-color: #ededed;
    z-index: 100;
}

.discussion-info .dis-title {
    font-size: 18px;
    color: #5ea0d8;
    margin-left: 10px;
}

.discussion-info .dis-filter {
    width: auto;
    margin-right: 20px;
}

.discussion-info .dis-refresh {
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: #888;
    text-align: center;
}

    .discussion-info .dis-refresh:hover,
    .discussion-info .dis-refresh:active {
        color: #fff;
        background-color: #c8c8c8;
    }

.discussion-info .dis-chart {
    height: 40px;
    width: 120px;
    cursor: pointer;
    background: url('/assets/src/img/icons/talkpop_normal.png') no-repeat center center;
}

    .discussion-info .dis-chart:hover {
        background-image: url('/assets/src/img/icons/talkpop_hover.png');
    }

    .discussion-info .dis-chart:active {
        background-image: url('/assets/src/img/icons/talkpop_mousedown.png');
    }

    .discussion-info .dis-chart:disabled {
        background-image: url('/assets/src/img/icons/talkpop_disable.png');
    }

.patient-discussion .dis-content {
}

.dis-content .table th,
.dis-content .table tbody tr td {
    border-bottom-width: 1px;
    border-bottom-color: #efefef;
}

.dis-content .table tbody tr,
.dis-content .table {
    background: #f5f5f5;
}

    .dis-content .table tbody tr:hover,
    .dis-content .table tbody tr:active {
        background: #fff;
    }

    .dis-content .table tbody,
    .dis-content .table td {
        border: none;
        border-bottom: 1px solid #e4e1e1;
    }

/*.patient-discussion .load-more {
    color: #888;
    cursor: pointer;
    text-align: center;
}*/
/*-------end--------*/



