﻿<div class="row m-t-20">
    <div class="col-md-12 col-xs-12">
        <div class="conclusion-summary"
             ng-controller="ConclusionSummaryPatientCtrl"
             ng-mouseenter="summary.focus=true"
             ng-mouseleave="summary.focus=false">
            <div class="row">
                <table class="width-100">
                    <tbody>
                        <tr class="color-2">
                            <td class="col-md-2 col-xs-2">{{'TEXT_DIAGNOSIS_STAGE'|translate}}</td>
                            <td class="col-md-5 col-xs-5">{{'TEXT_DIAGNOSIS_REASON'|translate}}</td>
                            <td class="col-md-6 col-xs-5">{{'TEXT_DECISION'|translate}}</td>
                        </tr>
                        <tr class="text-left" ng-class="{'bg-8': $index==0}" ng-repeat="s in summaries">
                            <td class="col-md-2 col-xs-2">
                                <div ng-if="$index !== (summaries.length-1)">
                                    <div title="{{s.title}}" class="trim-field">{{s.title}}</div>
                                    <div>
                                        <span ng-if="s.start">
                                            {{s.start|amDateFormat:'YYYY/MM/DD'}}
                                        </span>
                                        <span>-</span>
                                        <span ng-if="s.end">
                                            {{s.end|amDateFormat:'YYYY/MM/DD'}}
                                        </span>
                                        <span ng-if="!s.end">
                                            {{'TEXT_TO_NOW'|translate}}
                                        </span>
                                    </div>
                                </div>
                                <!--last one-->
                                <div ng-if="$index === (summaries.length-1)">
                                    <!--transformed patient-->
                                    <div ng-if="s.referral===1">
                                        {{'TEXT_TRANSFORM_REASON'|translate}}
                                    </div>
                                    <div ng-if="s.referral!==1">
                                        {{'PATIENT_SICK_NOTES'|translate}}
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-5 col-xs-5">
                                <div>{{s.description}}</div>
                            </td>
                            <td class="col-md-6 col-xs-5">
                                <div>{{s.decision}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <xg-edit-trash class="hide"
                           only-edit="true"
                           entity="{{hr}}"
                           xg-on-trash="deleteHealthrecord(entity)"></xg-edit-trash>
        </div>
    </div>
</div>