﻿<div ui-view>
    <!--<ol class="breadcrumb margin-minus-32">
        <li class="bc-item bc-back f-l" ng-click="back()"></li>
        <li class="bc-item no-sep-icon f-l">
            <span>{{'USER_PROFILE_DOCTOR_RELATIONSHIP' |translate }}</span>
        </li>
    </ol>-->
    <!--placehoder to launch pc client for viewing healthrecord-->
    <a ng-href="{{hrPath}}" id="healthrecordlink" class="hide">View Healthrecord</a>

    <article class="container-fluid page-content pos-rel m-t-35 doctor-social">
        <section class="group-list pos-rel">
            <aside class="left-nav-container">
                <div class="page-title m-l-10">{{'USER_PROFILE_DOCTOR_RELATIONSHIP' |translate }}</div>
                <nav class="l-nav">
                    <div class="detail-tab-item p-icon nav-item"
                         ng-repeat="dg in doctorGroups"
                         ng-class="{'active': iNow === $index}"
                         ng-click="navTab(dg, $index)"
                         ng-if="doctorGroups.length!==0"
                         ng-mouseenter="dg.focus=true"
                         ng-mouseleave="dg.focus=false">
                        <div class="trim-field title">{{dg.title}}</div>
                        <div ng-if="dg.message!=null" class="latest-message">
                            <img class="s-img" ng-src="{{dg.message.creator.avatar}}" />
                            <div class="message-info">
                                <div class="trim-field f-s-14">
                                    <span class="message-author">{{dg.message.creator.userName}}</span>
                                    <span>{{dg.message.creator.dept.name}}</span>
                                    <span class="p-time">{{dg.create_time | amDateFormat:'HH:mm'}}</span>
                                </div>
                                <div class="trim-field f-s-16">
                                    {{dg.message.content}}
                                </div>
                            </div>
                        </div>
                        <div class="f-s-12 trim-field" ng-if="!dg.message">
                            {{'TEXT_NO_CONVERSTAION'|translate}}
                        </div>
                    </div>

                    <!--no circle-->
                    <div ng-if="doctorGroups.length===0">
                        <span class="m-l-10">{{'TEXT_NO_DOCTOR_SOCIAL'|translate}}</span>
                    </div>
                </nav>
            </aside>

            <article class="content-container">
                <div class="row tab-content">
                    <div class="col-md-12">
                        <div class="c-nav clearfix">
                            <div class="nav-item p-icon"
                                 ng-repeat="acs in activeChartSessions"
                                 ng-click="topTab(acs, $index)"
                                 ng-class="{'active': tNow===$index}">
                                <div class="trim-field title" title="{{acs.title}}">{{acs.title}}</div>
                                <span ng-click="removeChartSession(acs, $index)"
                                      ng-hide="onlySingleSession">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>

                        <div class="dg-content">
                            <div class="img-list clearfix">
                                <div class="f-s-24 m-t-20 m-b-30 m-l-10">{{'TEXT_GROUP_MEMBERS'|translate}}</div>
                                <div ng-repeat="member in members"
                                     ng-if="members && members.length!==0"
                                     ng-mouseenter="member.focus=true"
                                     ng-mouseleave="member.focus=false">
                                    <div class="img-item pos-rel">
                                        <img class="s-img" alt="" ng-src="{{member.avatar}}" />
                                        <div class="member-note">
                                            <div class="trim-field" title="{{member.userName}}">
                                                {{member.userName}}
                                            </div>
                                            <div class="trim-field" title="{{member.type}} {{member.dept.name}}">
                                                <span>{{member.type}}</span>
                                                <span>{{member.dept.name}}</span>
                                            </div>
                                        </div>
                                        <xg-trash ng-if="member.userId != user.userId && currentChartSession.creator.userId == user.userId"
                                                  class="trash-icon small"
                                                  ng-show="member.focus"
                                                  xg-id="{{member.id}}"
                                                  xg-on-trash="removeMember(id)">
                                        </xg-trash>
                                    </div>

                                </div>

                                <!--no members yet-->
                                <div ng-if="!members || members.length===0">
                                    <span class="m-l-10">{{'TEXT_NO_MEMBER_IN_DOCTOR_SOCIAL'|translate}}</span>
                                </div>
                                <!--<div class="img-item p-plus" ng-click="addMembers()">
                                    <span>
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </div>-->
                            </div>

                            <div class="chart-list">
                                <div ng-show="hasMoreChats" class="load-more" ng-click="loadMoreChats()">
                                    <i class="fa fa-ellipsis-h"></i>
                                </div>
                                <div class="chart-item clearfix"
                                     ng-repeat="message in currentChartSession.messageItems.data"
                                     ng-class="{'revert': user.userId === message.creator.userId}">
                                    <img class="s-img chart-icon" ng-src="{{message.creator.avatar}}" alt="{{message.creator.userName}}" />
                                    <div class="chart-content">
                                        <div class="p-text">{{message.content}}</div>
                                        <!--attaches-->
                                        <div ng-if="message.attaches && message.attaches.length!=0">
                                            <div ng-repeat="at in message.attaches" class="attachment">
                                                <img class="attachment-img cursor-p"
                                                     ng-src="{{at.url}}"
                                                     ng-click="viewAttachment(at)" />
                                                <div class="attachment-notes">
                                                    <span class="p-time f-s-12">{{at.create_time| amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                                    <div class="note">{{at.description}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--patients-->
                                        <div ng-if="message.patients && message.patients.length!=0">
                                            <div class="computed-group clearfix">
                                                <div class="group-item light-blue aways cursor-p"
                                                     ng-repeat="p in message.patients"
                                                     ng-click="gotoPatientDetail(p)">
                                                    <img class="p-img" ng-src="{{p.avatar}}" />
                                                    <div class="item-info">
                                                        <div class="trim-field">
                                                            <!--<span>{{'HOSP_PATIENT_ID_2'|translate}}</span>-->
                                                            <span class="f-s-12">
                                                                {{p.ptnum}}
                                                            </span>
                                                        </div>
                                                        <div class="trim-field">
                                                            <span>{{p.name}}</span>
                                                            <span>{{p.gender | translate}}</span>
                                                            <span>{{p.age}}</span>
                                                        </div>
                                                        <div class="trim-field f-s-12">{{p.dept}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chart-time">
                                        <span>{{message.creator.dept.name}}</span>
                                        <span>{{message.creator.userName}}</span>
                                        <span>{{message.create_time | amDateFormat:'YYYY/MM/DD HH:mm'}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="chart-area" id="chartArea" ng-show="currentChartSession">
                                <div>
                                    <span class="icon icon-members-list" ng-click="insertPatient()"></span>
                                    <!--<span class="s-btn" ng-click="addAttachments()">
                                        <i class="fa fa-plus"></i>
                                        {{'TEXT_PATIENT_MARITAL'|translate}}
                                    </span>-->
                                    <!--<span class="
                                    s-btn">
                                        <i class="fa fa-plus"></i>
                                        {{'TEXT_EXTERNAL_LINKS'|translate}}
                                    </span>
                                    <span class="s-btn">
                                        <i class="fa fa-plus"></i>
                                        {{'TEXT_UPLOAD_ATTACHMENT'|translate}}
                                    </span>-->
                                </div>
                                <div class="input-group" ng-keyup="sendMessage(message.content, $event)">
                                    <textarea class="form-control"
                                              placeholder="{{'TEXT_CTRL_ENTER_TO_SEND'|translate}}"
                                              ng-model="message.content"
                                              rows="4" id="chartInput"></textarea>

                                    <span class="input-group-addon"
                                          ng-class="{'cursor-p': message.content || selectedPatient}"
                                          ng-click="send(message.content)">{{'TEXT_SEND'|translate}}</span>
                                </div>
                                <!--<div class="attaches-list clearfix">
                                    <div class="attaches-item" ng-repeat="hr in attaches.healthrecords">
                                        <span>{{hr.description}}</span>
                                        <span class="cursor-p" ng-click="removeHealthrecordAttachment(hr, $index)">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                    <div class="attaches-item" ng-repeat="sn in attaches.snapshots">
                                        <span>{{sn.description}}</span>
                                        <span class="cursor-p" ng-click="removeSnapshotAttachment(sn, $index)">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>-->
                                <!--the patient need to be inserted to chat.-->
                                <div class="data-list white clearfix inline-block">
                                    <div class="list-item blue" ng-if="selectedPatient">
                                        <div>
                                            <span>{{selectedPatient.name}}</span>
                                            <span>{{selectedPatient.gender|translate}}</span>
                                            <span>{{selectedPatient.age}}</span>
                                        </div>
                                        <span ng-click="clearPatient()">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <!--side btn-->
        <aside class="side-btn-bar">
            <div class="btn-item" ng-click="addGroup()">
                <p>{{'TEXT_CREATE_SESSION'|translate}}</p>
            </div>
            <div class="btn-item" ng-click="addMembers()" ng-class="{'cursor-not-allowed': !currentChartSession}">
                <p>{{'ADD_MEMBERS_TITLE'|translate}}</p>
            </div>
            <div class="btn-item" ng-click="quitSession()" ng-class="{'cursor-not-allowed': !currentChartSession}">
                <p>{{'TEXT_QUIT_SESSION'|translate}}</p>
            </div>
        </aside>
    </article>
</div>




