﻿.group-list .common-tabs .detail-tab-item {
    line-height: normal;
    text-align: left;
    padding: 10px 21px 10px 10px;
    border-bottom: 1px solid #ababab;
    height: auto;
    cursor: default;
}

.group-list .p-icon .fa {
    right: 3px;
    top: 3px;
    font-size: 12px;
}

.group-list .page-title {
    /*margin-left: 38px;*/
}

.group-list .computed-group .group-item .item-info {
    width: 160px;
}
/*-----l-nav ------*/
.group-list .left-nav-container {
    position: fixed;
    width: 400px;
    top: 80px;
    bottom: 45px;
    overflow-y: auto;
}

.group-list .l-nav {
    padding-left: 12px;
}

    .group-list .l-nav .nav-item {
        height: 105px;
        padding: 12px 50px 12px 30px;
        border-bottom: 2px solid #eaeaea;
    }

        .group-list .l-nav .nav-item:last-child {
            border-bottom: none;
        }


        .group-list .l-nav .nav-item.active {
            background-color: #eaeaea;
        }

        .group-list .l-nav .nav-item .title {
            font-size: 18px;
            color: #606060;
            font-weight: 600;
        }

        .group-list .l-nav .nav-item .latest-message {
            position: relative;
            padding-left: 55px;
        }

            .group-list .l-nav .nav-item .latest-message .s-img {
                position: absolute;
                top: 0;
                left: 0;
            }

        .group-list .l-nav .nav-item .message-info .message-author {
            color: #1797e5;
        }
/*-----end------*/

/*-----c-nav ------*/
.group-list .content-container {
    margin-left: 410px;
}

.group-list .c-nav .nav-item {
    position: relative;
    padding: 10px 21px 10px 12px;
    float: left;
    height: 44px;
    min-width: 120px;
    border: 1px solid #ebe9e9;
    border-right: none;
    border-bottom-width: 2px;
    background-color: #fff;
}

    .group-list .c-nav .nav-item:last-child {
        border-right: 1px solid #ebe9e9;
    }

    .group-list .c-nav .nav-item.active {
        background-color: #1797e5;
        color: #f1f1f1;
    }

    .group-list .c-nav .nav-item .title {
        max-width: 150px;
    }
/*-----end ------*/

/*-----img-list ------*/
.group-list .dg-content {
    position: relative;
    padding: 0 272px 160px 0;
    /*background-color: #fff;*/
}

.group-list .img-list {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 272px;
    background-color: #f9f9f9;
}

    .group-list .img-list .img-item {
        margin-bottom: 10px;
        padding: 10px 0;
        border-bottom: 1px solid #ebe9e9;
    }

        .group-list .img-list .img-item .s-img {
            position: absolute;
            top: 0;
            left: 10px;
        }

        .group-list .img-list .img-item .member-note {
            padding-left: 70px;
        }


        .group-list .img-list .img-item .trim-field {
        }

        .group-list .img-list .img-item .trash-icon {
            position: absolute;
            right: 5px;
            top: 0;
        }

.group-list img.s-img {
    width: 50px;
    /*height: 52px;*/
    margin: 4px 4px 0 0;
}

.group-list .img-list .img-item.p-plus {
    width: 80px;
    height: 60px;
    border: 1px solid #ababab;
    cursor: pointer;
    margin: 4px 4px 0 0;
}

    .group-list .img-list .img-item.p-plus > span {
        margin-top: 20px;
        display: inline-block;
        margin-left: 34px;
    }
/*-----end ------*/

/*-----chart-list ------*/
.group-list .chart-list {
    background-color: #fff;
    /*border-bottom: 4px solid #f5f5f5;*/
    padding-top: 20px;
    min-height: 500px;
    position: relative;
}

.group-list .chart-item {
    position: relative;
    padding: 0 10px 20px;
}

    .group-list .chart-item .attachment {
        position: relative;
        padding-left: 60px;
        margin-bottom: 12px;
    }

    .group-list .chart-item .attachment-img {
        width: 53px;
        height: 53px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .group-list .chart-item .attachment-notes .note {
        color: #1797e5;
    }

    .group-list .chart-item .chart-icon {
        top: 0;
        position: absolute;
        left: 30px;
    }

    .group-list .chart-item .chart-content {
        max-width: 70%;
        margin-left: 80px;
        position: relative;
        border: 1px solid #f5f5f5;
        border-radius: 4px;
        padding: 10px 14px 10px;
        background-color: #f5f5f5;
        display: inline-block;
    }

    .group-list .chart-item .chart-time {
        clear: both;
        font-size: 12px;
        color: #ababab;
        padding-left: 80px;
    }

    .group-list .chart-item.revert .attachment {
        padding-left: 0;
        padding-right: 60px;
    }

    .group-list .chart-item.revert .attachment-img {
        left: auto;
        right: 0;
    }

    .group-list .chart-item.revert .chart-content::before,
    .group-list .chart-item .chart-content::before {
        content: "";
        position: absolute;
        border: 8px solid #f5f5f5;
        border-bottom-color: transparent;
        border-top-color: transparent;
        top: 8px;
    }

    .group-list .chart-item .chart-content::before {
        border-left-color: transparent;
        left: -16px;
    }

    .group-list .chart-item.revert .chart-content::before {
        border-right-color: transparent;
        right: -16px;
        left: auto;
    }

    .group-list .chart-item.revert {
    }

        .group-list .chart-item.revert .chart-time {
            text-align: right;
            padding-right: 85px;
        }

        .group-list .chart-item.revert .chart-icon {
            right: 30px;
            left: auto;
        }

        .group-list .chart-item.revert .chart-content {
            float: right;
            text-align: right;
            margin-right: 85px;
            margin-left: 10px;
        }

    /*--blue--*/
    .group-list .chart-item.blue {
        color: #f1f1f1;
    }

        .group-list .chart-item.blue .chart-content {
            background-color: #1797e5;
        }

            .group-list .chart-item.blue .chart-content::before {
                border-right-color: #1797e5;
            }

        .group-list .chart-item.blue.revert .chart-content::before {
            border-left-color: #1797e5;
            border-right-color: transparent;
        }

    /*--light-blue--*/
    .group-list .chart-item.light-blue {
        /*border-color: #93d7ff;*/
    }

        .group-list .chart-item.light-blue .chart-content {
            border: 1px solid #93d7ff;
            background-color: #fff;
        }

            .group-list .chart-item.light-blue .chart-content::before {
                border-right-color: #93d7ff;
            }

        .group-list .chart-item.light-blue.revert .chart-content::before {
            border-left-color: #93d7ff;
            border-right-color: transparent;
        }

        .group-list .chart-item.light-blue:hover .chart-content,
        .group-list .chart-item.light-blue.active {
            background-color: #eef9ff;
        }
/*-----end ------*/

/*-----chart-area ------*/
.group-list .chart-area {  
    border: 1px solid #f5f5f5;
    border-top-width: 3px;
    padding-right: 20px;
    background-color: #fff;
}

    .group-list .chart-area .btn-list {
        padding: 12px 20px;
        background-color: #fff;
    }

    .group-list .chart-area .input-group-addon {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0;
    }

    .group-list .chart-area .btn-list .s-btn {
        color: #1797e5;
        margin-right: 15px;
        cursor: pointer;
    }

    .group-list .chart-area .form-control {
        outline: none;
        border: none;
        box-shadow: none;
    }

    .group-list .chart-area .attaches-list {
        min-height: 25px;
    }

        .group-list .chart-area .attaches-list .attaches-item {
            color: #606060;
            background-color: #f1f1f1;
            padding: 3px 6px;
            font-size: 12px;
            border-radius: 4px;
            margin: 0 4px 2px;
            float: left;
        }

.group-list .data-list {
    min-height: 25px;
    border: none;
}
/*-----end ------*/
