﻿.add-attendence {
}

.app-modal.add-attendence .app-modal-wrap {
    min-height: 430px;
}

.app-modal.add-attendence .modal-table-wrap .table-body {
    min-height: 250px;
}

.add-attendence .select-layout{
    display: inline;
    width: 49%;
}
