﻿<div class="app-modal confirm-panel">
    <div class="row">
        <div class="app-modal-wrap col-lg-4 col-md-6 col-sm-10 col-lg-offset-4 col-md-offset-3 col-sm-offset-1">
            <div class="app-modal-header">
                <h3 class="app-modal-title">
                    {{content.title}}
                </h3>
            </div>
            <div class="app-modal-body">
                <h5>{{content.body}}</h5>
            </div>
            <div class="app-modal-footer">
                <div class="data-btns">
                    <button class="btn cancel" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok" ng-click="ok()">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
