﻿<div class="app-modal share">
    <div class="row">
        <div class="app-modal-wrap col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2  col-sm-offset-1">
            <div class="app-modal-header">
                <h3 class="app-modal-title"
                    ng-show="iStage==1 ">
                    <span>{{'SHARE_TO'|translate}}</span>
                    <span class="icon icon-pure-create f-r"
                          ng-click="switchTo(3)"></span>
                </h3>
                <h3 class="app-modal-title"
                    ng-show="iStage==2">
                    <span class="icon icon-back"
                          ng-click="switchTo(1)"></span>
                    <span class="icon-text">{{tempSocial.title}}</span>
                </h3>
                <h3 class="app-modal-title"
                    ng-show="iStage==3 ">
                    <span class="icon-text">{{'SHARE_TO'|translate}}</span>
                </h3>
            </div>

            <!--select existing doctor social-->
            <div ng-show="iStage==1">
                <div ng-controller="SelectSocialCtrl"
                     ng-include="'/assets/src/pages/patients/modal/share/selectsocial/selectsocial.html'"
                     xg-include-replace></div>
            </div>

            <!--social detail-->
            <div ng-show="iStage==2">
                <div ng-controller="SocialDetailCtrl"
                     ng-include="'/assets/src/pages/patients/modal/share/socialdetail/socialdetail.html'"
                     xg-include-replace></div>
            </div>

            <!--create social(select doctors)-->
            <div ng-show="iStage==3">
                <div ng-controller="AddSocialCtrl"
                     ng-include="'/assets/src/pages/patients/modal/share/addsocial/addsocial.html'"
                     xg-include-replace>
                </div>
            </div>

            <!--error-->
            <div class="height-fixed-22">
                <span ng-show="hasError" class="valdr-message ng-invalid custom-error">
                    {{errorText}}
                </span>
            </div>

            <!--set closed modal since $modalInstance object cannot be access
                in sub controller
            -->
            <div class="app-modal-footer">
                <div class="data-btns"
                     ng-show="iStage==1">
                    <button class="btn cancel" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok" ng-click="ok()" ng-disabled="!social || hasError">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>
                <div class="data-btns"
                     ng-show="iStage==3">
                    <button class="btn cancel" ng-click="switchTo(1)">
                        {{'TEXT_BACK'|translate}}
                    </button>

                    <button class="btn ok" ng-click="createAndShare()"
                            ng-disabled="!doctors || doctors.length===0 || hasError">
                        {{'SHARE'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
