<footer class="footer-bar zindex-11" ng-class="{'bg-white': loginPage}" ng-controller="FooterCtrl">
    <p class="txt-c">
        <i class="fa fa-copyright"></i>
        2015
        <label class="blue">Medtronic</label>
        <span>|</span>
        <span>{{'WEB_VERSION'|translate}}</span>
        <span>-</span>
        <span>{{version}}</span>
    </p>
</footer>