﻿<div class="app-modal change-password-panel">
    <div class="row">
        <div class="app-modal-wrap col-md-4 col-sm-8 col-md-offset-4 col-sm-offset-2">
            <div class="app-modal-header">
                <h3 class="app-modal-title" >
                    {{'USER_CHANGEPASSWORD_TITLE'|translate}}
                </h3>
            </div>
            <div class="app-modal-body">
                <form novalidate name="changepwd" valdr-type="changepwd" role="form">
                    <div class="data-group">
                        <p class="p-label">
                            {{'USER_CHANGEPASSWORD_OLDPASSWORD' | translate}}
                            <i class="fa fa-asterisk"></i>
                        </p>
                        <div valdr-form-group
                             class="valdr-form-item">
                            <input type="password" 
                                   class="form-control" 
                                   name="oldPassword" 
                                   ng-model="data.oldPassword" />
                        </div>
                    </div>

                    <div class="data-group">
                        <p class="p-label">
                            {{'USER_CHANGEPASSWORD_NEWPASSWORD' | translate}}
                            <i class="fa fa-asterisk"></i>
                        </p>
                        <div valdr-form-group
                             class="valdr-form-item">
                            <input type="password" class="form-control" name="newPassword" ng-model="data.newPassword" />
                        </div>
                    </div>

                    <div class="data-group m-b-0">
                        <p class="p-label">
                            {{'USER_CHANGEPASSWORD_CONFIRMEDPASSWORD' | translate}}
                            <i class="fa fa-asterisk"></i>
                        </p>
                        <div valdr-form-group
                             class="valdr-form-item">
                            <input type="password" class="form-control" name="confirmPassword" ng-model="data.confirmPassword" />
                        </div>
                    </div>

                    <div class="height-fixed-22">
                        <span ng-show="equalOrignalPwd" class="valdr-message ng-invalid custom-error">
                            {{'VALID_NEWPWD_CONSISTANT_OLDPWD'|translate}}
                        </span>
                    </div>

                    <div class="height-fixed-22">
                        <span ng-show="notMatchOldNewPwd" class="valdr-message ng-invalid custom-error">
                            {{'VALID_USER_NEW_COMFIRM_NOTMATCH'|translate}}
                        </span>
                    </div>

                    <div class="height-fixed-22">
                        <span ng-show="changePwdFailed" class="valdr-message ng-invalid custom-error">
                            {{'VALID_USER_OLDPASSWORD_INCORRECT'|translate}}
                        </span>
                    </div>
                </form>
            </div>
            <div class="app-modal-footer">
                <div class="data-btns">
                    <button class="btn cancel" ng-click="cancel()">
                        {{'TEXT_CANCEL'|translate}}
                    </button>

                    <button class="btn ok"
                            ng-click="ok(changepwd)"
                            ng-disabled="changepwd.$invalid || notMatchOldNewPwd || equalOrignalPwd ">
                        {{'TEXT_OK'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
