﻿<!--top bar-->
<div class="container-fluid">
    <div ng-include="'/assets/src/pages/topbar/topbar.html'" xg-include-replace></div>
</div>

<div class="main-content zindex-10 container-fluid"
     xg-scroll-bar
     ng-cloak
     id="mainContent"
     ng-class="{'overflow-y-hide': overflowYHide}">
    <ag-scroll-handler target-id="mainContent"
                       on-bottom-topic="scroll.hit.bottom"
                       on-top-topic="scroll.hit.top"
                       ag-scroll-handler="preventPageScroll($event, $delta, $deltaX, $deltaY)">
    </ag-scroll-handler>

    <!---page ui view-->
    <div ui-view></div>

    <!--goto top-->
    <div class="to-top" ng-show="needScroll"
         xg-scroll-to
         scroll-ele="mainContent"
         fixed-top="0"
         scroll-duration="100">
    </div>

    <!--right bar-->
    <div ng-include="'/assets/src/pages/rightbar/rightbar.html'" xg-include-replace></div>
</div>

<!--footer-->
<div class="container-fluid">
    <div class="page" ng-include="'/assets/src/pages/footer/footer.html'" xg-include-replace></div>
</div>




